<p class="tituloGris textoCentrado" componente="titulo">Arquitectura del alojamiento</p>
<div componente="espacioConfiguracionDelALojamiento" class="marcoElasticoRelativo">
    <div componente="espacioBotonesGlobales" class="espacioBloqueos">
    </div>
    <div componente="configuracionDelAlojamiento" class="espacioBloqueos">
    </div>
</div>