<arranque administracion="bloqueosTemporales.arranque"></arranque>
<p class="titulo" componente="titulo">Bloqueos temporales</p>
<div componente="espacioBloqueosTemporales" class="marcoElasticoRelativo">
    <div componente="espacioBotonesGlobales" class="espacioBloqueos">

    </div>
    <div componente="bloqueosTemporales" class="espacioBloqueos">

    </div>
</div>