<arranque administracion="clientes.fusion.portada.arranque"></arranque>
<p class="tituloGris">Fusión de clientes</p>
<div componente="espacioComportamiento" class="marcoElasticoRelativo">
    <div componente="espacioClientes" class="espacioClientes noSelecionable">
        <div contenedor="fusion" class="flexVertical gap6">
            <p class="padding12">La fusión se hace desde el cliente de Origen al cliente de Destino. El cliente Origen
                será fusionado con el cliente Destino. El cliente Origen será eliminado de todas las reservas y será
                sustituido por el cliente Destino. Una vez fusionada, la operación es irreversible.</p>
            <div contenedor="origen" class="flexVertical gap6 borderGrey1 padding6 borderRadius16">
                <p class="padding6">Cliente de ORIGEN</p>
                <input type="text" placeholder="Buscar cliente ORIGEN" campo="origen" class="campoTexto">
            </div>
            <div contenedor="destino" class="flexVertical gap6 borderRadius16 borderGrey1 padding6">
                <p class="padding6">Cliente de ORIGEN</p>
                <input type="text" placeholder="Buscar cliente DESTINO" campo="destino" class="campoTexto">

            </div>
            <div class="botonV1 comportameintoBoton" boton="fusion">Iniciar fusión</div>
        </div>
    </div>
</div>