<arranque publico="miCasa.cuenta.cambiarClave.portada.arranque"></arranque>
<p class="titulo">Mi Casa Vitini</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div class="marcoCuenta" componente="marcoCuenta">
            <div class="miCuenta_cambiarClave_contenedor">
                <p class="miCuenta_cambiarClave_testo negrita">Cambiar clave de la cuenta</p>
                <p class="miCuenta_cambiarClave_testo">Desde aquí puedes cambiar la clave de tu cuenta de usuario. Te recomendamos que utilices un generador de claves y que guardes y gestiones la clave desde un gestor de claves para mantener una mínima seguridad de tu cuenta.</p>
                <input type="text" class="miCuenta_cambiarClave_campoClave"
                    placeholder="Escriba la contraseña de la cuenta" campo="claveActual">
                <input type="text" class="miCuenta_cambiarClave_campoClave" placeholder="Escribe la nueva contraseña"
                campo="claveNueva">
                <input type="text" class="miCuenta_cambiarClave_campoClave"
                    placeholder="Vuelve a escribir la nueva contraseña" campo="claveConfirmada">
                <div class="miCuenta_cambioClave_contenedorBotones">
                    <div class="miCuenta_cambiarClave_botonV1" componente="botonCambiarClave">Cambiar contraseña</div>
                </div>
            </div>
        </div>
    </div>
</div>