<div class="marcoElasticoRelativo" contenedor="menu">
    <p class="padding10 colorGrisV1 negrita textoCentrado">inventario</p>
    <div class="contenedor sobreControlAnimacionGlobal">
        <a href="/administracion/inventario/situacion" Componente="botonAdministracion"
            vista="/administracion/inventario/situacion" class="textoBoton">Situación del inventario</a>
        <a href="/administracion/inventario/ver_todo_el_inventario" Componente="botonAdministracion"
            vista="/administracion/inventario/ver_todo_el_inventario" class="textoBoton">Ver el todo inventario</a>
        <a href="/administracion/inventario/agregar_al_inventario" Componente="botonAdministracion"
            vista="/administracion/inventario/agregar_al_inventario" class="textoBoton">Agregar al inventario</a>
    </div>
</div>