<!-- <p class="titulo tituloBlanco">Contacto</p> -->
<div class="plaza_contacto_gridContacto">
    <div class="plaza_contacto_cuadrado">
        <div class="marcoParaGoogleMaps">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3910.1149306281377!2d-86.12578416153767!3d11.471629428276767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f742fa1828b5613%3A0xf2a68cacdeabc68f!2sCasa%20Vitini%20%7C%20Apartments!5e0!3m2!1ses!2ses!4v1705767697284!5m2!1ses!2ses"
                style="border:0;" allowfullscreen="" loading="lazy" class="frameGoogleMaps" frameborder="0" defer
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>


    </div>
    <div class="plaza_contacto_cuadrado">
        <div class="espaciado10px">
            <!-- <p class="plaza_contacto_tituloInfo"> Información de contacto </p> -->
            <div class="plaza_contacto_contenedorInformacion">

                <div class="socialItem">
                    <img src="/activos/iconos/iconphone.svg" class="logowhatsap" alt="">
                    <a class="plaza_contacto_datoContenedor" href="tel:+50588024199">(505) 8802-4199</a>
                </div>

            </div>
            <div class="plaza_contacto_contenedorInformacion">
                <div class="socialItem">
                    <img src="/activos/iconos/whatsapp-icono.svg" class="logowhatsap" alt="">
                    <a class="plaza_contacto_datoContenedor" href="https://wa.me/50588024199">(505) 8802-4199</a>
                </div>

            </div>
            <div class="plaza_contacto_contenedorInformacion">
                <!-- <p class="plaza_contacto_tituloInfo">Siguenos en:</p> -->

                <div class="socialItem">
                    <img src="/activos/iconos/instagram.svg" class="logoinstagram" alt="">
                    <a class="plaza_contacto_datoContenedor"
                        href="https://www.instagram.com/casa_vitini">@casa_vitini</a>
                </div>

            </div>
            <div class="plaza_contacto_contenedorInformacion">

                <div class="socialItem">
                    <img src="/activos/iconos/facebook.svg" class="logofacebook" alt="">
                    <a class="plaza_contacto_datoContenedor"
                        href="https://www.facebook.com/people/Casa-Vitini-Apartments/100094182440488">@casa-vitini-apartments</a>
                </div>

            </div>
            <div class="plaza_contacto_contenedorInformacion">

                <div class="socialItem">
                    <img src="/activos/iconos/mail.svg" class="logofacebook" alt="">
                    <a class="plaza_contacto_datoContenedor"
                        href="mailto:casavitini@casavitini.com">casavitini@casavitini.com</a>
                </div>


            </div>
            <!-- <div class="plaza_contacto_contenedorInformacion">
                <p class="plaza_contacto_tituloContenedor">Correo electrónico</p>
                <a class="plaza_contacto_datoContenedor"
                    href="mailto:casavitini@casavitini.com">casavitini@casavitini.com</a>
            </div> -->
            <div class="plaza_contacto_contenedorInformacion">
                <p class="plaza_contacto_tituloContenedor">Dirección</p>
                <p class="plaza_contacto_datoContenedor">De la entrada a Guasacate 1km al sur, a mano izquierda, Hotel
                    Casa Vitini</p>
                <p class="plaza_contacto_datoContenedor">Tola (Código postal 48500)</p>
                <p class="plaza_contacto_datoContenedor">Nicaragua</p>
            </div>
            <div class="plaza_contacto_contenedorInformacion">

                <div class="logosContainer">
                    <p class="plaza_contacto_tituloContenedor">Haz clic en el logotipo de tú de tu aplicación favorita
                        para ir directo a nuestra ubicación exacta:</p>
                    <div class="logos">

                        <a
                            href="https://ul.waze.com/ul?place=ChIJE1aLgqEvdI8Rj8ar3qyMpvI&ll=11.47230260%2C-86.12410800&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location">
                            <img src="/activos/iconos/waze.svg" class="logowaze" alt="">
                        </a>


                        <a href="https://maps.app.goo.gl/jEdyMxfkXCT7Lcmn7">
                            <img src="/activos/iconos/googlemaps.svg" class="logogooglemaps" alt="">
                        </a>


                    </div>


                </div>





            </div>
        </div>
    </div>
</div>

<reserva-ui com="reserva-ui"></reserva-ui>