@media (max-width: 1300px) {


    [zonaCSS="/micasa/reservas"] [gridUID="miCasas_reservasDelCliente"] {
        grid-template-columns: auto auto auto !important;
    }

    [zonaCSS="/micasa/reservas"] [nombreColumna="estadoPagoIDV"],
    [zonaCSS="/micasa/reservas"] [celdaIDV="estadoPagoIDV"],
    [zonaCSS="/micasa/reservas"] [nombreColumna="fechaCreacion"],
    [zonaCSS="/micasa/reservas"] [celdaIDV="fechaCreacion"],
    [zonaCSS="/micasa/reservas"] [nombreColumna="estadoReservaIDV"],
    [zonaCSS="/micasa/reservas"] [celdaIDV="estadoReservaIDV"] {
        display: none
    }

    [zonaCSS="/micasa/reservas"] [contenedor="filtrosOrden"] {
        grid-template-rows: 1fr;
        padding-bottom: 6px;
    }

}


@media (max-width: 720px) {


    [zonaCSS="/micasa/reservas"] [areaGrid="miCasas_reservasDelCliente"] [gridUID="miCasas_reservasDelCliente"] {
        display: none;
    }

    [zonaCSS="/micasa/reservas"] [areaGrid="miCasas_reservasDelCliente"] [contenedor="tarjetas"] {
        display: flex;
        flex-direction: column;
    }
}


[zonaCSS="/micasa/reservas"] [ui="reservaUI"] .administracion_reservas_detallesReserva_contenedorMenuExpandido {
    display: grid;
    grid-template-columns: auto auto auto auto 50px;
    gap: 6px;
}

@media screen and (max-width: 968px) {
    [zonaCSS="/micasa/reservas"] [ui="reservaUI"] .administracion_reservas_detallesReserva_contenedorMenuExpandido {
        display: none;
    }
}