<arranque js="Alojamiento"></arranque>
<p class="tituloGris">Alojamiento</p>
<p id="InfoProceso" class="ReservaInformacion">Selecciona el alojamiento</p>
<div class="FilaInformacion" Bloque="Vista">
    <p class="Texto">Habitacion simple</p>
    <p class="BotonAnadir" Habitacion="Simple">+</p>
</div>
<div class="FilaInformacion" Bloque="Vista">
    <p class="Texto">Habitacion Doble</p>
    <p class="BotonAnadir" Habitacion="Doble">+</p>
</div>