<arranque administracion="impuestos.arranque"></arranque>
<p class="tituloGris">Impuestos</p>
<div componente="espacioImpuestos" class="marcoElasticoRelativo">
    <div componente="impuestos" class="espacioClientes">
    </div>
</div>