<arranque js="Reservas"></arranque>
<p class="tituloGris">Reservas</p>
<div class="BloquePasosReserva">
    <p id="DiaEntrada" class="ZonaReserva" Vista="/Reservas/Entrada">
        <img src="/Componentes/Imagenes/no_seleccionado.svg" class="IconoCheck">
        Seleccionar dia de entrada
    </p>
    <p id="DiaSalida" class="ZonaReserva" Vista="/Reservas/Salida">
        <img src="/Componentes/Imagenes/no_seleccionado.svg" class="IconoCheck">
        Seleccionar dia de salida
    </p>
    <p id="Alojamiento" class="ZonaReserva" Vista="/Reservas/Alojamiento">
        <img src="/Componentes/Imagenes/no_seleccionado.svg" class="IconoCheck">
        Seleccionar alojamiento
    </p>
    <!--   <p  class="ZonaReserva" Etapa="Servicios">Anadir opcionalmente servicios</p>-->
    <p id="Resumen" class="ZonaReserva" Vista="/Reservas/Confirmacion">
        <img src="/Componentes/Imagenes/resumen.svg" class="IconoCheck">
        Confirmar reserva
    </p>
</div>