<div class="marcoElasticoRelativo">
    
    <p class="flexVertical padding16 colorGrisV1 textoCentrado negrita">Crear nueva categoria</p>
    <input type="text" campo="categoriaUI" placeholder="Nombre de la nueva categoria">

    <div boton="crear" class="botonV1BlancoIzquierda">Crear nueva categoria</div>

</div>