<arranque publico="politicas.privacidad.zonas.arranque"></arranque>
<p class="titulo">Cookies</p>

<p class="textoBloque" style="padding-top: 20px;">Esta Política de Cookies es parte integrante del Aviso Legal y la
    Política de Privacidad de la página web [www.casavitini.com] (en adelante, el “Sitio Web”). El acceso y la
    navegación
    en el Sitio Web, o el uso de los servicios del mismo, implican la aceptación de los términos y condiciones recogido
    en el Aviso Legal y en la Política de Privacidad.
    Con el fin de facilitar la navegación por el Sitio Web, Casa Vitini. (en adelante, “Casa Vitini”), como
    titular del mismo, con NIF número A-280227944 y domicilio social en Calle Santa Engracia 120, 7ª, 28003, Madrid, le
    comunica que utiliza cookies u otros dispositivos de almacenamiento y recuperación de datos de funcionalidad similar
    (en adelante, las “Cookies”).
    En este sentido y con el objetivo de garantizar al usuario toda la información necesaria para su correcta
    navegación, ponemos a disposición del usuario el siguiente texto informativo sobre qué son las cookies, qué
    tipología de cookies existen en nuestra Página Web y cómo es posible configurarlas o deshabilitarlas.
</p>


<p class="tituloBloque">1. ¿QUÉ ES UNA COOKIE?</p>
<p class="textoBloque">Casa Vitini<br>
    Las Cookies son archivos que contienen pequeñas cantidades de información que se descargan en el dispositivo del
    usuario cuando visita una página web. Su finalidad principal es reconocer al usuario cada vez que accede al Sitio
    Web permitiendo, además, mejorar la calidad y ofrecer un mejor uso del Sitio Web.
    Casa Vitini utiliza cookies propias y cookies de terceros, pertenecientes a terceras empresas.
    Las Cookies son esenciales para el funcionamiento de Internet; no pueden dañar el equipo/dispositivo del usuario y,
    si se encuentran activadas en la configuración de su navegador, ayudan a identificar y resolver posibles errores de
    funcionamiento del Sitio Web.
</p>


<p class="tituloBloque">2. USO DE COOKIES POR PARTE DEL PRESTADOR</p>
<p class="textoBloque">Mediante el acceso al Sitio Web, acepta de manera expresa la utilización de este tipo de Cookies
    en sus dispositivos. Si desactiva las Cookies, puede que su navegación por el Sitio Web no sea óptima y algunas de
    las utilidades de que dispone el Sitio Web no funcionen correctamente.
    Concretamente, el prestador está utilizando las Cookies para las finalidades que a continuación se exponen. Si en un
    futuro el prestador utilizase otras con el propósito de otorgar más y mejores servicios, se informará al usuario de
    ello.
</p>


<p class="tituloBloque">3. COOKIES OBLIGATORIAS</p>
<p class="textoBloque">Estas cookies son esenciales para permitirle moverse por el sitio web y utilizar sus funciones.
    Sin estas cookies no se podrán proporcionar algunos de los servicios que ha solicitado, como acceder a áreas
    restringidas del sitio web, utilizar cestas de compra o realizar pagos electrónicos.
    A su vez incluyen cookies que recopilan información sobre el modo en que los visitantes utilizan el sitio web, por
    ejemplo, qué páginas visitan con más frecuencia, si reciben mensajes de error de páginas web, las secciones del
    sitio web a las que acceden o los botones del sitio web sobre los que hacen click. La información obtenida por estas
    cookies no permite identificar a los visitantes. Toda la información obtenida es agregada y, por lo tanto, anónima.
    La función de estas cookies es obtener estadísticas e informes que permiten mejorar el funcionamiento del sitio web.
</p>


<p class="tituloBloque">5. Cookies de Funcionalidad</p>
<p class="textoBloque">Estas cookies permiten al sitio web proporcionar un servicio personalizado. Por ejemplo, gracias
    a estas cookies la web puede proporcionarle servicios de comparación de precios, de recuperación de carrito de
    compra así como también interactuar con agentes para formular preguntas a través de un chat. La información obtenida
    a través de estas cookies puede ser anónima para impedir el rastreo de la navegación del visitante. Las cookies de
    funcionalidad se enumeran a continuación:
</p>

<p class="tituloBloque">7. CÓMO RECHAZAR O BLOQUEAR COOKIES</p>
<p class="textoBloque">Puede bloquear las Cookies a través de las herramientas de configuración del navegador, o bien,
    puede configurar su navegador para que le avise cuando un servidor quiera guardar una Cookie:
    a) Si utiliza Microsoft Internet Explorer, encontrará la opción en el menú Herramientas > Opciones de Internet >
    Privacidad > Configuración. Para saber más http://windows.microsoft.com/es-es/windows-vista/block-or-allow-Cookies y
    http://windows.microsoft.com/es-es/windows7/how-to-manage-Cookies-in-internet-explorer-9.
    b) Si utiliza Firefox, encontrará la opción en el menú Herramientas > Opciones > Privacidad > Cookies. Para saber
    más http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-Cookies-que-los-sitios-we.
    c) Si utiliza Chrome, en la sección de Opciones > Opciones avanzadas > Privacidad. Para saber más
    https://support.google.com/accounts/answer/61416?hl=es
    d) Si utiliza Opera, en la opción de Seguridad y Privacidad, podrá configurar el navegador. Para saber más
    http://help.opera.com/Windows/11.50/es-ES/cookies.html
    e) Si utiliza Safari encontrará la opción en el menú Preferencias/Privacidad. Más información en:
    http://support.apple.com/kb/HT1677?viewlocale=es_ES

</p>

<p class="tituloBloque">8. CÓMO CAMBIAR LA CONFIGURACIÓN DE LAS COOKIES</p>
<a class="textoBloque" componente="boton" vista="/politicas/privacidad" href="/politicas/privacidad">Puede cambiar la
    configuración de cookies clicando aquí</a>