<arranque publico="miCasa.cuenta.modificarIDX.arranque"></arranque>
<p class="titulo">Mi Casa Vitini</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div class="marcoCuenta" componente="marcoCuenta">
            <div class="miCuenta_cambiarClave_contenedor">
                <p class="miCuenta_cambiarClave_testo negrita">Modificar VitiniID</p>
                <p class="miCuenta_cambiarClave_testo">Desde aquí puedes cambiar tu VitiniID. Si cambias tu nombre de usuario el cambio sera inmediato. No necestias reinicar la session el cambios es intantaneo. Si cambias tu VitiniID por otro el anterior estara disponible para que otros usuarios puedan obtenerlo.</p>

                <input type="text" class="miCuenta_cambiarClave_campoClave"
                    placeholder="Escribe tu nuevo VitiniID" campo="nuevoIDX">


                <div class="miCuenta_cambioClave_contenedorBotones">
                    <div class="miCuenta_cambiarClave_botonV1" componente="botonCambiarIDX">Modidificar VitiniID</div>
                </div>
         

            </div>
        </div>
    </div>
</div>