<div class="fotosIniciales">
    <div class="contenedorDetalles">
        <img class="tourrural3" src="/activos/imagenes/servicios/tourural3.jpg">

        <p class="opcion2">
            Detalles del recorrido.
        </p>

        <p class="opcion">
            Duración: Aproximadamente 3 horas.
            <br>
            <br>
            <span style="font-weight: bold;">Tamaño del grupo y precios:</span>
            <br>
            Damos la bienvenida a grupos que van desde 4 a 35 personas. Para grupos más pequeños (menos de 4
            participantes), se requiere un pago mínimo de <span style="font-weight: bold;">$120</span>, que cubre el
            equivalente a un tarifa para 4 personas.
            <br>
            <br>
            Cada persona adicional tiene un coste de 30$
            <br>
            120 es el mínimo que es el equivalente a 4 participantes.
            <br>
            <br>
            Mejora opcional: Un cargo de <span style="font-weight: bold;">10$ extra</span> por persona para realizar el tour
            en caballo .
            Avisar con antelación.
            Conozca a sus guías.
            <br>
            <br>
            El recorrido está dirigido por dos guías bilingües pertenecientes a la comunidad:
            Harold Acevedo y Anyi Gazo hablan español e inglés con fluidez.
            Crecieron en esta comunidad y aportan conocimientos invaluables y una conexión personal especial con los
            lugareños haciendo que su experiencia sea aún más auténtica y atractiva.
        </p>


    </div>


    <div class="texto contenedor1">
        <h1 class="titulo">Tour cultural El Remate</h1>
        <h2 class="subtitle"> Explore el corazón de la vida rural en la comunidad El Remate</h2>

        <p class="parrafo">
            El Tour Cultural El Remate ofrece un viaje único a la tradición, el dia a dia,
            y la belleza natural de la comunidad de El Remate, ubicada dentro del área de Salinas, comenzando en Barrio
            Nuevo, justo frente a la estación de autobuses local en la vía a Ochomogo.
            <br>
            <br>
            El Remate es un pueblo tradicional nicaragüense donde la historia, el arte, la comida y la naturaleza se
            mezclan para ofercerte una eperiencia diferente, autentica e enriquecedora. Conocerás lo cotidiano, la vida
            de los lugareños y participarás en actividades divertidas, interactivas y educativas que incluyen:
            <br>
            <br>
        </p>

        <p class="opcion">
            &emsp; ● Clase de cerámica: crea y llévate a casa una pieza de arte local con una lección de cerámica de la
            mano de
            nuestros expertos artesanos.
        </p>



        <p class="opcion">
            &emsp; ● Paseo en carreta de bueyes: experimente un modo de transporte tradicional mientras recorre el
            pueblo en una
            auténtica carreta de bueyes. Visita a la fábrica de ladrillos: conozca el antiguo proceso de fabricación de
            ladrillos y compruébelo usted mismo el valor de esta profesión para la comunidad local.
        </p>


        <p class="opcion">
            &emsp; ● Ordeñado de vacas en una granja: disfrute de una visita a una granja local, donde participará en el
            proceso de
            ordeño y podrás hacerte una idea de la vida rural en la granja tradicional nicaragüense.
        </p>


        <p class="opcion">
            &emsp; ● Elaboración de tortillas de maíz: Aprenda a hacer tortillas de maíz desde cero, una muy preciada y
            popular
            tradición nicaragüense. Luego, reúnete con otros visitantes para saborear tus tortillas frescas con queso
            casero
            y una fresca bebida natural.
        </p>


        <p class="opcion">
            &emsp; ● Clase de cerámica: crea y llévate a casa una pieza de arte local con una lección de cerámica de la
            mano de
            nuestros expertos artesanos.
        </p>
        <img class="tourrural4" src="/activos/imagenes/servicios/tourural5.jpg" alt="">





    </div>

    <div >

        <div class="movimiento">
            <img class="tourrural5" src="/activos/imagenes/servicios/tourural4.jpg">

            <h3 class="opcion1">
                ¿Qué hace que este recorrido sea especial?
            </h3>


            <p class="opcion4">
                El encanto por el ambiente tranquilo y la calidez genuina de la comunidad. Rodeado de pintorescas
                montañas y
                un paisaje verde y virgen, Los huéspedes se van con hermosos recuerdos, nuevas habilidades y
                conocimientos que puedan aplicar en un futuro. Una experiencia cultural y educativa ideal para compartir
                en familia y amigos, para todas las edades.
                Información del contacto</p>
        </div>


    </div>

</div>


</div>