<arranque administracion="arquitecturaDelAlojamiento.entidades.editarEntidad.arranque"></arranque>
<p class="titulo" componente="titulo">Editar entidad</p>
<div componente="espacioConfiguracionDelALojamiento" class="marcoElasticoRelativo">
    <div componente="espacioBotonesGlobales" class="espacioBloqueos">
    </div>
    <div componente="configuracionDelAlojamiento" class="espacioBloqueos">
    </div>
</div>