<arranque administracion="arquitecturaDelAlojamiento.entidades.crearEntidad.arranque"></arranque>
<p class="titulo" componente="titulo">Crear entidad de alojamiento</p>
<div componente="espacioConfiguracionDelALojamiento" class="marcoElasticoRelativo">
    <div componente="espacioBotonesGlobales" class="espacioBloqueos">
    </div>
    <div componente="configuracionDelAlojamiento" class="espacioBloqueos">
    </div>
</div>