<arranque js="Resumen"></arranque>


<p class="Titulo">Reserva confirmada</p>
<p id="InfoProceso" class="ReservaInformacion">(Esto es una simulación)</p>

<div class="Bloque_Resumen_Reserva">

    <div class="Bloque_Resumen_concepto">Detalles de la reserva:</div>

    <div class="Bloque_Resumen_concepto" Tipo="Dia_Entrada">Dia Entrada</div>
    <div class="Bloque_Resumen_concepto" Tipo="Dia_Salida">Dia Salida</div>

    <div class="Bloque_Resumen_concepto" Tipo="Alojamiento_Simple"></div>
    <div class="Bloque_Resumen_concepto" Tipo="Alojamiento_Doble"></div>
</div>