<div class="containerV1">
    <div class="containerV2">
        <div class="fotoShared foto2">
            <div class="contenedorTexto">
                <div class="c1">
                    <h1 class="titulo">Tour a caballo</h1>
                    <div class="texto duracion">
                        <p>Precio: $30/persona</p>
                        <p>Duración: 1h 30min / 2 horas</p>
                    </div>
                </div>
                <div class="containerBlur">

                    <p class="textoParrafoTitulo">¡Vive la magia de Guasacate a caballo!</p>


                    <p class="textoParrafoContenido"> Recorre las maravillosas playas vírgenes de Guasacate, Popoyo o Playa Sardina.
                        <br>Para todas las edades. Tour guiado por un experto local, quien te asistirá en todo momento,
                        asegurándose de que vivas una experiencia inolvidable.
                    </p>

                   
                </div>


            </div>

        </div>
        <div class="fotoShared foto3"></div>
    </div>

    <div class="fotoShared foto6"></div>



</div>