<arranque administracion="arquitectura_del_alojamiento.entidades.arranque"></arranque>
<p class="titulo" componente="titulo">Entidades de alojameinto</p>
<div componente="espacioConfiguracionDelALojamiento" class="marcoElasticoRelativo">
    <div componente="espacioBotonesGlobales" class="espacioBloqueos">
    </div>
    <div componente="configuracionDelAlojamiento" class="espacioBloqueos">
    </div>
</div>