 .reservaDetalles_transacciones_enlacesDePago_infoSinEnlaces {
    display: flex;
    padding: 10px;
    justify-content: center;
}

 .selectorZonas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

 .menuGlobalSimuiacion {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 6px;
}

 .menuGlobalSimuiacion_responsivo {
    display: none;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    padding: 8px;
    justify-items: stretch;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.esferaSeleccionable {
    margin: 5px;
    height: 24px;
    width: 24px;
    border: 2px solid #373737;
    border-radius: 100%;
}

.contenedorCantidad {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 6px;
    align-items: center;
    height: 100%;
    display: none;
}

.campoCantidad {
    width: 80px;
    border-radius: 6px;
    height: 100%;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;


}

.filaOpcionServicio {
    display: grid;
    grid-template-columns: min-content auto min-content !important;
    align-items: center;
    gap: 4px;
    padding: 4px;
}

 .menuCategoria {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: default;
    border-radius: 10px;
    transition: all 250ms linear;
    padding: 8px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

 .crearOfertaApartamentoUI {
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    padding: 6px;
    border-radius: 6px;
}

 .crearOfertaApartamentoUI:hover {
    color: white;
    background: black;
}

 .crearOfertaApartamentoTItulo {
    font-weight: bold;
    margin: 0px;
    padding: 2px;
}

 .crearOfertaApartamentoEstado {
    margin: 0px;
    padding: 2px;
}

 .detallesReserva_transacciones_botonV1 {
    display: flex;
    padding: 10px;
    border-radius: 11px;
    text-decoration: none;
    cursor: default;
    background: rgba(255, 255, 255, 0.6);
    user-select: none;
    -webkit-user-select: none;
}

 .contenedorServicios {
    display: flex;
    gap: 6px;
    flex-direction: column;
}

 .listaServicios {
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: stretch;
}

 .componentes_ui_desloseTotales_contenedor {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

 .titulo {
    position: sticky;
    top: 20px;
    z-index: 2;
    transition: all 500ms linear !important;
}

 .titulo_sticky {
    top: 20px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    z-index: 2;
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.5);
    background: yellow;
    padding-right: 20px;
    border-radius: 42px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
}

 [servicioUID] .contenedorGlobal {
    display: grid;
    grid-template-columns: auto auto 1fr !important;
    align-items: center;

}



@media (max-width: 720px) {

    [zonaCSS="administracion/simulador_de_precios"] [areaGrid="gridSimuladorDePrecios"] [gridUID="gridSimuladorDePrecios"] {
        display: none;
    }

    [zonaCSS="administracion/simulador_de_precios"] [areaGrid="gridSimuladorDePrecios"] [contenedor="tarjetas"] {
        display: flex;
        flex-direction: column;
    }

    [zonaCSS="administracion/simulador_de_precios"] [areaGrid="gridSimuladorDePrecios"] [contenedor="filtrosOrden"] {
        grid-template-rows: 1fr;
        padding-bottom: 6px;
    }


}


@media screen and (max-width: 968px) {

     .menuGlobalSimuiacion {
        display: none;
    }

     .menuGlobalSimuiacion_responsivo {
        display: flex;

    }
}