<arranque administracion="simuladorDePrecios.nuevaSimulacion.arranque"></arranque>
<p class="titulo">Nueva simulacíon</p>
<div componente="espacio" class="marcoElasticoRelativo">
    <div componente="precios" class="espacioClientes">
    </div>
</div>