<arranque administracion="configuracion.telefonoPublicoWhatsApp.arranque"></arranque>
<p class="titulo">Telefono público WhatsApp</p>
<div class="marcoElasticoRelativo" componente="marcoElastico">
</div>
</div>