<arranque administracion="clientes.nuevo.arranque"></arranque>
<p class="titulo">Nuevo cliente</p>
<div componente="espacioBuscadorReservas" class="marcoElasticoRelativo">
    <div componente="nuevoClienteEspacio" class="nuevoClienteEspacio">
        <div class="bloqueHoriontalContenedor gridDivisorHorizontalDOS">
            <div class="bloqueVerticalInterno">
                <div class="contenedorTituloYEntradaDAtos">
                    <p class="nuevoClienteTituloDato">Nombre</p>
                    <input class="nuevoClienteCampo" campo="nombre" type="text">
                </div>
                <div class="contenedorTituloYEntradaDAtos">
                    <p class="nuevoClienteTituloDato">Primer Apellido</p>
                    <input class="nuevoClienteCampo" campo="primerApellido" type="text">
                </div>
                <div class="contenedorTituloYEntradaDAtos">
                    <p class="nuevoClienteTituloDato">Segundo apellido</p>
                    <input class="nuevoClienteCampo" campo="segundoApellido" type="text">
                </div>
            </div>
            <div class="bloqueVerticalInterno">
                <div class="contenedorTituloYEntradaDAtos">
                    <p class="nuevoClienteTituloDato">Pasaporte</p>
                    <input class="nuevoClienteCampo" campo="pasaporte" type="text">
                </div>
                <div class="contenedorTituloYEntradaDAtos">
                    <p class="nuevoClienteTituloDato">Telefono</p>
                    <input class="nuevoClienteCampo" campo="telefono" type="text">
                </div>
                <div class="contenedorTituloYEntradaDAtos">
                    <p class="nuevoClienteTituloDato">Correo electronico</p>
                    <input class="nuevoClienteCampo" campo="correo" type="text">
                </div>
            </div>
        </div>
        <div class="bloqueHoriontalContenedor ">
            <div class="contenedorTituloYEntradaDAtos">
                <p class="nuevoClienteTituloDato">Notas</p>
                <textarea class="nuevoClienteCampoAreaTexto" name="" id="" cols="30" rows="10" campo="notas"></textarea>
            </div>
 
        </div>
        <div class="nuevoClienteBoton" componente="botonCrearCliente">Crear cliente</div>
    </div>
</div>