@media (max-width: 1300px) {

    [zonaCSS="administracion/usuarios/buscador"] [gridUID="gridUsuarios"] {
        grid-template-columns: auto auto auto auto auto !important;
    }

    [zonaCSS="administracion/usuarios/buscador"] [gridUID="gridUsuarios"] [nombreColumna="pasaporte"],
    [zonaCSS="administracion/usuarios/buscador"] [gridUID="gridUsuarios"] [celdaIDV="pasaporte"],
    [zonaCSS="administracion/usuarios/buscador"] [gridUID="gridUsuarios"] [nombreColumna="telefono"],
    [zonaCSS="administracion/usuarios/buscador"] [gridUID="gridUsuarios"] [celdaIDV="telefono"],
    [zonaCSS="administracion/usuarios/buscador"] [gridUID="gridUsuarios"] [nombreColumna="mail"],
    [zonaCSS="administracion/usuarios/buscador"] [gridUID="gridUsuarios"] [celdaIDV="mail"] {
        display: none
    }

    [zonaCSS="administracion/usuarios/buscador"] [areaGrid="gridUsuarios"] [contenedor="filtrosOrden"] {
        grid-template-rows: 1fr;
        padding-bottom: 6px;
    }


}

@media (max-width: 720px) {

    [zonaCSS="administracion/usuarios/buscador"] [areaGrid="gridUsuarios"] [gridUID="gridUsuarios"] {
        display: none;
    }

    [zonaCSS="administracion/usuarios/buscador"] [areaGrid="gridUsuarios"] [contenedor="tarjetas"] {
        display: flex;
        flex-direction: column;
    }
}

[zonaCSS="administracion/usuarios/buscador"] .usuarios_botonV1 {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    cursor: default;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

[zonaCSS="administracion/usuarios/buscador"] .usuarios_botonV1:hover {
    background: white;
}


[zonaCSS="administracion/usuarios/buscador"] .usuarios_contenedorBotones {
    display: flex;
    justify-content: flex-end;
}



[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesReservaCancelarReservaBloqueBloqueoApartamentos {
    border-radius: 12px;
    gap: 4px;
    row-gap: 4px;
    column-gap: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesReservaCancelarReservaBloqueBloqueoApartamentos {
    border-radius: 12px;
    gap: 4px;
    row-gap: 4px;
    column-gap: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesReservaCancelarReservaTituloBloquoApartamentos {
    margin: 0px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesReservaCancelarReservaTituloBloquoApartamentos {
    margin: 0px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesReservaCancelarReservabloqueBotones {

    display: flex;
    gap: 4px;
    justify-items: stretch;
    justify-content: center;
    align-content: center;
    border-radius: 12px;
    flex-direction: column;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesReservaCancelarBoton {
    background: #00000036;
    padding: 8px;
    border-radius: 8px;
    border-radius: 8px;
    text-align: center;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .espacioClientes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 6px;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_contenedorGlobal {
    padding: 10px;
    border-radius: 25px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_contenedorUsuarioIDX {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_rolUI {
    text-align: center;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_esferaUsuario {
    background: rgba(255, 255, 255, 0.1);
    background-image: url(/activos/imagenes/iconoUsuario.svg);
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_contenedorDatosGlobales {
    padding: 10px;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_usuarioUI {
    font-size: 40px;
    font-weight: bold;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_opcionInformacion {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 16px;
    text-decoration: none;
    color: black;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    transition: all 250ms linear;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    padding-top: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_contenedorOpciones {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 6px;
    grid-auto-rows: minmax(auto, auto);
    padding: 0px;
    justify-items: stretch;
    justify-content: center;
    align-content: center;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_opcionInformacion:hover {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_contenedorDatosUsuario {
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 20px;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: minmax(auto, auto);
    justify-items: stretch;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_campoDatosUsuario {
    padding: 10px;
    border-radius: 10px;
    font-size: 13;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_contenedorCampoEInfo {
    border-radius: 16px;
    text-decoration: none;
    color: black;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    transition: all 250ms linear;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_contenedorBotones {
    display: flex;
    border-radius: 16px;
    gap: 6px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: none;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_botonV1 {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    padding: 10px;
    display: flex;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .tituloDato {
    padding: 8px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_botonV1:hover {
    background: rgba(255, 255, 255, 0.6);
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_contenedorCampos {
    padding: 6px;
    border-radius: 16px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    gap: 6px;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_infoModificarIDX {
    padding: 6px;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_rol_selector {
    padding: 10px;
    border-radius: 10px;
    font-size: 13;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesReservaTituloCancelarReserva {
    font-size: 20px;
    font-weight: bold;
    margin: 4px;
    text-align: center;
}

[zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesReservaTituloCancelarReserva {
    font-size: 20px;
    font-weight: bold;
    margin: 4px;
    text-align: center;
}

@media (max-width: 720px) {

    [zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_usuarioUI {
        font-weight: bold;
    }

    [zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_contenedorUsuarioIDX {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }

    [zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_esferaUsuario {
        background: rgba(255, 255, 255, 0.1);
        background-image: url(/activos/imagenes/iconoUsuario.svg);
        background-size: cover;
        height: 70px;
        width: 70px;
        border-radius: 100%;
    }

    [zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_contenedorGlobal {
        padding: 10px;
        border-radius: 25px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    [zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_contenedorGlobal {
        padding: 10px;
        border-radius: 25px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    [zonaCSS="administracion/usuarios/detallesDelUsuario"] .detallesUsuario_rolUI {
        text-align: left;
    }

 
}


[zonaCSS="administracion/clientes/buscador"] .buscadorClientesEstadoBusqueda {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

[zonaCSS="administracion/usuarios/buscador"] .buscadorClientesEstadoBusqueda {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}
[zonaCSS="administracion/usuarios/buscador"] .campoBuscadorClientes {
    -webkit-appearance: none;
    appearance: none;
    background: rgb(255 255 255 / 0.3);

    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 0px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}


[zonaCSS="administracion/usuarios/buscador"] .espacioClientes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 6px;
}
