<arranque administracion="arquitectura_del_alojamiento.configuraciones.arranque"></arranque>
<p class="titulo" componente="titulo">Configuraciones</p>
<div componente="espacioConfiguracionDelAlojamiento" class="marcoElasticoRelativo">
  



</div>