<arranque administracion="configuracion.calendariosSincronizados.airbnb.crearCalendario.arranque"></arranque>
<p class="titulo">Crear un calendario sincronizado con Airbnb</p>
<div class="marcoElasticoRelativo" componente="marcoElastico">
    <div class="administracion_configuracion_calendariosSincronizados">
        <div class="espacioFormulario_Airbnb" componente="espacioFormulario_Airbnb">
            aqui va el formualrio            
        </div>
    </div>
</div>
</div>