<arranque administracion="configuracion.calendariosSincronizados.arranque"></arranque>
<p class="titulo" componente="titutoGlobal">Calendarios sincronizados</p>
<div class="marcoElasticoRelativo" componente="marcoElastico">
    <div class="administracion_configuracion_calendariosSincronizados" componente="calendariosSincronizados"></div>
</div>
</div>