body {
    background-color: rgb(255 188 0 / 0.50);
}


 .contenedorTitular {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . .";
}
@media (max-width: 720px) {
    .contenedorTitular {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". "
            ". "
            ". ";
    }
}

@media (max-width: 480px) {
    [zonaCSS="/alojamiento/reserva_confirmada"] .contenedorTitular {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "."
            "."
            "."
            ".";
    }
}

@media (max-width: 720px) {
    [zonaCSS="/alojamiento/reserva_confirmada"] .contenedorTitular_bloque {
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
    }
}

