<arranque administracion="comportamiento_de_precios.crearComportamiento.arranque"></arranque>
<p class="titulo">Crear comportamiento de precios</p>
<div componente="espacioComportamiento" class="marcoElasticoRelativo">

</div>
</div>