<div class="marcoElasticoRelativo" contenedor="menu">
    <div class="flexVertical gap10">
        <details class="flexVertical padding6 borderRadius18">
            <summary class="textoContenedor">Reservas</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/situacion" class="textoBoton">Situación</a>
                <a href="/administracion/reservas/pendientes_de_revision" class="textoBoton">Reservas
                    pendientes de revisión</a>
                <a href="/administracion/calendario" class="textoBoton">Calendario</a>
                <a href="/administracion/reservas/buscador" class="textoBoton">Buscador de
                    reservas</a>
                <a href="/administracion/reservas/nueva" class="textoBoton">Crear una nueva
                    reserva</a>
                <a href="/administracion/enlaces_de_pago" class="textoBoton">Enlaces de pago</a>
            </div>
        </details>
        <details class="flexVertical padding6 borderRadius18">
            <summary class="textoContenedor">Protocolos del alojamiento</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/protocolos/revisar_alojamiento" class="textoBoton">Revisar alojaminento</a>
                <a href="/administracion/protocolos/estado_del_alojamiento" class="textoBoton">Estado del alojamiento
                    (En Construcción)</a>
                <a href="/administracion/protocolos/registro_de_revisiones" class="textoBoton">Registro de
                    revisiones</a>

                <a href="/administracion/protocolos/gestion_de_protocolos" class="textoBoton">Gestión de protocolos</a>

            </div>
        </details>
        <details class="flexVertical padding6 borderRadius18">
            <summary class="textoContenedor">Servicios</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/servicios" class="textoBoton">Gestión de servicios</a>
                <a href="/administracion/servicios/nuevo" class="textoBoton">Crear servicio</a>

            </div>
       </details>
        <details class="flexVertical padding6 borderRadius18">
            <summary class="textoContenedor">Gestión financiera, balance y depositos</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/finanzas/balance" class="textoBoton">Balance</a>
                <a href="/administracion/finanzas/nuevo" class="textoBoton">Nuevo ingreso o gasto</a>
                <a href="/administracion/finanzas/depositos" class="textoBoton">Depositos</a>
                <a href="/administracion/finanzas/depositos" class="textoBoton">Presupuestos</a>
                <a href="/administracion/finanzas/depositos" class="textoBoton">Cagegorias</a>
            </div>
        </details>
        <details class="flexVertical padding6 borderRadius18">
            <summary class="textoContenedor">Clientes y fusión</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/clientes" class="textoBoton">Buscador de clientes</a>
                <a href="/administracion/clientes/nuevo" class="textoBoton">Añadir un nuevo
                    cliente</a>
                <a href="/administracion/clientes/fusion" class="textoBoton">Fusión de clientes</a>
            </div>
        </details>
        <details class="flexVertical padding6 borderRadius18">
            <summary class="textoContenedor">Inventario</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/inventario/situacion" class="textoBoton">Situación del inventario</a>
                <a href="/administracion/inventario/ver_todo_el_inventario" class="textoBoton">Ver todo el
                    inventario</a>
                <a href="/administracion/inventario/registro" class="textoBoton">Registro del inventario</a>
                <a href="/administracion/inventario/agregar_al_inventario" class="textoBoton">Agregar al inventario
                </a>
            </div>
        </details>
        <details class="flexVertical padding6 borderRadius18">
            <summary class="textoContenedor">Precios, ofertas, simulaciones e impuestos</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/precios" class="textoBoton">Gestión de precios</a>
                <a href="/administracion/impuestos" class="textoBoton">Gestión de impuestos</a>
                <a href="/administracion/gestion_de_ofertas" class="textoBoton">Gestión de
                    ofertas</a>
                <a href="/administracion/comportamiento_de_precios" class="textoBoton">Comportamiento de
                    precios</a>
                <a href="/administracion/simulador_de_precios" class="textoBoton">Simulador de
                    precios</a>
            </div>
        </details>
        <details class="flexVertical padding6 borderRadius18">
            <summary class="textoContenedor">Arquitectura de alojamiento, complementos y disponibilidad
            </summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/arquitectura_del_alojamiento" class="textoBoton">Arquitectura
                    del
                    alojamiento</a>
                <a href="/administracion/gestion_de_bloqueos_temporales" class="textoBoton">Gestión
                    de
                    bloqueos temporales</a>
                <a href="/administracion/complementos_de_alojamiento" class="textoBoton">Complementos de
                    alojamiento</a>
            </div>
        </details>
        <details class="flexVertical padding6 borderRadius18">
            <summary class="textoContenedor">Usuarios y administradores</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/usuarios" class="textoBoton">Buscador de usuarios</a>
                <a href="/administracion/usuarios/nuevo" class="textoBoton">Crear un nuevo
                    usuario</a>
            </div>
        </details>
        <details class="flexVertical padding6 borderRadius18">
            <summary class="textoContenedor">Configuración global</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/configuracion/zona_horaria" class="textoBoton">Zona
                    Horaria</a>
                <a href="/administracion/configuracion/horas_de_entrada_y_salida" class="textoBoton">Hora de entrada y
                    salida</a>
                <a href="/administracion/configuracion/calendarios_sincronizados" class="textoBoton">Calendarios
                    sincronizados</a>
                <a href="/administracion/configuracion/limites_de_la_reserva_publica" class="textoBoton">Límites de la
                    reserva pública</a>
                <a href="/administracion/configuracion/interruptores" class="textoBoton">Interruptores</a>
                <a href="/administracion/configuracion/mensajes_en_portada" class="textoBoton">Mensajes
                    en portada</a>
                <a href="/administracion/configuracion/telefono_publico_whatsapp" class="textoBoton">Telefono público
                    WhatsApp</a>
                <a href="/administracion/configuracion/correo_copia_reserva_publica" class="textoBoton">Correo de
                    envío de copia de reserva pública realizada</a>
                <a href="/administracion/configuracion/mensaje_principal_en_reserva_publica" class="textoBoton">Mensaje
                    principal en reserva confirmada</a>
            </div>
        </details>