<div class="marcoElasticoRelativo" contenedor="menu">
    <div class="flexVertical gap10">
        <details class="flexVertical ocultoInicial padding6 borderRadius18">
            <summary class="textoContenedor">Reservas</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/situacion" class="textoBoton ocultoInicial">Situación</a>
                <a href="/administracion/reservas/pendientes_de_revision" class="textoBoton ocultoInicial">Reservas
                    pendientes de revisión</a>
                <a href="/administracion/reservas/buscador" class="textoBoton ocultoInicial">Buscador de
                    reservas</a>
                <a href="/administracion/reservas/nueva" class="textoBoton ocultoInicial">Crear una nueva
                    reserva</a>
                <a href="/administracion/enlaces_de_pago" class="textoBoton ocultoInicial">Enlaces de pago</a>
            </div>
        </details>
        <details class="flexVertical ocultoInicial padding6 borderRadius18">
            <summary class="textoContenedor">Calendarios</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/calendario/capa:global" class="textoBoton ocultoInicial">Calendario</a>
                <a href="/administracion/calendario/alojamientos" class="textoBoton ocultoInicial">Calendario de precios
                    por alojamiento</a>
                <a href="/administracion/calendario/capa:todas_las_reservas" class="textoBoton ocultoInicial">Calendario
                    de reservas</a>
                <a href="/administracion/calendario/capa:todas_las_reservas_por_apartamento"
                    class="textoBoton ocultoInicial">Calendario apartamentos reservados</a>

            </div>
        </details>


        <details class="flexVertical ocultoInicial padding6 borderRadius18">
            <summary class="textoContenedor">Protocolos del alojamiento</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/protocolos/revisar_alojamiento" class="textoBoton ocultoInicial">Revisar
                    alojaminento</a>
                <a href="/administracion/protocolos/estado_del_alojamiento" class="textoBoton ocultoInicial">Estado del
                    alojamiento</a>
                <a href="/administracion/protocolos/registro_de_revisiones" class="textoBoton ocultoInicial">Registro de
                    revisiones</a>

                <a href="/administracion/protocolos/revisiones_por_usuario" class="textoBoton ocultoInicial">Revisiones
                    por usuario</a>
                <a href="/administracion/protocolos/gestion_de_protocolos" class="textoBoton ocultoInicial">Gestión de
                    protocolos</a>

            </div>
        </details>
        <details class="flexVertical ocultoInicial padding6 borderRadius18">
            <summary class="textoContenedor">Servicios</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/servicios" class="textoBoton ocultoInicial">Gestión de servicios</a>
                <a href="/administracion/servicios/nuevo" class="textoBoton ocultoInicial">Crear servicio</a>

            </div>
        </details>
        <!-- <details class="flexVertical ocultoInicial padding6 borderRadius18">
            <summary class="textoContenedor">Gestión financiera, balance y depositos</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/finanzas/balance" class="textoBoton ocultoInicial">Balance</a>
                <a href="/administracion/finanzas/nuevo" class="textoBoton ocultoInicial">Nuevo ingreso o gasto</a>
                <a href="/administracion/finanzas/depositos" class="textoBoton ocultoInicial">Depositos</a>
                <a href="/administracion/finanzas/depositos" class="textoBoton ocultoInicial">Presupuestos</a>
                <a href="/administracion/finanzas/depositos" class="textoBoton ocultoInicial">Cagegorias</a>
            </div>
        </details> -->
        <details class="flexVertical ocultoInicial padding6 borderRadius18">
            <summary class="textoContenedor">Clientes y fusión</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/clientes" class="textoBoton ocultoInicial">Buscador de clientes</a>
                <a href="/administracion/clientes/nuevo" class="textoBoton ocultoInicial">Añadir un nuevo
                    cliente</a>
                <a href="/administracion/clientes/fusion" class="textoBoton ocultoInicial">Fusión de clientes</a>
            </div>
        </details>
        <details class="flexVertical ocultoInicial padding6 borderRadius18">
            <summary class="textoContenedor">Inventario</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/inventario/situacion" class="textoBoton ocultoInicial">Situación del
                    inventario</a>
                <a href="/administracion/inventario/ver_todo_el_inventario" class="textoBoton ocultoInicial">Ver todo el
                    inventario</a>
                <a href="/administracion/inventario/registro" class="textoBoton ocultoInicial">Registro del
                    inventario</a>

                <a href="/administracion/inventario/categorias" class="textoBoton ocultoInicial">Categorias</a>

                <a href="/administracion/inventario/agregar_al_inventario" class="textoBoton ocultoInicial">Agregar al
                    inventario
                </a>
            </div>
        </details>
        <details class="flexVertical ocultoInicial padding6 borderRadius18">
            <summary class="textoContenedor">Precios, ofertas, simulaciones e impuestos</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/precios" class="textoBoton ocultoInicial">Gestión de precios</a>
                <a href="/administracion/impuestos" class="textoBoton ocultoInicial">Gestión de impuestos</a>
                <a href="/administracion/gestion_de_ofertas" class="textoBoton ocultoInicial">Gestión de
                    ofertas</a>
                <a href="/administracion/comportamiento_de_precios" class="textoBoton ocultoInicial">Comportamiento de
                    precios</a>
                <a href="/administracion/simulador_de_precios" class="textoBoton ocultoInicial">Simulador de
                    precios</a>
            </div>
        </details>
        <details class="flexVertical ocultoInicial padding6 borderRadius18">
            <summary class="textoContenedor">Arquitectura de alojamiento, complementos y disponibilidad
            </summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/arquitectura_del_alojamiento" class="textoBoton ocultoInicial">Arquitectura
                    del
                    alojamiento</a>
                <a href="/administracion/gestion_de_bloqueos_temporales" class="textoBoton ocultoInicial">Gestión
                    de
                    bloqueos temporales</a>
                <a href="/administracion/complementos_de_alojamiento" class="textoBoton ocultoInicial">Complementos de
                    alojamiento</a>
            </div>
        </details>
        <details class="flexVertical ocultoInicial padding6 borderRadius18">
            <summary class="textoContenedor">Usuarios y permisos</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/usuarios" class="textoBoton ocultoInicial">Buscador de usuarios</a>
                <a href="/administracion/usuarios/nuevo" class="textoBoton ocultoInicial">Crear un nuevo
                    usuario</a>
                <a href="/administracion/usuarios/grupos" class="textoBoton ocultoInicial">Grupos</a>

            </div>
        </details>
        <!-- <details class="flexVertical ocultoInicial padding6 borderRadius18">
            <summary class="textoContenedor">Registro global</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/registro" class="textoBoton ocultoInicial">Registro</a>
            </div>
        </details> -->
        <details class="flexVertical ocultoInicial padding6 borderRadius18">
            <summary class="textoContenedor">Configuración global</summary>
            <div class="contenedor sobreControlAnimacionGlobal">
                <a href="/administracion/configuracion/zona_horaria" class="textoBoton ocultoInicial">Zona
                    Horaria</a>
                <a href="/administracion/configuracion/horas_de_entrada_y_salida" class="textoBoton ocultoInicial">Hora
                    de entrada y
                    salida</a>
                <a href="/administracion/configuracion/calendarios_sincronizados"
                    class="textoBoton ocultoInicial">Calendarios
                    sincronizados</a>
                <a href="/administracion/configuracion/limites_de_la_reserva_publica"
                    class="textoBoton ocultoInicial">Límites de la
                    reserva pública</a>
                <a href="/administracion/configuracion/interruptores" class="textoBoton ocultoInicial">Interruptores</a>
                <a href="/administracion/configuracion/mensajes_en_portada" class="textoBoton ocultoInicial">Mensajes
                    en portada</a>
                <a href="/administracion/configuracion/telefono_publico_whatsapp"
                    class="textoBoton ocultoInicial">Telefono público
                    WhatsApp</a>
                <a href="/administracion/configuracion/correo_copia_reserva_publica"
                    class="textoBoton ocultoInicial">Correo de
                    envío de copia de reserva pública realizada</a>
                <a href="/administracion/configuracion/mensaje_principal_en_reserva_publica"
                    class="textoBoton ocultoInicial">Mensaje
                    principal en reserva confirmada</a>
            </div>
        </details>