<arranque administracion="configuracion.mensajesEnPortada.arranque"></arranque>
<p class="titulo">Nuevo mensaje en portada</p>
<div class="marcoElasticoRelativo" componente="marcoElastico">

    
</div>
</div>