<arranque administracion="configuracion.mensajesEnPortada.arranque"></arranque>
<p class="titulo">Mensajes en portada</p>
<div class="marcoElasticoRelativo" componente="marcoElastico">

    
</div>
</div>