<arranque publico="miCasa.cuenta.reservas.arranque"></arranque>
<p class="titulo">Mis reservas</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div class="marcoCuenta" componente="espacioMisReservas">
         
            </div>
        </div>
    </div>
</div>