<div class="marcoElasticoRelativo">
    <p class="textoCentrado colorGrisV1 negrita">Depositos</p>
    <div class="flexHorizontal">
        <a class="botonV1BlancoIzquierda">
            Nuevo deposito
        </a>
    </div>
    <div contenedro="depositos"></div>

</div>