<!-- <p class="tituloGris">Administración</p> -->
<div class="marcoElasticoRelativo" contenedor="menu">
    <div class="administracion_portada_contenedorContextual">
        <div class="administracion_portada_contenedorContextual_titulo">
            Protocolos de limpieza e inventario
        </div>
        <div class="administracion_portada_contenedorContextual_contenedorBotones">
            <a href="/administracion/protocolos_e_inventario/estado_del_alojamiento" Componente="botonAdministracion"
                vista="/administracion/servicios" class="tituloContextoAdministracion">Estado del alojamiento</a>
            <a href="/administracion/servicios/nuevo" Componente="botonAdministracion"
                vista="/administracion/protocolos_e_inventario" class="tituloContextoAdministracion">Protocolos</a>
            <a href="/administracion/servicios/nuevo" Componente="botonAdministracion"
                vista="/administracion/protocolos_e_inventario" class="tituloContextoAdministracion">Inventario</a>

        </div>
    </div>
</div>