.administracion_reservas_crearReserva_infoSinAlojamiento {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-wrap: pre;
}

[zonaCSS="administracion/reservas/nueva"] .reservaDetallesBloqueFecha {
    background-color: rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 6px;
    grid-template-areas: ". . .";
    border-radius: 20px;
    padding: 6px;
    justify-content: space-around;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

[zonaCSS="administracion/reservas/nueva"] .bloqueBotones {
    /* background-color: rgba(255, 255, 255, 0.3); */
    display: flex;
    border-radius: 12px;
    /* padding: 6px; */
    justify-content: center;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    scale: 1;
    transition: scale .4s ease-in-out;
    gap: 6px;
    align-items: stretch;
    flex-direction: column;

    @starting-style {
        scale: 0;
    }
}

[zonaCSS="administracion/reservas/nueva"] .administracion_reservas_crearReserva {
    display: flex;
    border-radius: 12px;
    justify-content: space-around;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    flex-direction: column;
    align-items: stretch;
}

[zonaCSS="administracion/reservas/nueva"] .marcoSeparador {
    margin: 8px;
}

[zonaCSS="administracion/reservas/nueva"] .administracionReservaBloqueDual {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor: default;
}

[zonaCSS="administracion/reservas/nueva"] .adminsitracionReservasTituloNombre {
    font-weight: bold;
    text-align: center;
}

[zonaCSS="administracion/reservas/nueva"] .fechaEntradaElemento,
[zonaCSS="administracion/reservas/nueva"] .fechaSalidaElemento {
    border-radius: 16px;
    padding: 8px;
}

[zonaCSS="administracion/reservas/nueva"] .fechaEntradaElemento:hover {
    background: rgba(255, 255, 255, 0.3);
}

[zonaCSS="administracion/reservas/nueva"] .fechaSalidaElemento:hover {
    background: rgba(255, 255, 255, 0.3);
}

[zonaCSS="administracion/reservas/nueva"] .componenteFechaEntrada:hover~.fechaSalidaElemento {
    background: rgba(255, 255, 255, 0.3);
}

[zonaCSS="administracion/reservas/nueva"] .componenteFechaSalida:hover~.fechaEntradaElemento {
    background: rgba(255, 255, 255, 0.3);
}

[zonaCSS="administracion/reservas/nueva"] .advertenciaIntegrada {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    user-select: none;
    cursor: default;
    z-index: 110;
}

[zonaCSS="administracion/reservas/nueva"] .espacioEntreElementos {
    display: flex;
    gap: 6px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
}

[zonaCSS="administracion/reservas/nueva"] .infoCrearReservaAdministratia {
    margin: 10px;
}

[zonaCSS="administracion/reservas/nueva"] .botonBuscarAlojamiento {
    background: rgba(255, 255, 255, 0.3);
    margin: 0px;
    padding: 20px;
    border-radius: 16px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    transition: all 500ms;
}

[zonaCSS="administracion/reservas/nueva"] .botonBuscarAlojamiento:hover {
    background: rgba(255, 255, 255, 0.8);
}

[zonaCSS="administracion/reservas/nueva"] .espacioApartamentosDipsoniblesCrearReserva {
    width: 100%;
    display: grid;
    grid-gap: 6px;
    grid-auto-rows: minmax(auto, auto);
    justify-items: stretch;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
}
@media screen and (max-width: 720px) {
    [zonaCSS="administracion/reservas/nueva"] .espacioApartamentosDipsoniblesCrearReserva {
        display: flex;
        flex-direction: column;
    }
}

[zonaCSS="administracion/reservas/nueva"] .bloqueApartamentoUI {
    background-color: #ffffff5c;
    padding: 6px;
    border-radius: 20px;
    gap: 6px;
    display: grid;
    flex-direction: column;
    flex-wrap: nowrap;
    scale: 1;
    transition: scale .4s ease-in-out;
    justify-items: stretch;
    grid-template-rows: repeat(1, 1fr);
    align-content: stretch;
    align-items: start;

    @starting-style {
        scale: 0;
    }
}

[zonaCSS="administracion/reservas/nueva"] .tituloApartamentoUI {
    margin: 0px;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
}

[zonaCSS="administracion/reservas/nueva"] .bloqueHabiaciones {
    padding: 4px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    gap: 4px;
}

[zonaCSS="administracion/reservas/nueva"] .tituloHabitacion {
    padding: 4px;
    border-radius: 4px;
}

[zonaCSS="administracion/reservas/nueva"] .elementoOcultoInicialmente {
    display: none;
}

[zonaCSS="administracion/reservas/nueva"] .botonConfirmarCrearReservaNueva {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    cursor: default;
    font-weight: bold;
}

[zonaCSS="administracion/reservas/nueva"] .botonConfirmarCrearReservaNueva:hover {
    background: rgba(0, 26, 255, 0.8);
    color: white;
}

[zonaCSS="administracion/reservas/nueva"] .opcionesOfertas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 720px) {
    [zonaCSS="administracion/reservas/nueva"] .opcionesOfertas {
        display: flex;
        flex-direction: column;
    }
}