.tituloPortada {
    display: flex;
    place-content: center;
    align-items: flex-start;
    font-size: 54px;
    font-weight: bold;
    color: #0000009e;
    z-index: 5;
    margin-Top: 100px;

}

body {
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url("/activos/imagenes/instalaciones/2-editada.jpeg");
}

@media (max-width: 920px) {
    body {
        background-position: 0% center;
        background-image: url("/activos/imagenes/fotos/portadaMovil.jpeg");
    }
}


main {
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    gap: 6px;
    /* z-Index: -1; */
    position: absolute;
}

.menuGlobal_styloCompartido {
    background-color: rgba(255, 255, 255, 0.4);
}

.botonMenuResponsivo {
    background-image: url(/activos/iconos/menu_negro.svg);
    background-color: rgba(255, 255, 255, 0.4);
}

.uiCategoria {
    color: black;
}

.tituloUI {
    margin: 0px;
    padding: 10px;
    color: black;
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    align-items: center;
    align-content: center;
    flex-direction: row;
    border-radius: 10px;
    z-index: 10;
    white-space: pre-wrap;
}

.conenedorReserva {
    background: rgba(238, 143, 0, 0.7);
    /* -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px); */
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 16px;
    transition: all 250ms;
    text-decoration: none;
    color: black;
    z-index: 5;
}

.videoPresentacion {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* transition: opacity 2s linear; */
    opacity: 0;


}

[estructura=menu] {
    backdrop-filter: blur(30px) !important;
}

.marcoElasticoRelativo {
    padding-top: 120px;
}





.uiCategoria {
    color: rgb(0, 0, 0);
}

.videoPresentacion::-webkit-media-controls-start-playback-button {
    display: none !important;
}

.videoPresentacion::-webkit-media-controls-play-button {
    display: none !important;
}

.videoPresentacion::-webkit-media-controls-overlay-play-button {
    display: none !important;
}

.videoPresentacion::-webkit-media-controls-play-button-overlay {
    display: none !important;
}

.videoPresentacion::-webkit-media-controls {
    visibility: hidden !important;
}

.videoPresentacion ::-webkit-media-controls-enclosure {
    visibility: hidden !important;
}

.bloqueReservasPortada {
    margin: 0px;
    padding: 0px;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    position: fixed;
    top: 200px;
    display: flex;
    z-index: 5;
}


.botonReserva {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.conenedorReserva:hover {
    background: rgba(0, 0, 0, 0.5);
}


.contenedorPrincipal {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    backdrop-filter: blur(50px);
    padding: 50px;
    border-radius: 30px;
    gap: 50px;
    bottom: 20px;
}

.hl {
    display: flex;
    flex-direction: column;
}