<!-- <h1 class="tituloPortada" componente="titulo" data="saludo">Bienvenido</h1> -->
<div class="bloqueReservasPortada">
    <!-- <a class="conenedorReserva sobreControlAnimacionGlobal" vista="/alojamiento" href="/alojamiento"
        Componente="botonCambiaVistaEnSection">
        <h1 class="textoReserva negrita textoBuscar botonReserva" data="botonReservas">RESERVAR
        </h1>
    </a> -->


</div>
<!-- <div class="contenedorPrincipal">
    <div class="hl">POPOYO</div>
    <div class="hl">TOURS</div>
    <div class="hl">PISCINA</div>
    <div class="hl">COMIDA</div>
    <div class="hl">ESPACIOS</div>
</div> -->
<!-- <video componente="video" src="/activos/videos/video4_s.mp4" loop muted autoplay playsinline
    class="videoPresentacion sobreControlAnimacionGlobal" type="video/mp4"></video> -->