<arranque administracion="configuracion.mensajePrincipalEnReservaConfirmada.arranque"></arranque>
<p class="tituloGris">Mensaje principal en reserva confirmada</p>
<div class="marcoElasticoRelativo" componente="marcoElastico">
</div>
</div>