<arranque administracion="clientes.nuevo.arranque"></arranque>
<p class="tituloGris">Nuevo cliente</p>
<div componente="espacioComportamiento" class="marcoElasticoRelativo">
    <div componente="nuevoClienteEspacio" class="flexVertical gap10">
        <div class="flexVertical gap10">
            <div class="flexVertical">
                <p class="padding10 negrita">Nombre</p>
                <input class="botonV1BlancoIzquierda_campo" campo="nombre" type="text">
            </div>
            <div class="flexVertical">
                <p class="padding10 negrita">Primer apellido</p>
                <input class="botonV1BlancoIzquierda_campo" campo="primerApellido" type="text">
            </div>
            <div class="flexVertical">
                <p class="padding10 negrita">Segundo apellido</p>
                <input class="botonV1BlancoIzquierda_campo" campo="segundoApellido" type="text">
            </div>

            <div class="flexVertical">
                <p class="padding10 negrita">Pasaporte</p>
                <input class="botonV1BlancoIzquierda_campo" campo="pasaporte" type="text">
            </div>
            <div class="flexVertical">
                <p class="padding10 negrita">Teléfono</p>
                <input class="botonV1BlancoIzquierda_campo" campo="telefono" type="text">
            </div>
            <div class="flexVertical">
                <p class="padding10 negrita">Correo electrónico</p>
                <input class="botonV1BlancoIzquierda_campo" campo="correoElectronico" type="text">
            </div>
        </div>
        <div class="flexVertical">
            <p class="padding10 negrita">Notas</p>
            <textarea class="botonV1BlancoIzquierda_campo" name="" id="" cols="30" rows="10" campo="notas"></textarea>
        </div>
        <div class="botonV1BlancoIzquierda" componente="botonCrearCliente">Crear cliente</div>
    </div>
</div>