<p class="titulo" componente="titulo">Crear configuración de alojamiento</p>
<div componente="espacioConfiguracionDelALojamiento" class="marcoElasticoRelativo">
    <div componente="espacioBotonesGlobales" class="espacioBotonesGlobales">
    </div>
    <div componente="configuracionDelAlojamiento" class="espacioBloqueos">
        <div componente="espacioConfiguracionesAlojamiento" class="espacioConfiguracionesAlojamiento">
            <div class="arquitecturaConfCrearConfiguracion_contenedor" componente="zonaCreacion">
                <div class="arquitecturaConfCrearConfiguracion_titulo" componente="info">Espere...</div>
            </div>
        </div>
    </div>
</div>