[zonaCSS="/administracion/reservas"] .tituloContextoAdministracion {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 14px;
    text-decoration: none;
    color: black;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    transition: all 250ms linear;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    padding-top: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

[zonaCSS="/administracion/reservas"] .tituloContextoAdministracion:hover {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
}

[zonaCSS="/administracion/reservas"] .administracion_portada_contenedorContextual_contenedorBotones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    grid-auto-rows: minmax(auto, auto);
    padding: 0px;

    justify-content: left;

    gap: 6px;
}


@media (max-width: 1280px) {
    [zonaCSS="/administracion/reservas"] .administracion_portada_contenedorContextual_contenedorBotones {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 720px) {
    [zonaCSS="/administracion/reservas"] .administracion_portada_contenedorContextual_contenedorBotones {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    [zonaCSS="/administracion/reservas"] .administracion_portada_contenedorContextual_contenedorBotones {
        grid-template-columns: 1fr;
    }
}

[zonaCSS="/administracion/reservas"] .administracion_portada_contenedorContextual_titulo {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: #00000091;
}

[zonaCSS="administracion/reservas/detallesReserva"] .administracionReservaDetallesPropuedaCambioClientePoolnombreCompletoPropuesta {
    margin: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
}

[zonaCSS="administracion/reservas/detallesReserva"] .barraProgresso {
    height: 100%;
    background: grey;
    transition: width 500ms ease-in-out;

    @starting-style {
        width: 0;
    }
}

[zonaCSS="administracion/reservas/detallesReserva"] [servicioUID] .contenedorGlobal {
    display: grid;
    grid-template-columns: auto auto 1fr !important;
    align-items: center;

}