<arranque publico="instalaciones.arranque"></arranque>
<p class="tituloGris">Instalaciones</p>
<div class="plaza_servicios_superBloque" contenedor="instalaciones">


    <div class="contenedorImagenes" grupoIDV="instalaciones">
        <div class="imagenPortada imagenPiscina bloqueCaracteristicas posicionImagen" animacion="contenedorImagen"
            imagenResponsiva="imagenPiscina" componente="fotoAmpliable">
            <div class="plaza_servicios_contenedorCaracteristicaTexto infoCaracteristicaTest">
                <p class="plaza_servicios_tituloCaracteristica">
                    Plaza central con piscina y jardín compartido
                </p>
                <p class="plaza_servicios_definicionCaracteristica">
                    Confortable piscina compartida para huéspedes. Accesible directamente desde su alojamiento.
                    Agradable zona abierta con banco de bambu.
                </p>
            </div>
        </div>

        <p class="plaza_servicios_infoGlobal">En Casa Vitini, nos enorgullece ofrecer un entorno completo y acogedor
            para que su estancia sea placentera y cómoda. Cada uno de nuestros alojamientos cuenta con doble cristal
            térmico y conexión wifi para sus dispositivos, asegurando un ambiente tranquilo y conectado. Además,
            disfrutará de una terraza trasera privada y acceso a la animada plaza central, que comparte espacio
            con una encantadora piscina y jardín. A continuación, le presentamos un resumen de las características más
            destacadas que encontrará en Casa Vitini. Si desea obtener más detalles sobre la experiencia única que le
            espera, no dude en ponerse en contacto con nosotros. Encuentre nuestra información de contacto en la sección
            correspondiente. ¡Estamos aquí para hacer que su estancia sea inolvidable! </p>
        <div class="plaza_servicios_contenedorCaracteristicas">
            <div class="bloqueCaracteristicas posicionImagen imagenTerraza apliarImagen" animacion="contenedorImagen"
                imagenResponsiva="imagenTerraza" componente="fotoAmpliable">
                <div class="plaza_servicios_contenedorCaracteristicaTexto">
                    <p class="plaza_servicios_tituloCaracteristica">
                        Terraza individual por apartamento
                    </p>
                    <p class="plaza_servicios_definicionCaracteristica">
                        Terraza trasera individual por apartamento dentro del recinto.
                    </p>
                </div>
            </div>
            <div class="bloqueCaracteristicas posicionImagen imagenWC apliarImagen" animacion="contenedorImagen"
                imagenResponsiva="imagenWC" componente="fotoAmpliable">
                <div class="plaza_servicios_contenedorCaracteristicaTexto">
                    <p class="plaza_servicios_tituloCaracteristica">
                        Lavabo completo
                    </p>
                    <p class="plaza_servicios_definicionCaracteristica">
                        Lavabo equipado con pica, taza y ducha con agua caliente.
                    </p>
                </div>
            </div>
            <div class="bloqueCaracteristicas posicionImagen imagenPorcheDelantero apliarImagen"
                animacion="contenedorImagen" imagenResponsiva="imagenPorcheDelantero" componente="fotoAmpliable">
                <div class="plaza_servicios_contenedorCaracteristicaTexto">
                    <p class="plaza_servicios_tituloCaracteristica">
                        Alojamiento con porche delantero
                    </p>
                    <p class="plaza_servicios_definicionCaracteristica">
                        Los alojamientos disponen de un porche delantero con acceso directo a la piscina compartida.
                    </p>
                </div>
            </div>
            <div class="bloqueCaracteristicas posicionImagen imagenEspacioCentral apliarImagen"
                animacion="contenedorImagen" imagenResponsiva="imagenEspacioCentral" componente="fotoAmpliable">
                <div class="plaza_servicios_contenedorCaracteristicaTexto">
                    <p class="plaza_servicios_tituloCaracteristica">
                        Distribución con amplio espacio central interior
                    </p>
                    <p class="plaza_servicios_definicionCaracteristica">
                        Los alojamientos tienen una configuración de apartamento cuya distribución dispone de un amplio
                        espacio central.
                    </p>
                </div>
            </div>
            <div class="bloqueCaracteristicas posicionImagen imagenAccesoPlayas apliarImagen"
                animacion="contenedorImagen" imagenResponsiva="imagenAccesoPlayas" componente="fotoAmpliable">
                <div class="plaza_servicios_contenedorCaracteristicaTexto">
                    <p class="plaza_servicios_tituloCaracteristica">
                        Acceso a playas paradisiacas
                    </p>
                    <p class="plaza_servicios_definicionCaracteristica">
                        Ven a conocer las playas paradisiacas de Nicaragua consideradas maravillas de la naturaleza por
                        la
                        UNESCO.
                    </p>
                </div>
            </div>
            <div class="bloqueCaracteristicas posicionImagen imagenCocina apliarImagen" animacion="contenedorImagen"
                imagenResponsiva="imagenCocina" componente="fotoAmpliable">
                <div class="plaza_servicios_contenedorCaracteristicaTexto">
                    <p class="plaza_servicios_tituloCaracteristica">
                        Alojamiento con cocina
                    </p>
                    <p class="plaza_servicios_definicionCaracteristica">
                        Cocina equipada con encimera, nevera, microondas, cafetera y juego de sartenes.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedorApartamento">
        <p class="tituloGris textoCentrado padding10">Apartamento 5</p>
        <p class="descripcion">Capacidad para 2 personas, cocina, cama queen, aire acondicionado, terraza con vistas a
            la piscina, patio traseso</p>
        <div class="contenedorImagenes" grupoIDV="apartamento5">
            <div class="imagenContenedor apartamento_5_imagen1" imagenResponsiva="apartamento_5_imagen1"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_5_imagen2" imagenResponsiva="apartamento_5_imagen2"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_5_imagen3" imagenResponsiva="apartamento_5_imagen3"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_5_imagen4" imagenResponsiva="apartamento_5_imagen4"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_5_imagen5" imagenResponsiva="apartamento_5_imagen5"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_5_imagen6" imagenResponsiva="apartamento_5_imagen6"
                componente="fotoAmpliable"></div>
        </div>
    </div>
    <div class="contenedorApartamento">
        <p class="tituloGris textoCentrado padding10">Apartamento 6</p>
        <p class="descripcion">Capacidad para 2 personas, cocina, cama queen, aire acondicionado, terraza con vistas a
            la piscina, patio traseso</p>
        <div class="contenedorImagenes" grupoIDV="apartamento6">
            <div class="imagenContenedor apartamento_6_imagen1" imagenResponsiva="apartamento_6_imagen1"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_6_imagen2" imagenResponsiva="apartamento_6_imagen2"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_6_imagen3" imagenResponsiva="apartamento_6_imagen3"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_6_imagen4" imagenResponsiva="apartamento_6_imagen4"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_6_imagen5" imagenResponsiva="apartamento_6_imagen5"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_6_imagen6" imagenResponsiva="apartamento_6_imagen6"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_6_imagen7" imagenResponsiva="apartamento_6_imagen7"
                componente="fotoAmpliable"></div>
        </div>
    </div>
    <div class="contenedorApartamento">
        <p class="tituloGris textoCentrado padding10">Apartamento 7</p>
        <p class="descripcion">Capacidad para 4 personas, dos domitorios, unos con cama doble matrimonial, baño privado,
            abanico de techo, el otro con 2 camas individuales, baño privado, abanico de techo. Este alojamiento tambien
            dispone de cocina, cama queen, aire acondicionado, terraza con vistas a la piscina, patio traseso</p>
        <div class="contenedorImagenes" grupoIDV="apartamento7">
            <div class="imagenContenedor apartamento_7_imagen1" imagenResponsiva="apartamento_7_imagen1"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_7_imagen2" imagenResponsiva="apartamento_7_imagen2"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_7_imagen3" imagenResponsiva="apartamento_7_imagen3"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_7_imagen4" imagenResponsiva="apartamento_7_imagen4"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_7_imagen5" imagenResponsiva="apartamento_7_imagen5"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_7_imagen6" imagenResponsiva="apartamento_7_imagen6"
                componente="fotoAmpliable"></div>
            <div class="imagenContenedor apartamento_7_imagen7" imagenResponsiva="apartamento_7_imagen7"
                componente="fotoAmpliable"></div>
        </div>
    </div>
</div>