<arranque publico="instalaciones.arranque"></arranque>
<p class="titulo">Instalaciones</p>
<div class="plaza_servicios_superBloque">
    <p class="plaza_servicios_infoGlobal">En Casa Vitini, nos enorgullece ofrecer un entorno completo y acogedor para
        que su estancia sea placentera y cómoda. Cada uno de nuestros alojamientos cuenta con doble cristal térmico y
        conexión wifi para sus dispositivos, asegurando un ambiente tranquilo y conectado.

        Además, disfrutará de una terraza trasera privada y acceso a la animada plaza central, que comparte espacio con
        una encantadora piscina y jardín. A continuación, le presentamos un resumen de las características más
        destacadas que encontrará en Casa Vitini. Si desea obtener más detalles sobre la experiencia única que le
        espera, no dude en ponerse en contacto con nosotros. Encuentre nuestra información de contacto en la sección
        correspondiente. ¡Estamos aquí para hacer que su estancia sea inolvidable! </p>
    <div class="plaza_servicios_contenedorCaracteristicas">

        <div class="plaza_servicios_bloqueCaracteristica plaza_servicios_icono_piscina">
            <div class="plaza_servicios_contenedorCaracteristicaTexto">
                <p class="plaza_servicios_tituloCaracteristica">
                    Plaza central con piscina y jardín compartido
                </p>
                <p class="plaza_servicios_definicionCaracteristica">
                    Confortable piscina compartida para huéspedes. Accesible directamente desde su alojamiento.
                </p>
            </div>
        </div>
        <div class="plaza_servicios_bloqueCaracteristica plaza_servicios_icono_terraza">
            <div class="plaza_servicios_contenedorCaracteristicaTexto">
                <p class="plaza_servicios_tituloCaracteristica">
                    Terraza individual por apartamento
                </p>
                <p class="plaza_servicios_definicionCaracteristica">
                    Terraza trasera individual por apartamento dentro del recinto.
                </p>
            </div>
        </div>
        <div class="plaza_servicios_bloqueCaracteristica plaza_servicios_icono_wc">
            <div class="plaza_servicios_contenedorCaracteristicaTexto">
                <p class="plaza_servicios_tituloCaracteristica">
                    Lavabo completo
                </p>
                <p class="plaza_servicios_definicionCaracteristica">
                    Lavabo equipado con pica, taza y ducha con agua caliente.
                </p>
            </div>
        </div>
        <div class="plaza_servicios_bloqueCaracteristica plaza_servicio_porcheDelantero">
            <div class="plaza_servicios_contenedorCaracteristicaTexto">
                <p class="plaza_servicios_tituloCaracteristica">
                    Alojamiento con porche delantero
                </p>
                <p class="plaza_servicios_definicionCaracteristica">
                    Los alojamientos disponen de un porche delantero con acceso directo a la piscina compartida.
                </p>
            </div>
        </div>
        <div class="plaza_servicios_bloqueCaracteristica plaza_servicio_icono_espacioCentral">
            <div class="plaza_servicios_contenedorCaracteristicaTexto">
                <p class="plaza_servicios_tituloCaracteristica">
                    Distribución con amplio espacio central interior
                </p>
                <p class="plaza_servicios_definicionCaracteristica">
                    Los alojamientos tienen una configuración de apartamento cuya distribución dispone de un amplio
                    espacio central.
                </p>
            </div>
        </div>
        <div class="plaza_servicios_bloqueCaracteristica plaza_servicio_icono_accesoPlayas">
            <div class="plaza_servicios_contenedorCaracteristicaTexto">
                <p class="plaza_servicios_tituloCaracteristica">
                    Acceso a playas paradisiacas
                </p>
                <p class="plaza_servicios_definicionCaracteristica">
                    Ven a conocer las playas paradisiacas de Nicaragua consideradas maravillas de la naturaleza por la
                    UNESCO.
                </p>
            </div>
        </div>
        <div class="plaza_servicios_bloqueCaracteristica plaza_servicio_icono_cocina">
            <div class="plaza_servicios_contenedorCaracteristicaTexto">
                <p class="plaza_servicios_tituloCaracteristica">
                    Alojamiento con cocina
                </p>
                <p class="plaza_servicios_definicionCaracteristica">
                    Cocina equipada con encimera, nevera, microondas, cafetera y juego de sartenes.
                </p>
            </div>
        </div>



    </div>
</div>