<div class="marcoElasticoRelativo">
    <div class="colorGrisV1 negrita padding16">
        Configuración global de protocolos de alojamiento
    </div>

    <p class="paddingLateral16">Determina la configuración global de los protocolos del alojamiento, esta configuración
        afecta
        a todos los protocolos del alojamiento</p>

    <p class="padding16">Establece el número de días en los que una revisión del alojamiento caduca y, por tanto, el
        sistema debe de avisar de nuevo de realizar la revisión al alojamiento</p>
    <input type="text" campo="diasCaducidadRevision" placeholder="Días de caduciad de una revisión finalizada">


    <p class="padding16">Configura la cantidad de días de anticipación para que el sistema avise indicando la necesidad
        de realizar una revisión antes de que el alojamiento reciba una reserva próxima.</p>
    <input type="text" campo="diasAntelacionPorReserva" placeholder="Días de antelación de una revisiñon finalizada">

    <div class="botonV1BlancoIzquierda" boton="actualizar">Actualizar configuración global</div>
</div>