<arranque administracion="precios.arranque"></arranque>
<p class="tituloGris" componente="titulo">Precios</p>
<div componente="espacioComportamiento" class="marcoElasticoRelativo">
    <div componente="precios" class="espacioClientes">
    </div>
</div>