<arranque administracion="usuarios.nuevoUsuario.arranque"></arranque>
<p class="titulo">Crear un nuevo usuario</p>
<div componente="espacioComportamiento" class="marcoElasticoRelativo">
    <div componente="espacioUsuarios" class="espacioClientes"></div>
</div>