<arranque publico="miCasa.cuenta.datosPersonales.arranque"></arranque>
<p class="titulo">Mi Casa Vitini</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div class="marcoCuenta" componente="marcoCuenta">
        </div>
    </div>
</div>