<arranque administracion="reservas.pendientesDeRevision.arranque"></arranque>
<p class="tituloGris">Reservas pendientes de revisión</p>
<div class="marcoElasticoRelativo" componente="marcoElastico">
    <div class="reservas_pendientesDeRevision" componente="espacioReservasPendientesDeRevision">
    </div>
</div>
</div>