body {
    background-color: rgb(255 188 0 / 28%);
}

main {
    color: #503f39;
    align-items: normal;
    margin-bottom: 50px;

}

.textInicial {
    padding: 20px;
}
.superContainerMenu {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.bebidasServicio {
    display: flex;
    justify-content: center;
}
.superContainerTaxi {
    background-color: #faf3da;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 90vw;
    gap: 20px;

}

.tablaTaxi {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 40px;
    font-weight: 550px;

}

.tituloTaxi {
    padding: 20px;
    text-align: center;
    font-size: 15px !important;
    border-radius: 14px;
}

.nombreDestino,
.nombreDestino>* {
    font-size: 15px !important;
    font-weight: 550;

}

.precioDestino {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    font-size: 15px !important;
    font-weight: 550;

}

.tourSurf {
    padding: 20px;
    background-color: wheat;
    border-radius: 20px;
}


.tourHorse {
    padding: 20px;
    background-color: wheat;
    border-radius: 20px;
}

.lavanderiaServicio {}

.tourBoatFishin {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
}

.containerTours {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px
}

@media (max-width: 1080px) {
    .containerTours {
        grid-template-columns: 1fr 1fr;
    }
}

.containerItem {
    background-color: #FBEED7;
    box-shadow: 0 0 18px 8px rgba(0, 0, 0, 0.1);
    padding: 80px;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: black;
}

@media (max-width: 1080px) {
.containerItem {
    height: 40vw;
    width: 40vw;
        padding: 0px;
    }
}

.iconoShared {
    height: 30px;
}

.iconotaxi1 {

    transform: translateY(12px) translateX(-6px);
}


.iconotaxi3 {
    transform: translateY(12px) translateX(6px);

}

.containerTours .triangulo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}