<arranque publico="miCasa.crearCuenta.portada.arranque"></arranque>
<p class="titulo">Crear una nueva cuenta</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div class="miCasa_crearCuenta_contenedorCrearCuenta">
           <!-- <p class="texto negrita paddgin6">Crear una nueva cuenta</p>-->
            <p class="texto paddgin6">Crea una cuenta y podrás ver tus reservas y gestionarlas. A continuación, rellena los campos y procede a crear tu cuenta. Este proceso apenas tarda segundos. Recuerda que es necesario tener un mail valido para poder verificar tu cuenta. Si realizaste una reserva sin estar registrado simplemente usa a la misma dirección de correo electrónico con la que realizaste la reserva para poder ver todos los detalles de la misma.</p>
            <input type="text " class="miCasa_crearCuenta_campo" campo="usuarioIDX" placeholder="Elige un nombre de usuario">
            <p class="texto paddgin6">Escribe tu dirección de correo electrónico. Desde esta dirección de correo electrónico podrás recupera tu cuenta cuando se te olvide la clave.</p>
            <input type="text" class="miCasa_crearCuenta_campo" campo="email" placeholder="Escribe tu direcíon de correo electrónico">
            <p class="texto paddgin6">Escribe una contraseña segura para tu cuenta. Te recomendamos que uses un generador de claves para crear una contraseña segura y que la gestiones con un gestor de claves. Hoy en día todos los sistemas operativos tienen un gestor de claves.</p>
            <input type="text" class="miCasa_crearCuenta_campo" campo="claveNueva" placeholder="Escribe una contrasena">
            <input type="text" class="miCasa_crearCuenta_campo" campo="claveConfirmada" placeholder="Vuelve a escribir tu contrasena">
            
            <div class="miCuenta_cambioClave_contenedorBotones">
                <div class="miCuenta_cambiarClave_botonV1" componente="botonCrearNuevaCuenta">Crear nueva cuenta</div>
            </div>
        </div>
    </div>
</div>