<!-- <arranque publico="politicas.privacidad.arranque"></arranque> -->
<p class="tituloGris">Cancelación</p>
<div class="marcoElasticoRelativo flexVertical gap6">
    <p>A continuación se describen nuestras politicas de cancelación de reservas.</p>
    <p>● Politica de cancelación 1.</p>
</div>