<arranque administracion="bloqueosTemporales.crearBloqueo.arranque"></arranque>
<p class="titulo" componente="titulo">Crear un bloqueo de apartamento</p>
<div componente="espacioBloqueosTemporales" class="marcoElasticoRelativo">

    <div componente="bloqueosTemporales" class="espacioBloqueos">

    </div>
</div>