<arranque administracion="simuladorDePrecios.arranque"></arranque>
<p class="titulo">Simulador de precios</p>
<div componente="espacio" class="marcoElasticoRelativo">
     <div contenedor="botones" >
    </div> 
    <div contenedor="resultados" class="flexVertical"></div>

</div>