<arranque publico="miCasa.cuenta.sessionesActivas.arranque"></arranque>
<p class="tituloGris">Sessiones activas</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div class="miCasa_sessiones_marcoBotones" componente="espacioBotones">
        </div>
        <div class="miCasa_sessiones_marcoGlobal" componente="espacioSessiones">
        </div>
        <p class="padding18">Los Vitini IDX que aquí se muestran son los identificadores de sesión. Estos códigos son únicos por sesión y por usuario y al contrario que un token son temporales y volátiles. Los Vitini IDX que aquí se muestran están descifrados y son inocuos. El servidor solo acepta los identificadores previamente cifrados por el servidor. Por lo tanto, si alguien obtiene estos identificadores, no podría suplantar su sesión.</p>
    </div>
</div>