<arranque publico="miCasa.cuenta.sessionesActivas.arranque"></arranque>
<p class="tituloGris">Sessiones activas</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div class="miCasa_sessiones_marcoBotones" componente="espacioBotones">
        </div>
        <div class="miCasa_sessiones_marcoGlobal" componente="espacioSessiones">
        </div>
    </div>
</div>