<div class="padding10">
    <p class="tituloGris">Condiciones de uso</p>

    <p class="tituloBloque">1. Introducción</p>
    <p class="textoBloque">El acceso, navegación y utilización del Sitio Web www.casavitini.com (en adelante, el "Casa
        Vitini")
        implica la aceptación expresa y sin reservas de todos los términos de las presentes condiciones de uso, teniendo
        la
        misma validez y eficacia que cualquier contrato celebrado por escrito y firmado.
        Su observancia y cumplimiento será exigible respecto de cualquier persona que acceda, navegue o utilice la Web.
        Si
        usted no está de acuerdo con los términos expuestos, no acceda, navegue o utilice ninguna página del sitio web.
    </p>

    <p class="tituloBloque">2. Datos de la empresa</p>
    <p class="textoBloque">Casa Vitini<br>
        Domicilio social: Calle guasacate, 1km, Tola, Rivas, Nicaragua<br>
        CIF 00000000000<br>
        Registro Público: Inscrito en el Registro Mercantil de Nicaragua<br>
    </p>

    <p class="tituloBloque">3. Objeto y Ámbito de aplicación.</p>
    <p class="textoBloque">El acceso y navegación por el Sitio Web no requieren registro. Sin embargo, para la compra de
        determinados servicios, reserva de los mismos o beneficiarse de ciertos programas, entre otros, será necesario
        cumplimentar los formularios web habilitados al efecto. El registro en el Sitio Web es, salvo que se indique
        expresamente lo contrario, gratuito.
        En caso de que no cuentes con usuario y contraseña de acceso a nuestras plataformas privadas, alojada en el
        Sitio
        Web, deberás registrarte desde los enlaces y/o formularios habilitados al efecto, donde deberás introducir todos
        tus
        datos reales y veraces, dado que será la única forma que tendremos de poder procesar los posibles pedidos que
        realices en el futuro, así como gestionar correctamente nuestra relación comercial.
        Queda prohibido el acceso al Sitio Web por parte de menores de edad.
        Bajo ningún concepto Casa Vitini se responsabilizará de la veracidad de los datos de registro facilitados por
        los
        usuarios finales, por lo que cada uno de estos son los responsables de las posibles consecuencias, errores y
        fallos
        que posteriormente puedan derivarse de la falta de veracidad de los datos.
    </p>

    <p class="tituloBloque">3.1 Objeto y Ámbito de aplicación.</p>
    <p class="textoBloque">Es requisito imprescindible para poder registrarse como usuario ser mayor de 18 años, y
        proporcionar todos los datos requeridos y catalogados como obligatorios. A este respecto, Casa Vitini en cada
        uno
        de los formularios de registro se indicarán las condiciones particulares a cumplir por el usuario. Casa Vitini
        se
        reserva el derecho a solicitar la información necesaria o realizar las acciones tendentes a corroborar que el
        usuario registrado cumple con las condiciones exigidas por Casa Vitini para su registro.
        Del mismo modo, el usuario registrado asume que su cuenta como usuario es personal e intransferible.
        Bajo ningún concepto está permitida la cesión de la cuenta de usuario registrado entre diferentes personas.
    </p>

    <p class="tituloBloque">3.2. BAJA COMO USUARIO REGISTRADO.</p>
    <p class="textoBloque">En cualquier momento, los usuarios pueden solicitar su baja de la plataforma alojada en el
        Sitio
        Web bastando para ello con la puesta en contacto con Casa Vitini por los medios que se indiquen en cada uno de
        los registros o plataformas.
        En cualquier caso, una vez efectuada la baja, el usuario podrá solicitar un nuevo registro como cliente,
        quedando
        reservada la facultad de Casa Vitini de no admitir dicho registro en los casos concretos especificados en la
        cláusula denominada "Usos no autorizados" o en caso de conflicto o controversia suscitados entre las partes, por
        resolver o finalizado con reconocimiento de culpa o negligencia del cliente y/o perjuicio a Casa Vitini, a sus
        colaboradores y asociados o a sus usuarios, clientes o potenciales clientes.
    </p>

    <p class="tituloBloque">4. DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL.</p>
    <p class="textoBloque">Casa Vitini es titular o, en su caso, cuenta las licencias correspondientes sobre los
        derechos
        de explotación de propiedad intelectual e industrial del Sitio Web, así como de los derechos de propiedad
        intelectual e industrial sobre la información, materiales y contenidos de la misma.
        En ningún caso se entenderá que el acceso, navegación y utilización del Sitio Web por parte del usuario implica
        una
        renuncia, transmisión, licencia o cesión total o parcial de dichos derechos por parte de Casa Vitini. El usuario
        dispone de un derecho de uso de los contenidos y/o servicios del Sitio Web dentro de un ámbito estrictamente
        doméstico.
        Las referencias a marcas o nombres comerciales registrados, u otros signos distintivos, ya sean titularidad de
        CasaVitini
        HOTEL GROUP o de terceras empresas, llevan implícitas la prohibición sobre su uso sin el consentimiento de Casa
        Vitini
        GROUP o de sus legítimos titulares. En ningún momento, salvo manifestación expresa en contrario, el acceso,
        navegación o utilización del Sitio Web y/o de sus contenidos, confiere al usuario derecho alguno sobre signos
        distintivos en él incluidos.
        Quedan reservados todos los derechos de propiedad intelectual e industrial sobre los contenidos y/o servicios
        del
        Sitio Web y, en particular, queda prohibido modificar, copiar, reproducir, comunicar públicamente, transformar o
        distribuir, por cualquier medio y bajo cualquier forma, la totalidad o parte de los contenidos incluidos en la
        Web,
        para propósitos públicos o comerciales, si no se cuenta con la autorización previa, expresa y por escrito de
        CasaVitini
        HOTEL GROUP o, en su caso, del titular de los derechos correspondientes.
        En el caso de que el usuario envíe información de cualquier tipo a Casa Vitini a través cualquiera de los
        canales
        habilitados al efecto, el usuario declara, garantiza y acepta que tiene derecho a hacerlo libremente, que dicha
        información no infringe ningún derecho de propiedad intelectual, industrial, secreto comercial o cualesquiera
        otros
        derechos de terceros, y que dicha información no tiene carácter confidencial ni es perjudicial para terceros.
        El usuario reconoce asumir la responsabilidad, dejando indemne a Casa Vitini por cualquier comunicación que
        suministre personalmente o a su nombre, alcanzando dicha responsabilidad sin restricción alguna la exactitud,
        legalidad, originalidad y titularidad de la misma.
    </p>

    <p class="tituloBloque">6. CONDICIONES DE USO DEL SITIO WEB.</p>
    <p class="textoBloque">No está permitido y, por tanto, sus consecuencias serán de la exclusiva responsabilidad del
        usuario, el acceso o la utilización del Sitio Web con fines ilegales o no autorizados, con o sin finalidad
        económica, y, más específicamente y sin que el siguiente listado tenga carácter absoluto, queda prohibido:

        Usar el Sitio Web en forma alguna que pueda provocar daños, interrupciones, ineficiencias o defectos en su
        funcionalidad o en el ordenador de un tercero;
        Usar el Sitio Web para la transmisión, la instalación o la publicación de cualquier virus, código malicioso u
        otros
        programas o archivos perjudiciales;
        Usar el Sitio Web para recoger datos de carácter personal de otros usuarios;
        Registrarse a través del Sitio Web con una identidad falsa, suplantado a terceros o utilizando un perfil o
        realizando cualquier otra acción que pueda confundir a otros usuarios sobre la identidad del origen de un
        mensaje;
        Acceder sin autorización a cualquier sección del Sitio Web, a otros sistemas o redes conectadas a la Plataforma,
        a
        ningún servidor de Casa Vitini ni a los servicios ofrecidos a través del Sitio Web, por medio de pirateo o
        falsificación, extracción de contraseñas o cualquier otro medio ilegítimo;
        Quebrantar, o intentar quebrantar, las medidas de seguridad o autenticación del Sitio Web o de cualquier red
        conectada a la misma, o las medidas de seguridad o protección inherentes a los contenidos ofrecidos en el Sitio
        Web;
        Llevar a cabo alguna acción que provoque una saturación desproporcionada o innecesaria en la infraestructura del
        Sitio Web o en los sistemas o redes de Casa Vitini, así como en los sistemas y redes conectados al Sitio Web; o
        Impedir el normal desarrollo de un evento, concurso, promoción o cualquier otra actividad disponible a través
        del
        Sitio Web o cualesquiera de sus funcionalidades, ya sea alterando o tratando de alterar, ilegalmente o de
        cualquier
        otra forma, el acceso, participación o funcionamiento de aquéllos, o falseando el resultado de los mismos y/o
        utilizando métodos de participación fraudulentos, mediante cualquier procedimiento, y/o a través de cualquier
        práctica que atente o vulnere en modo alguno las presentes Condiciones de uso.
        El incumplimiento de cualquiera de las anteriores obligaciones por el usuario, podrá llevar aparejada la
        adopción
        por Casa Vitini de las medidas oportunas amparadas en Derecho y en el ejercicio de sus derechos u obligaciones,
        pudiendo llegar a la eliminación o bloqueo de la cuenta del usuario infractor, sin que medie posibilidad de
        indemnización alguna por los daños y perjuicios causados.
    </p>

    <p class="tituloBloque">7. RESPONSABILIDADES Y GARANTÍAS.</p>
    <p class="textoBloque">Casa Vitini no puede garantizar la fiabilidad, utilidad o veracidad de absolutamente toda la
        información y/o de los servicios del Sitio Web, ni tampoco de la utilidad o veracidad de la documentación puesta
        a
        disposición a través de la misma.
        En consecuencia, Casa Vitini no garantiza ni se hace responsable de: (i) la continuidad de los contenidos del
        Sitio Web; (ii) la ausencia de errores en dichos contenidos; (iii) la ausencia de virus y/o demás componentes
        dañinos en el Sitio Web o en el servidor que lo suministra; (iv) la invulnerabilidad del Sitio Web y/o la
        imposibilidad de vulnerar las medidas de seguridad que se adopten en la misma; (v) la falta de utilidad o
        rendimiento de los contenidos del Sitio Web; y (vi) los daños o perjuicios que cause, a sí mismo o a un tercero,
        cualquier persona que infringiera las condiciones, normas e instrucciones que Casa Vitini establece en el Sitio
        Web o a través de la vulneración de los sistemas de seguridad del Sitio Web.
        No obstante, Casa Vitini declara que ha adoptado todas las medidas necesarias, dentro de sus posibilidades y del
        estado de la técnica, para garantizar el funcionamiento del Sitio Web y reducir al mínimo los errores del
        sistema,
        tanto desde el punto de vista técnico, como de los contenidos publicados en el Sitio Web.
        Si el usuario tuviera conocimiento de la existencia de algún contenido ilícito, ilegal, contrario a las leyes o
        que
        pudiera suponer una infracción de derechos de propiedad intelectual o industrial, de la normativa aplicable en
        material de protección de datos personales y/o cualquier otro derecho, deberá notificarlo inmediatamente a Casa
        Vitini
        GROUP para que ésta pueda proceder a la adopción de las medidas oportunas.
        Casa Vitini no garantiza la licitud, fiabilidad y utilidad de los contenidos suministrados por terceros a través
        del Sitio Web.
        Casa Vitini no será responsable sobre la veracidad, integridad o actualización de las informaciones publicadas
        en
        el Sitio Web provenientes de fuentes ajenas al mismo (noticias externas, informes de profesionales externos,
        etc.),
        así como tampoco de las contenidas en otros portales web mediante enlace desde el Sitio Web.
        Casa Vitini no asumirá responsabilidad en cuanto a hipotéticos perjuicios que pudieran originarse por el uso de
        las citadas informaciones.
        En todo caso, Casa Vitini se reserva el derecho a suspender, modificar, restringir o interrumpir, temporal o
        permanentemente, el acceso, navegación, uso, alojamiento y/o descarga del contenido y/o uso de servicios del
        Sitio
        Web, con o sin previa notificación, a los usuarios que contravengan cualquiera de las disposiciones detalladas
        en
        las presentes condiciones de uso, sin que medie posibilidad del usuario de exigir indemnización alguna por esta
        causa.
    </p>

    <p class="tituloBloque">8. POLÍTICA DE PRIVACIDAD Y COOKIES
    </p>
    <p class="textoBloque">De conformidad con lo dispuesto por la legislación vigente y aplicable en materia de
        protección
        de datos de carácter personal, todos los datos de carácter personal facilitados durante la utilización del Sitio
        Web
        serán tratados de conformidad con los dispuesto en la Política de privacidad que todo usuario debe aceptar
        expresamente para poder utilizar y registrarse en el Sitio Web.
        Todo usuario que acepte las presentes condiciones de uso, acepta de forma informada, expresa e inequívoca
        nuestra
        Política de Privacidad, pudiendo ejercer los derechos que en esta materia le corresponden, según se informa en
        la
        mencionada Política de Privacidad.
    </p>

    <p class="tituloBloque">9. LEY APLICABLE Y JURISDICCIÓN COMPETENTE
    </p>
    <p class="textoBloque">Estas Condiciones de Uso se rigen por la ley local de su país. Las partes se someten
        expresamente, para
        la resolución de los conflictos y con renuncia a cualquier otro fuero, a los juzgados y tribunales de Nicaragua.
        Para presentar reclamaciones en el uso de nuestros servicios el cliente puede dirigirse por correo a la
        dirección
        electrónica o física indicada en el apartado Contacto comprometiéndonos a buscar en todo momento una
        solución amistosa del conflicto.
        Última actualización: 5 de abril de 2024
        © 2019 Casa Vitini, S.A. Todos los derechos reservados.
    </p>
</div>