<p class="tituloGris">Configuración global</p>
<div class="marcoElasticoRelativo" componente="marcoElastico">
    <div class="administracion_configuracion_contenedorConfiguracion">
        <a class="administracion_configuracion_bloqueConfiguracion" vista="/administracion/configuracion/zona_horaria"
            href="/administracion/configuracion/zona_horaria" componente="botonConfiguracion">
            <div class="administracion_configuracion_descripcion">La configuración de la zona horaria determina la hora
                del reloj de Casa Vitini. Es fundamental que la zona horaria esté en la hora local de las instalaciones
                de Casa Vitini.</div>
            <div class="administracion_configuracion_tituloConfiguracion">Zona horaria de Casa Vitini</div>
        </a>
        <a class="administracion_configuracion_bloqueConfiguracion"
            vista="/administracion/configuracion/horas_de_entrada_y_salida"
            href="/administracion/configuracion/horas_de_entrada_y_salida" componente="botonConfiguracion">
            <div class="administracion_configuracion_descripcion">Establece la hora de salida y la hora de entrada de
                las reservas.</div>
            <div class="administracion_configuracion_tituloConfiguracion">Hora de entrda y salida</div>
        </a>
        <a class="administracion_configuracion_bloqueConfiguracion"
            vista="/administracion/configuracion/calendarios_sincronizados"
            href="/administracion/configuracion/calendarios_sincronizados" componente="botonConfiguracion">
            <div class="administracion_configuracion_descripcion">Calendarios de terceros para sincronizar reservas y
                evitar overbooking</div>
            <div class="administracion_configuracion_tituloConfiguracion">Calendarios sincronizados</div>
        </a>
    </div>

</div>