<arranque publico="conozcanos.arranque"></arranque>
<div class="contenedorParalax" contenedor="paralaje" zonaUID="conozcanos">
  <div class="parallax_comenzado" contenedorParalaje="paralaje">
    <div class="imagenParalaje fondoInicio" imagenParalaje="imagen" nombre="imagen1">
      <!-- <video src="/componentes/videos/video4_s.mp4" loop muted autoplay playsinline class="videoPresentacion" type="video/mp4"></video> -->
    </div>
    <!--<div class="texto_animado" elemento="textoAnimado">Texto animado</div>-->
    <div class='icon-scroll' elemento="textoAnimado" icono="mouse"></div>
  </div>
  <div class="texto">
    ¡Casa Vitini, un refugio paradisíaco en Guasacate, Nicaragua! Sumérgete en la serenidad de este encantador rincón,
    donde el sol tropical y la cálida brisa del Pacífico te abrazan. Disfruta de un clima inigualable durante todo el
    año, haciendo de cada día una experiencia única. Nuestro rinconcito es un abrazo a la autenticidad nicaragüense,
    donde la hospitalidad local y la exuberante naturaleza de Guasacate te harán sentir como en casa. En Casa Vitini, la
    desconexión es un lujo que ofrecemos con gusto. Relájate en nuestras cómodas instalaciones y descubre un refugio
    donde el buen clima y la conexión con la naturaleza se entrelazan para crear una experiencia inolvidable. Casa
    Vitini: tu oasis de paz en Guasacate, Nicaragua.
  </div>
  <div class="parallax_comenzado" contenedorParalaje="paralaje">
    <div class="imagenParalaje fondo2" imagenParalaje="imagen" nombre="imagen2">
    </div>
   <div class="texto_animado" elemento="textoAnimado">Te esperamos</div>
  </div>
  <div class="texto">
    En Casa Vitini, somos una familia dedicada a hacer cada momento inolvidable. Nuestro personal apasionado se esfuerza
    por superar tus expectativas, brindando un servicio personalizado desde el primer momento. Nos enorgullece cuidar
    cada detalle para asegurarnos de que tu experiencia sea plena y relajante. Desde la recepción hasta el equipo de
    atención al cliente, todos trabajamos para crear un ambiente acogedor. Ya sea en nuestras habitaciones exclusivas o
    explorando la naturaleza, estamos aquí para hacer tu estancia extraordinaria. En Casa Vitini, te invitamos a
    sumergirte en una experiencia donde el servicio excepcional es nuestra firma. Estamos comprometidos a hacer de tu
    estancia un recuerdo imborrable. ¡Bienvenido a Casa Vitini, tu hogar lejos de casa!
  </div>
  <div class="parallax_comenzado" contenedorParalaje="paralaje">
    <div class="imagenParalaje fondo3" imagenParalaje="imagen" nombre="imagen3">
    </div>
    <div class="texto_animado" elemento="textoAnimado">Cae la luz</div>
  </div>
  <div class="texto">
    En Casa Vitini, te ofrecemos un escenario vibrante lleno de oportunidades de ocio y entretenimiento, tanto dentro
    como fuera de nuestras instalaciones exclusivas. Podrás relajarte en nuestra piscina o explorar cada rincón pensado
    para brindarte momentos inolvidables. Además, te conectamos con la comunidad local para experiencias auténticas,
    desde eventos culturales hasta visitas a mercados locales. Queremos que cada día sea una aventura y una celebración,
    llenos de emociones y descubrimientos. ¡Te invitamos a vivir la excelencia y la cercanía en Casa Vitini!
  </div>
  <div class="parallax_comenzado" contenedorParalaje="paralaje">
    <div class="imagenParalaje fondo4" imagenParalaje="imagen" nombre="imagen4">
    </div>
    <div class="texto_animado" elemento="textoAnimado">Lugar de paz</div>
  </div>
  <div class="texto">
    En el corazón de Nicaragua, descubre un escondite de tranquilidad entre exuberantes paisajes naturales. Nuestro
    refugio te ofrece una promesa de paz tangible. Aquí, las suaves olas del océano Pacífico acarician la costa,
    mientras que la brisa tropical susurra entre las palmeras. Sumérgete en la serenidad de nuestras playas de arena
    blanca, contempla el resplandor del atardecer sobre el horizonte o simplemente relájate con un masaje rejuvenecedor.
    En nuestro santuario en Nicaragua, te espera un oasis de calma donde el tiempo parece desvanecerse y el estrés se
    disipa.
  </div>
  <div class="parallax_comenzado" contenedorParalaje="paralaje">
    <div class="imagenParalaje fondo5" imagenParalaje="imagen" nombre="imagen5">
    </div>
    <div class="texto_animado" elemento="textoAnimado">Vente!</div>
  </div>
</div>
