<arranque publico="conozcanos.arranque"></arranque>
<div class="marcoElastico conozcanos">
    <!--
Original
    <div class="parallax">
        <div id="group1" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="title">Grupo 1 - Base Layer 1</div>
            </div>
        </div>
        <div id="group2" class="parallax__group">
            <div class="parallax__layer parallax__layer--base"  style="background-image: url('/componentes/imagenes/montana.jpg')">
                <div class="title">Grupo 2 - Base Layer 2</div>
            </div>
            <div class="parallax__layer parallax__layer--back">
                <div class="title">Grupo 2 - Background Layer 11</div>
            </div>
        </div>
      
        <div id="group3" class="parallax__group">
            <div class="parallax__layer parallax__layer--fore">
                <div class="title">Grupo 3 - Foreground Layer</div>
                        </div>
            <div class="parallax__layer parallax__layer--base">
                <div class="title">Grupo 3 - Base Layer 3</div>
            </div>
        </div>
     
        <div id="group4" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="title">Grupo 4 - Base Layer 4</div>
            </div>
            <div class="parallax__layer parallax__layer--back">
                <div class="title">Grupo 4 - Background Layer</div>
            </div>
            <div class="parallax__layer parallax__layer--deep">
                <div class="title">Grupo 4 - Deep Background Layer</div>
            </div>
        </div>
       
        <div id="group5" class="parallax__group">
            <div class="parallax__layer parallax__layer--fore">
                <div class="title">Grupo 5 - Foreground Layer</div>
            </div>
            <div class="parallax__layer parallax__layer--base">
                <div class="title">Grupo 5 - Base Layer 5</div>
            </div>
        </div>
        
        <div id="group6" class="parallax__group">
            <div class="parallax__layer parallax__layer--back">
                <div class="title">Grupo 6 - Background Layer</div>
            </div>
            <div class="parallax__layer parallax__layer--base">
                <div class="title">Grupo 6 - Base Layer 6 </div>
            </div>
        </div>
       
        <div id="group7" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="title">Grupo 7 - Base Layer 7</div>
            </div>
        </div>
        
    </div>
-->
    <div class="parallax">
        <div id="group1" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="title">Base Layer</div>
            </div>
            <div class="parallax__layer parallax__layer--back">
                <div class="title">Background Layer 1111</div>
            </div>
        </div>
        <div class="test_test_Test"> ¡Casa Vitini es tu refugio paradisíaco en Guasacate, Nicaragua!
            Sumérgete en la serenidad de este encantador rincon, donde el sol tropical abraza tu piel y la cálida brisa
            del Pacífico acaricia tu rostro. Desde un rincón de ensueño, Casa Vitini te invita a disfrutar de un clima
            inigualable durante todo el año, haciendo de cada día una experiencia única.
            Nuestro rincon no solo es un escape, es un abrazo a la autenticidad nicaragüense. La hospitalidad de la
            gente local te hará sentir como en casa, mientras te rodeas de la exuberante naturaleza que caracteriza a
            Guasacate. Desde playas de arena dorada hasta bosques tropicales, la belleza natural te cautivará en cada
            paso.
            En Casa Vitini, la desconexión es un lujo que ofrecemos con gusto. Déjate envolver por la tranquilidad de
            nuestro entorno, lejos del bullicio de la vida urbana. Relájate en nuestras cómodas instalaciones y
            siente cómo el tiempo se desliza sin prisas.
            Descubre un refugio donde el buen clima, la hospitalidad local y la conexión con la naturaleza se entrelazan
            para crear una experiencia inolvidable. Casa Vitini: tu oasis de paz en el corazón de Guasacate, Nicaragua.
        </div>
        <div id="group2" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="title">Base Layer</div>
            </div>
            <div class="parallax__layer parallax__layer--back">
                <div class="title">Background Layer</div>
            </div>
        </div>
        <div class="test_test_Test">hola</div>
        <div id="group3" class="parallax__group">
            <div class="parallax__layer parallax__layer--fore">
                <div class="title">Foreground Layer</div>
            </div>
            <div class="parallax__layer parallax__layer--base">
                <div class="title">Base Layer</div>
            </div>
        </div>
        <div class="test_test_Test">hola</div>
        <div id="group4" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="title">Base Layer</div>
            </div>
            <div class="parallax__layer parallax__layer--back">
                <div class="title">Background Layer</div>
            </div>
            <!-- <div class="parallax__layer parallax__layer--deep">
            <div class="title">Deep Background Layer</div>
        </div>-->
        </div>
        <div class="test_test_Test">hola</div>
        <div id="group5" class="parallax__group">
            <div class="parallax__layer parallax__layer--fore">
                <div class="title">Foreground Layer</div>
            </div>
            <div class="parallax__layer parallax__layer--base">
                <div class="title">Base Layer</div>
            </div>
        </div>
        <div class="test_test_Test">hola</div>
        <div id="group6" class="parallax__group">
            <div class="parallax__layer parallax__layer--back">
                <div class="title">Background Layer</div>
            </div>
            <div class="parallax__layer parallax__layer--base">
                <div class="title">Base Layer</div>
            </div>
        </div>
        <div class="test_test_Test">hola</div>
        <div id="group7" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="title">Base Layer</div>
            </div>
            <div class="parallax__layer parallax__layer--fore">
                <div class="title">Foreground Layer</div>
            </div>
        </div>
    </div>
</div>
<script>
</script>