<arranque publico="miCasa.cuenta.portada.arranque"></arranque>
<p class="tituloGris">Mi Casa Vitini</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div class="marcoCuenta" componente="marcoCuenta">
        </div>
    </div>
</div>