<arranque publico="miCasa.portal.arranque"></arranque>
<p class="titulo">Mi Casa Vitini</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div componente="marcoVitiniIDX" class="miCasa_marcoVitiniIDX">
            <div class="marcoIDX">
                <div class="vitiniIdLogin">
                    <div class="bloqueRespuesta" id="bloqueRespuesta">
                        bloqueRespuesta
                    </div>
                    <form action="" class="vitiniIdLogin">
                        <input type="email" class="campoID" componente="campoID" IDX="usuario" value=""
                            placeholder="Escribe tu VitiniID" autocomplete="on">
                        <input type="password" class="campoID" componente="campoID" IDX="clave" value=""
                            placeholder="Escribe tu contraseña" autocomplete="on">
                    </form>
                    <div class="bloqueBotonesID" componente="contenedorBotones">
                        <p class="botonID" componente="botonID" boton="iniciarSession">Inciar Session</p>
                    </div>
                </div>
            </div>
            <div class="vitiniID_contenedor_opciones">
                <a class="opcionMicasa" componente="opcionMicasa" opcion="registraCuentaNueva"
                    href="/micasa/crear_nueva_cuenta" vista="/micasa/crear_nueva_cuenta">Registrar una cuenta nueva</a>
                <a class="opcionMicasa" componente="opcionMicasa" opcion="recuperarCuenta"
                    href="/micasa/recuperar_cuenta" vista="/micasa/recuperar_cuenta">Recuperar mi cuenta</a>
                <a class="opcionMicasa" componente="opcionMicasa" opcion="privacidad" href="/privacidad"
                    vista="/privacidad">Políticas de privacidad, uso de cookies y condiciones de uso</a>
            </div>

        </div>
    </div>
</div>
<!-- <video componente="video" src="/componentes/videos/video4_s.mp4" loop muted autoplay playsinline
    class="videoPresentacion" type="video/mp4"></video> -->