body {
    background-color: rgb(255 188 0 / 28%);
    height: 100vh;
}

main {
    height: 100vh;
    color: #503f39;
    align-items: normal;
}


@media (max-width: 1080px) {
.containerItem {
    height: 40vw;
    width: 40vw;
        padding: 0px;
    }
}
