<arranque administracion="enlacesDePago.crearComportamiento.arranque"></arranque>
<p class="titulo">Crear enlace de pago</p>
<div componente="espacioEnlacesDePago" class="marcoElasticoRelativo">
<div componente="enlacesDePago" class="espacioClientes">
    
</div>
</div>
