body {
    /* background-color: rgb(255 188 0 / 0.05); */
    background-image: url(/activos/imagenes/fotos/image00001_2s_comprimida.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background: linear-gradient(to bottom, #f0f0f0 50%, #ffffff 50%);
    background-size: 100% 200%; */
}

main {
    position: absolute;

}

.superContainer {
    display: grid;
    grid-template-rows: 100vh auto;

}


.plaza_servicios_infoGlobal {
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    text-align: justify;
}

.bloqueCaracteristicas {
    padding: 0px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 600px;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 25%);
    transition: all 2s ease-in-out !important;
    padding: 14px;
    /* align-items: center; */

}

.fondoAnimacion {
    background-image: url("/activos/imagenes/transparente.png");
    transition: background 1s linear;
}

.contenedorPresentacion {
    display: flex;
    flex: row;
}

main * {
    font-family: opensans-semibold !important;
}

.marcoElasticoRelativo {
    /* padding-left: 80px;
    padding-right: 80px; */
    max-width: 2160px;
    gap: 20px;
    transition: padding 1s linear, scale 250ms ease-in-out !important;
    padding: 0px;
    background-color: rgb(255, 254, 245);
    margin-top: 78vh;
    padding-bottom: 20px;

}

.marcoElasticoRelativo>* {
    transition: scale 250ms ease-in-out !important;

}

@media (max-width: 920px) {
    .bloqueCaracteristicas {
        align-items: center;
        transition: all 250ms ease-in-out !important;
        padding: 0px;
        height: 250px;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px;
    }

    .marcoElasticoRelativo {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 80vh;

    }

    .imagenBancoBambu {
        background-position: 80% center !important;
    }
}

.imagenPortada {
    height: 100vh;
    padding: 14px;
    /* margin-left: 100px;
    margin-right: 100px; */
    border-radius: 0px;
    background-position: center center !important;
    box-shadow: none;
}

.imagenPortadaIMG {
    background-image: url(/activos/imagenes/fotos/image00001_2s_comprimida.jpg)
}

.grid_contenedorApartamentos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 920px) {
    .grid_contenedorApartamentos {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 920px) {
    .imagenPortada {
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 14px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .imagenPortadaIMG {
        background-image: url(activos/imagenes/fotos/image00007_1_reto1V3.jpeg);
    }
}

.plaza_servicios_superBloque {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fontForImg {
    font-family: opensans-variable !important;
    font-weight: 550;
}

.plaza_servicios_tituloCaracteristica {
    /* font-weight: bold; */
    margin: 0px;
}


.photoSuperContainer {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: min-content 100% min-content;
}

.photoContainer {
    width: calc(100% - 156px);
    max-width: 100%;
    overflow: scroll;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    scrollbar-width: none;
    border-radius: 20px;
    padding: 10px;
    background: #80808029;
    margin-left: 77px;
}


.photoContainer .button {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    background: hsl(0deg 0% 100% / 50%);
    z-index: 2;
    position: absolute;
    padding: 10px;
    /* padding-left: 2px; */
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.photoContainer .butonStart {
    margin-left: 10px;
    padding-right: 12px;

}

.photoContainer .butonEnd {
    padding-left: 12px;
    right: calc(0% + 100px);
}

.triangleL {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 6px 12px 6px;
    border-color: transparent transparent black transparent;
    transform: rotate(270deg);
    pointer-events: none;
}

.triangleR {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 6px 12px 6px;
    border-color: transparent transparent black transparent;
    transform: rotate(90deg);
    pointer-events: none;
}

@media (max-width: 920px) {
    .photoContainer .button {
        display: none;
    }

    .photoContainer {
        margin-left: 16px;
        width: calc(100% - 32px);
    }

    [contenedor=apartamentos] {
        padding-left: 16px;
        padding-right: 16px;

    }

}

.photoContainer::-webkit-scrollbar {
    display: none;
}

/*  .photoGrid {
    display: grid;
    height: 300px;
    transition: all 2s ease-in-out !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    scrollbar-width: none; 
} */
.overridePiscina {
    background-position: center 75% !important;

}

.photoGrid {
    display: grid;
    height: 300px;
    transition: all 2s ease-in-out !important;
    grid-gap: 10px;
    padding: 0px;
    height: 150px;
    grid-template-rows: 1fr;
    grid-template-columns: none;
    grid-auto-flow: column;
    grid-auto-columns: 350px;


}

@media (max-width: 920px) {
    .photoGrid {
        padding: 0px;
        height: 150px;
        grid-template-rows: 1fr;
        grid-template-columns: none;
        grid-auto-flow: column;
        grid-auto-columns: 150px;
    }
}

.photoInGrid {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.posicionImagen {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 150ms linear;
}

.apliarImagen:hover {
    box-shadow: 0px 0px 20px 0px #0000007a;
}


.contenedorImagenesInstalaciones {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plaza_servicios_superBloque .contenedorApartamento {
    background: #f6e1af;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 30px;
    padding: 15px;

}

.plaza_servicios_superBloque .contenedorApartamento .titulo {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.plaza_servicios_superBloque .contenedorApartamento .descripcion {
    padding: 30px;
    text-align: center;
}

.plaza_servicios_superBloque .contenedorApartamento .contenedorImagenes {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px 15px;
    align-items: center;
    align-content: center;
    justify-items: stretch;

}

.plaza_servicios_superBloque .contenedorApartamento .imagenContenedor {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 18px;
    transition: all 100ms linear;
}

@media (min-width: 850px) {
    .plaza_servicios_superBloque .contenedorApartamento .imagenContenedor:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 20px 0px #0000007a;
    }
}


[animacion="contenedorImagen"] {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 0 cover 30%;
    animation-fill-mode: both;
}


@media (max-width: 920px) {
    .controlSegundaImagen {
        animation-name: none !important;
        animation-timeline: none !important;
    }
}


.textoPresentacion {
    padding-left: 120px;
    padding-right: 120px;
    text-align: justify;
    font-size: 16px;
    color: #2f2622;
    padding-top: 30px;
    padding-bottom: 50px;
}

@media (max-width: 920px) {
    .textoPresentacion {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0px;

    }
}



.cuadradoInicioTexto {
    text-align: center;
    padding: 10px;
    background: #b1afaf66;
    border-radius: 10px;
    animation: parpadeoElementoIndicadorGrisInstalaciones 5s infinite linear;
    font-size: 12px;

}

.contenedorImagen {
    gap: 6px;
    background: #00000021;
    /* border-radius: 14px; */
    overflow: hidden;

}

.contenedorImagenMovimientoNormal {
    transition: width 500ms linear;
}

.contenedorImangeControMovimiento {
    transition: width 100ms linear !important;
}


.contenedorImagenFondo {
    background-size: cover;
    background-position: center center;
    flex: 1;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color(srgb 0 0 0 / 0);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wcAAgAB/AcaxUIAAAAASUVORK5CYII=');
    transition: background-image 250ms linear !important;
}

.gridImagenesApartamento {
    display: flex;
    /* gap: 20px; */
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 16px;
    height: 400px;
    width: 100%;
    justify-content: flex-end;
    overflow: hidden;

}

@media (max-width: 920px) {
    .gridImagenesApartamento {

        height: 200px;

    }


}

.gridImagenesApartamento1 {
    display: grid;
    /* gap: 20px; */
    background-color: green;
    border-radius: 16px;
    height: 100%;
    width: 100%;
    grid-auto-columns: max-content;
    /* Las columnas se adaptan al tamaño del contenido */
    grid-auto-flow: column;

}



.gridImagenesApartamento_antiguo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    background-color: green;
    border-radius: 16px;
    width: 850px;
    height: 100%;
}

.nombreApartmento {
    font-size: 28px;
}

.contenedorInfoGlobal {
    position: sticky;
    top: 10px;
    height: 100%;

}

@media (max-width: 990px) {
    .gridImagenesApartamento_antiguo {
        grid-template-columns: 1fr;
    }

    .contenedorInfoGlobal {
        position: relative;
        width: 100%;
        top: auto;


    }
}

.plaza_servicios_contenedorCaracteristicas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width: 920px) {
    .plaza_servicios_contenedorCaracteristicas {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        padding-left: 0px;
        padding-right: 0px;
        gap: 6px;
    }
}

.plaza_servicios_definicionCaracteristica {
    margin: 0px;
}




.infoCaracteristicaTest {
    margin-top: -60px;
    text-align: center;
}


.plaza_servicios_contenedorCaracteristicaTexto {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    border-radius: 100px;
    display: flex;
    gap: 0px;
    flex-direction: column;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255 255 255 / 0.85);
    width: fit-content;
    transition: all 1s ease-in-out !important;
}


@media (max-width: 920px) {
    .plaza_servicios_contenedorCaracteristicaTexto {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        border-radius: 0px;
        width: 100%;
    }


}

.botonDinamico {
    color: #8D6E63;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 98vw;
}

.botonDinamico.plegado {
    font-size: 18px;
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    font-weight: 700;
    -webkit-backdrop-filter: blur(50px);
    background: rgb(255, 238, 202);
    color: black !important;
}

.botonDinamico.desplegado {
    font-size: 40px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background: transparent
}

@media (max-width: 920px) {
    .botonDinamico.desplegado {
        font-size: 25px;
    }

}

.contenedorIconoHuesped {
    background-image: url(/activos/iconos/guest.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedorIconoCompatido {
    height: 18px;
}

.iconoH {
    height: 18px;
    width: 18px;
}

.subtituloApartramento {
    font-size: 15px;
}

.botonMasInfo {
    padding: 10px;
    border-radius: 10px;
    transition: all 250ms linear;
    background: rgba(0, 0, 0, 0.1);

}

.botonMasInfo:hover {
    background: rgba(0, 0, 0, 0.3);

}

.imagenTest {
    background-image: url(/activos/imagenes/apartamentos/apartamento_6/image1.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedorApartamento {
    background: rgb(255, 238, 202) !important;
    box-shadow: 0 0 20px 0px #0000002c;

}


[superContenedor=imagenes] .button {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    background: hsl(0deg 0% 100% / 50%);
    z-index: 2;
    /* position: absolute; */
    padding: 10px;
    /* padding-left: 2px; */
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    align-content: center;
    justify-content: center;
}

[superContenedor=imagenes] .botonAtras {
    width: 32px;
    translate: 10px;
    padding-left: 8px;

}

[superContenedor=imagenes] .botonAdelante {
    translate: -42px;
    width: 32px;
    padding-right: 8px;
}

.tituloApartmentoResponsivo{
    display: none;
}


@media (max-width: 920px) {
    .tituloApartmentoResponsivo{
        display: flex;
    }
    .tituloApartmentoNOResponsivo {
        display: none;

    }
}
