<div class="marcoElasticoRelativo sobreControlAnimacionGlobal" contenedor="marcoElasticoRelativo" z="instalaciones">
    <div class="plaza_servicios_superBloque" contenedor="instalaciones">
        <div class="contenedorImagenesInstalaciones" grupoIDV="instalaciones">

            <!-- <div componente="fotoAmpliable">
                <div class="imagenPortada bloqueCaracteristicas posicionImagen imagenPortadaIMG" animacion="contenedorImagen"
                    origenImagen="linea" >
        
                </div>
            </div> -->

            <div contenedor="presentacion">
                <p class="textoPresentacion fontForImg">
                    La arquitectura moderna se fusiona con la naturaleza para ofrecerte un espacio agradable y acogedor.
                    Con grandes cristaleras que inundan cada rincón con luz natural y buena ventilación, creando un
                    ambiente que invita al bienestar y a la desconexión.
                    El diseño de nuestros apartamentos se creó con la intención de ofrecer dos ambientes distintos que
                    nuestros visitantes podrán elegir a su conveniencia. Un ambiente más social e interactivo,
                    abriéndose a la zona central con la piscina y el jardín y otro ambiente más privado e íntimo
                    centrado en el interior de los apartamentos y los patios traseros.
                </p>

            </div>

            <div class="plaza_servicios_contenedorCaracteristicas">
                <div componente="fotoAmpliable">
                    <div class="bloqueCaracteristicas posicionImagen fondoAnimacion apliarImagen" animacion="contenedorImagen"
                        origenImagen="atributo" tipoImagen="url"
                        urlImagen="/activos/imagenes/apartamentos/apartamento_5/image00037.jpeg">
                        <!-- <div class="plaza_servicios_contenedorCaracteristicaTexto">
                            <p class="plaza_servicios_definicionCaracteristica fontForImg">Apartamento tipo loft</p>
                        </div> -->
                    </div>
           
                </div>

                <div componente="fotoAmpliable">

                    <div class="bloqueCaracteristicas posicionImagen apliarImagen overridePiscina imagen3IMG controlSegundaImagen"
                        origenImagen="atributo" tipoImagen="url" animacion="contenedorImagen"
                        urlImagen="/activos/imagenes/instalaciones/image00009V2.jpeg">
                                          <!-- <div class="plaza_servicios_contenedorCaracteristicaTexto">
                            <p class="plaza_servicios_definicionCaracteristica fontForImg">Plaza central</p>
                        </div> -->
                    </div>
                </div>


                <div componente="fotoAmpliable">
                    <div class="bloqueCaracteristicas posicionImagen  apliarImagen" 
                   
                        origenImagen="atributo" tipoImagen="url"
                        urlImagen="/activos/imagenes/fotos/terrazareunion.jpeg">
                        <!-- <div class="plaza_servicios_contenedorCaracteristicaTexto">
                            <p class="plaza_servicios_definicionCaracteristica fontForImg">Terrazas individuales con
                                vistas la piscina</p>
                        </div> -->
                    </div>
                </div>
                <div componente="fotoAmpliable">
                    <div class="bloqueCaracteristicas posicionImagen apliarImagen imagenBancoBambu"
                        origenImagen="atributo" tipoImagen="url" origenImagen="atributo"
                        tipoImagen="url" urlImagen="/activos/imagenes/fotos/image000062.jpeg">
                        <!-- <div class="plaza_servicios_contenedorCaracteristicaTexto">
                            <p class="plaza_servicios_tituloCaracteristica fontForImg">
                                Espacio al aire libre con banco de bambú.
                            </p>
                        </div> -->
                    </div>
                </div>

                <div componente="fotoAmpliable">

                    <div class="bloqueCaracteristicas posicionImagen apliarImagen" origenImagen="atributo"
                        tipoImagen="url"
                        urlImagen="/activos/imagenes/fotos/image00018-playa.jpeg">
                        <!-- <div class="plaza_servicios_contenedorCaracteristicaTexto">
                            <p class="plaza_servicios_definicionCaracteristica fontForImg">
                                A tan solo cien metros de la reconocida playa Guasacate
                            </p>
                        </div> -->
                    </div>
                </div>


                <div componente="fotoAmpliable">
                    <div class="bloqueCaracteristicas posicionImagen  apliarImagen" origenImagen="atributo"
                        tipoImagen="url" 
                        urlImagen="/activos/imagenes/instalaciones/aerea1.jpeg">
                        <!-- <div class="plaza_servicios_contenedorCaracteristicaTexto">
                            <p class="plaza_servicios_definicionCaracteristica fontForImg">
                                Descubre un mundo de actividades y aventuras.
                            </p>
                        </div> -->
                    </div>
                </div>

            </div>


            <div class="photoContainer" com="photoGrid">
                <div class="butonStart button" com="atras">
                    <div class="triangleL"></div>
                </div>

                <div class="photoGrid">

                    <div componente="fotoAmpliable">
                        <div class="posicionImagen  fondoAnimacion photoInGrid" animacion="contenedorImagen"
                            origenImagen="atributo" tipoImagen="url"
                            urlImagen="/activos/imagenes/instalaciones/image00002.jpeg">
                        </div>
                    </div>
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen  fondoAnimacion photoInGrid" animacion="contenedorImagen"
                            origenImagen="atributo" tipoImagen="url"
                            urlImagen="/activos/imagenes/instalaciones/image00012.jpeg">
                        </div>
                    </div>


                    <div componente="fotoAmpliable">
                        <div class="posicionImagen  fondoAnimacion photoInGrid" animacion="contenedorImagen"
                            origenImagen="atributo" tipoImagen="url"
                            urlImagen="/activos/imagenes/apartamentos/apartamento_7/patio_horizontal.jpeg">
                        </div>
                    </div>



                    <div componente="fotoAmpliable">
                        <div class="posicionImagen  fondoAnimacion photoInGrid" animacion="contenedorImagen"
                            origenImagen="atributo" tipoImagen="url"
                            urlImagen="/activos/imagenes/apartamentos/apartamento_6/image00032.jpeg">
                        </div>
                    </div>

                    <div componente="fotoAmpliable">
                        <div class="posicionImagen  fondoAnimacion photoInGrid" animacion="contenedorImagen"
                            origenImagen="atributo" tipoImagen="url"
                            urlImagen="/activos/imagenes/fotos/image00002_2.jpeg">
                        </div>
                    </div>
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen  fondoAnimacion photoInGrid" animacion="contenedorImagen"
                            origenImagen="atributo" tipoImagen="url"
                            urlImagen="/activos/imagenes/fotos/image00003_5.jpeg">
                        </div>
                    </div>
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen  fondoAnimacion photoInGrid" animacion="contenedorImagen"
                            origenImagen="atributo" tipoImagen="url"
                            urlImagen="/activos/imagenes/instalaciones/image00006_04.jpeg">
                        </div>
                    </div>
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen  fondoAnimacion photoInGrid" animacion="contenedorImagen"
                            origenImagen="atributo" tipoImagen="url"
                            urlImagen="/activos/imagenes/fotos/image00011_2.jpeg">
                        </div>
                    </div>
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen  fondoAnimacion photoInGrid" animacion="contenedorImagen"
                            origenImagen="atributo" tipoImagen="url"
                            urlImagen="/activos/imagenes/instalaciones/image00011.jpeg">
                        </div>
                    </div>

                    <div componente="fotoAmpliable">
                        <div class="posicionImagen  fondoAnimacion photoInGrid" animacion="contenedorImagen"
                            origenImagen="atributo" tipoImagen="url"
                            urlImagen="/activos/imagenes/instalaciones/image00004.jpeg">
                        </div>
                    </div>

                </div>
                <div class="butonEnd button" com="adelante">
                    <div class="triangleR"></div>
                </div>

            </div>



        </div>
    </div>
</div>