<div class="marcoElasticoRelativo" contenedor="marcoElasticoRelativo" z="instalaciones">
    <div class="plaza_servicios_superBloque" contenedor="instalaciones">
        <div class="contenedorImagenesInstalaciones" grupoIDV="instalaciones">

            <div componente="fotoAmpliable">
                <div class="imagenPortada  bloqueCaracteristicas posicionImagen" animacion="contenedorImagen"
                    contenedor="imagenBase64"
                    style="background-image: url(/componentes/imagenes/fotos/image00001_2s.jpeg)">
                    <div class="plaza_servicios_contenedorCaracteristicaTexto infoCaracteristicaTest">
                        <p class="plaza_servicios_tituloCaracteristica">
                            Plaza central con jardín y piscina accesible desde su alojamiento
                        </p>
                        <!-- <p class="plaza_servicios_definicionCaracteristica">
                            Refrescante piscina sólo para huéspedes, accesible desde su alojamiento.
                        </p> -->
                        <!-- <p class="plaza_servicios_definicionCaracteristica">
                        </p> -->
                    </div>
                </div>
            </div>

            <p style="font-size: 12.5px;" class="textoPresentacion">
                Casa Vitini es un apartahotel ubicado en Las Salinas de Nahualapa, concretamente en la exclusiva área de
                Guasacate, a tan solo cien metros de sin duda una de las mejores playas de Nicaragua.
                <br><br>
                La arquitectura moderna se fusiona con la naturaleza para ofrecerte un espacio único y acogedor. Con
                grandes
                cristaleras que inundan cada rincón con luz natural y buena ventilación, creando un ambiente agradable
                que
                invita al bienestar y a la desconexión.
                <br><br>
                El diseño de los apartamentos se creó con la intención de ofrecer dos ambientes distintos que nuestros
                visitantes podrán elegir a su conveniencia. Un ambiente más social e interactivo, abriéndose a la zona
                central
                con la piscina y el jardín y otro ambiente más privado e íntimo centrado en el interior de los
                apartamentos y
                los patios traseros.
                <br><br>

            </p>
            <p class="plaza_servicios_infoGlobal">




            </p>
            <div class="plaza_servicios_contenedorCaracteristicas">


                <div componente="fotoAmpliable">
                    <div class="bloqueCaracteristicas posicionImagen  apliarImagen" animacion="contenedorImagen"
                        contenedor="imagenBase64"
                        style="background-image: url(/componentes/imagenes/zonas_comunes/image00003_2.jpeg)">
                        <!-- <div class="plaza_servicios_contenedorCaracteristicaTexto">
                 
                             <p class="plaza_servicios_definicionCaracteristica">
                                Terraza trasera individual por apartamento dentro del recinto.
                            </p> 
                        </div> -->
                    </div>
                </div>

                <div componente="fotoAmpliable">

                    <div class="bloqueCaracteristicas posicionImagen apliarImagen overridePiscina"
                        contenedor="imagenBase64" animacion="contenedorImagen"
                        style="background-image: url(/componentes/imagenes/fotos/image00007_1_reto1V3.jpeg)">
                        <!-- <div class="plaza_servicios_contenedorCaracteristicaTexto">
                  
                            <p class="plaza_servicios_definicionCaracteristica">aqui</p>
                        </div> -->
                    </div>
                </div>

                <div componente="fotoAmpliable">

                    <div class="bloqueCaracteristicas posicionImagen  apliarImagen" contenedor="imagenBase64"
                        animacion="contenedorImagen"
                        style="background-image: url(/componentes/imagenes/fotos/terrazareunion.jpeg)">
                        <div class="plaza_servicios_contenedorCaracteristicaTexto">

                            <p class="plaza_servicios_definicionCaracteristica">Terrazas individuales con vistas la
                                piscina</p>
                        </div>
                    </div>
                </div>
                <div componente="fotoAmpliable">
                    <div class="bloqueCaracteristicas posicionImagen apliarImagen imagenBancoBambu"
                        animacion="contenedorImagen" contenedor="imagenBase64"
                        style="background-image: url(/componentes/imagenes/fotos/image000062.jpeg)">
                        <div class="plaza_servicios_contenedorCaracteristicaTexto">
                            <p class="plaza_servicios_tituloCaracteristica">
                                Espacio al aire libre con banco de bambú.
                            </p>
                            <!-- <p class="plaza_servicios_definicionCaracteristica">
                                Terraza trasera individual por apartamento dentro del recinto.
                            </p> -->
                        </div>
                    </div>
                </div>

                <div componente="fotoAmpliable">

                    <div class="bloqueCaracteristicas posicionImagen  apliarImagen" contenedor="imagenBase64"
                        animacion="contenedorImagen"
                        style="background-image: url(/componentes/imagenes/fotos/image00018-playa.jpeg)">
                        <div class="plaza_servicios_contenedorCaracteristicaTexto">
                            <!-- <p class="plaza_servicios_tituloCaracteristica">
                                Alojamiento con cocina
                            </p> -->
                            <p class="plaza_servicios_definicionCaracteristica">
                                A tan solo cien metros de la reconocida playa Guasacate
                            </p>
                        </div>
                    </div>
                </div>


                <div componente="fotoAmpliable">

                    <div class="bloqueCaracteristicas posicionImagen  apliarImagen" contenedor="imagenBase64"
                        animacion="contenedorImagen"
                        style="background-image: url(/componentes/imagenes/fotos/DLT07892.jpg)">
                        <div class="plaza_servicios_contenedorCaracteristicaTexto">
                            <!-- <p class="plaza_servicios_tituloCaracteristica">
                                Alojamiento con cocina
                            </p> -->
                            <p class="plaza_servicios_definicionCaracteristica">
                                Descubre un mundo de actividades y aventuras.
                            </p>
                        </div>
                    </div>
                </div>



            </div>

            <div class="photoContainer">

                <div class="photoGrid">

                    <div componente="fotoAmpliable">
                        <div class="posicionImagen photoInGrid" animacion="contenedorImagen" contenedor="imagenBase64"
                            style="background-image: url(/componentes/imagenes/instalaciones/image00006_0.jpeg)">
                        </div>
                    </div>
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen photoInGrid" animacion="contenedorImagen" contenedor="imagenBase64"
                            style="background-image: url(/componentes/imagenes/instalaciones/image00012.jpeg)">
                        </div>
                    </div>
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen photoInGrid" animacion="contenedorImagen" contenedor="imagenBase64"
                            style="background-image: url(/componentes/imagenes/instalaciones/image00011.jpeg)">
                        </div>
                    </div>
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen photoInGrid" animacion="contenedorImagen" contenedor="imagenBase64"
                            style="background-image: url(/componentes/imagenes/instalaciones/image00002.jpeg)">
                        </div>
                    </div>
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen photoInGrid" animacion="contenedorImagen" contenedor="imagenBase64"
                            style="background-image: url(/componentes/imagenes/apartamentos/apartamento_7/patio_horizontal.jpeg)">
                        </div>
                    </div>
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen photoInGrid" animacion="contenedorImagen" contenedor="imagenBase64"
                            style="background-image: url(/componentes/imagenes/fotos/image00011_2.jpeg)">
                        </div>
                    </div>
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen photoInGrid" animacion="contenedorImagen" contenedor="imagenBase64"
                            style="background-image: url(/componentes/imagenes/instalaciones/image00004.jpeg)">
                        </div>
                    </div>
    
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen photoInGrid" animacion="contenedorImagen" contenedor="imagenBase64"
                            style="background-image: url(/componentes/imagenes/apartamentos/apartamento_6/image00032.jpeg)">
                        </div>
                    </div>
           
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen photoInGrid" animacion="contenedorImagen" contenedor="imagenBase64"
                            style="background-image: url(/componentes/imagenes/fotos/image00002_2.jpeg)">
                        </div>
                    </div>
                    <div componente="fotoAmpliable">
                        <div class="posicionImagen photoInGrid" animacion="contenedorImagen" contenedor="imagenBase64"
                            style="background-image: url(/componentes/imagenes/fotos/image00003_5.jpeg)">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>