<arranque publico="miCasa.cerrarSession"></arranque>

<p class="titulo">Mi Casa Vitini</p>
<div class="marcoElasticoRelativo">

    <div class="marcoElastico">
        <div class="marcoIDX">
            <div class="bloqueVertical  bloqueHorizontalMaximo720 ">
                <p href="/miCasa/cerrar_session" Componente="botonUsuario" class="informacionCerrarSession"
                    vista="/miCasa/cerrar_session">
                    Cerrando session... </p>
            </div>
        </div>
    </div>
</div>