<div class="marcoNavegacion" componente="marcoNavegacion">
    <div class="uiPanelGlobal" id="uiNavegacion" arranqueVolatil="espera">
        <a id="uiLogo"  class=""  Vista="portada" componente="logoCasaVitini" href="/">
            <!-- <img logo="casaVitini" class="imgLogo" src="/componentes/imagenes/logov.svg" alt=""> -->
        </a>
        <div componente="iconos"></div>
        <nav class="contenedorMenus" componente="contenedorMenu">
            <div class="contenedorIntermedio" contenedor="intermedio">
            </div>
            <div componente="botonMenuResponsivo" controlFlotante="cancelar" class="botonMenuResponsivo">
            </div>
        </nav>
    </div>
</div>