<div class="marcoNavegacion" componente="marcoNavegacion">
    <div class="uiPanelGlobal" id="uiNavegacion" arranqueVolatil="espera">
        <a id="uiLogo" Vista="portada" componente="logoCasaVitini" href="/">
            <img id="imgLogo" src="/componentes/imagenes/logov.svg" alt="">
            <!--
                     <img id="imgLogo" src="/componentes/imagenes/exportado.png" alt="">
                  -->
        </a>


        <nav class="contenedorMenu">
            <div class="uiNavegacion uiMenuResponsivo" id="navegadorResponsivo">
            </div>

            <div id="botonMenuResponsivo" class="uiMenuResponsivoDesplegado">
            </div>
        </nav>

    </div>

</div>
<!--<div class="contenedorFondo" componente="contenedorFondo"></div>-->