<div class="marcoNavegacion" componente="marcoNavegacion">
    <nav class="uiPanelGlobal" id="uiNavegacion" arranqueVolatil="espera">
        <a href="/" class="marcoVinculoLogo">
            <div id="uiLogo" Vista="portada" componente="logoCasaVitini" href="/">
                  <img id="imgLogo" src="/componentes/imagenes/logov.svg" alt="">
                  <!--
                     <img id="imgLogo" src="/componentes/imagenes/exportado.png" alt="">
                  -->
            </div>
        </a>

        <div class="contenedorMenu">
            <div class="uiNavegacion uiMenuResponsivo" id="navegadorResponsivo">
            </div>

            <div id="botonMenuResponsivo" class="uiMenuResponsivoDesplegado">
            </div>
        </div>

    </nav>

</div>
<!--<div class="contenedorFondo" componente="contenedorFondo"></div>-->

