<div class="marcoNavegacion" componente="marcoNavegacion">
    <div class="uiPanelGlobal" id="uiNavegacion" arranqueVolatil="espera">
        <a id="uiLogo" Vista="portada" componente="logoCasaVitini" href="/">
            <img id="imgLogo" src="/componentes/imagenes/logov.svg" alt="">
            <!--
                     <img id="imgLogo" src="/componentes/imagenes/exportado.png" alt="">
                  -->
        </a>
        <nav class="contenedorMenu" componente="contenedorMenu">
            <div class="uiNavegacion uiMenuResponsivo ocultoInicial" id="navegadorResponsivo">
            </div>
            <div id="botonMenuResponsivo" controlFlotante="cancelar" class="uiMenuResponsivoDesplegado">
            </div>
        </nav>
    </div>
</div>
