<!-- <arranque publico="rol.arranque"></arranque> -->
<p class="titulo">Acceso denegado</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div class="marcoCuenta" componente="marcoCuenta">
            <div class="miCuenta_cambiarClave_contenedor">
                <p globalUI="textoCentrado">No está autorizado para acceder aquí. Esta zona solo es accesible con un VitiniID de más autoridad.</p>
            </div>
        </div>
    </div>
</div>