<arranque publico="miCasa.cuenta.eliminarCuenta.portada.arranque"></arranque>
<p class="titulo">Mi Casa Vitini</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div class="marcoCuenta" componente="marcoCuenta">
            <div class="miCuenta_cambiarClave_contenedor">
                <p class="miCuenta_cambiarClave_testo negrita">Eliminar cuenta y sus datos</p>
                <p class="miCuenta_cambiarClave_testo">Si desea eliminar tu cuenta de usuario escribe tu contrasena y pulsa en el boton eliminar. Desde entonces tus datos seran borrados de Casa Vitini. Esta operacion es irreversible y tu nombre de usuario estara disponible para quien los queira obtener. Esta operacion es inmediata.</p>



                <input type="text" class="miCuenta_cambiarClave_campoClave"
                    placeholder="Escriba la contrasena para confirmar la eliminacion de la cuenta" campo="clave">
 

                <div class="miCuenta_cambioClave_contenedorBotones">
                    <div class="miCuenta_cambiarClave_botonV1" componente="botonEliminarCuenta">Eliminar cuenta</div>
                </div>

            </div>
        </div>
    </div>
</div>