<arranque publico="miCasa.cuenta.eliminarCuenta.portada.arranque"></arranque>
<p class="tituloGris">Mi Casa Vitini</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div class="marcoCuenta" componente="marcoCuenta">
            <div class="miCuenta_cambiarClave_contenedor">
                <p class="miCuenta_cambiarClave_testo negrita">Eliminar cuenta y sus datos</p>
                <p class="miCuenta_cambiarClave_testo">Si necesitas eliminar tu cuenta de usuario, escribe tu contraseña
                    y pulsa el botón 'Eliminar'. Desde entonces, tus datos serán borrados de Casa Vitini. Esta operación
                    es irreversible y tu nombre de usuario estará disponible para quien lo desee. Esta operación es
                    inmediata.</p>
                <input type="text" class="miCuenta_cambiarClave_campoClave"
                    placeholder="Escribe la contraseña para confirmar la eliminación de la cuenta" campo="clave">

                <div class="miCuenta_cambioClave_contenedorBotones">
                    <div class="miCuenta_cambiarClave_botonV1" componente="botonEliminarCuenta">Eliminar cuenta</div>
                </div>
            </div>
        </div>
    </div>
</div>