<arranque administracion="enlacesDePago.arranque"></arranque>
<p class="tituloGris">Enlaces de pago</p>
<div componente="espacioEnlacesDePago" class="marcoElasticoRelativo">
    <div componente="enlacesDePago" class="espacioClientes">

    </div>
</div>