<div class="marcoElasticoRelativo">
    <div class="flexVertical ocultoInicial gap10" ui="portada">
        <div class="colorGrisV1 negrita padding10">
            Protocolos de los alojamientos
        </div>
        <div class="contenedorBotones" , contenedor="alojamiento">
        </div>
    </div>
    <div class="flexVertical ocultoInicial" ui="detallesDelProtocolo">

        <div class="flexVertical gap10">
            <div class="colorGrisV1 negrita padding10" data="titulo">
                Protocolo del alojanmiento
            </div>
            <div class="flexVertical borderRadius22 borderGrey1 padding6 gap6">
                <div class="flexHorizontal">
                    <div class="botonV1BlancoIzquierda" boton="insertarElementoDelInventario">Insertar elemento del
                        inventario</div>
                </div>

                <div contenedor="inventarioDelAlojamiento"
                    class="flexVertical backgroundGrey1 padding6 borderRadius18 gap6">
                </div>
            </div>

            <div class="flexVertical borderRadius22 borderGrey1 padding6 gap6">
                <div class="flexHorizontal">
                    <div class="botonV1BlancoIzquierda" boton="insertarTarea">Crear tarea</div>
                </div>
                <div contenedor="tareasDelAlojamiento"                     class="flexVertical backgroundGrey1 padding6 borderRadius18 gap6">

                </div>
            </div>
        </div>
    </div>
</div>