<arranque publico="portada.arranque"></arranque>
<p class="tituloPortada" componente="titulo">Bienvenido</p>
<div class="bloqueReservasPortada">
    <a class="conenedorReserva" vista="/alojamiento" href="/alojamiento" Componente="botonCambiaVistaEnSection">
        <p class="textoReserva negrita textoBuscar">Iniciar proceso de reserva</p>
    </a>
</div>
<video componente="video" src="/componentes/videos/video4_s.mp4" loop muted autoplay playsinline
    class="videoPresentacion sobreControlAnimacionGlobal" type="video/mp4"></video>