<arranque publico="portada.arranque"></arranque>
<div class="marcoElasticoRelativo">
    <p class="titulo" componente="titulo" >Bienvenido</p>
    <div class="bloqueReservasPortada">
        <div id="zonaReserva">
            <div class="conenedorReserva" Vista="/alojamiento" Componente="botonCambiaVistaEnSection">
                <p class="textoReserva negrita textoBuscar">Iniciar proceso de reserva</p>
            </div>
        </div>
    </div>

</div>