<arranque administracion="reservas.pendientes_de_revision.arranque"></arranque>
<p class="titulo">Reservas pendientes de revisión</p>
<div class="marcoElasticoRelativo" componente="marcoElastico">
    <div class="reservas_pendientes_de_revision" componente="espacioReservasPendientesDeRevision">
    </div>
</div>
</div>