<div class="marcoElasticoRelativo">
    <p class="textoCentrado colorGrisV1 negrita">Nuevo deposito</p>
    <div class="flexHorizontal">
        <a class="botonV1BlancoIzquierda">
            Volver a los depositos
        </a>
    </div>
    <div ui="nuevoDeposito" class="flexVertical gap6">
        <p class="padding16"> Rellena los datos para crear un nuevo deposito dondde alamacenar ingresos y gastos</p>
        <input type="text" class="botonV1BlancoIzquierda_campo" campo="nombre" placeholder="Nombre del nuevo deposito">
        <select name="" campo="plataforma">
            <option disabled selected value="metalico">Seleciona el tipo de plataforma monetaria</option>
            <option value="metalico">Metálico</option>
            <option value="eletronico">Electrónico</option>
        </select>
        <p class="padding16">Crea un nuevo deposito, puedes cambiar los parametros de un depositvo en cualquier momento una vez creado</p>

        <div class="botonV1BlancoIzquierda" boton="crear">Crear nuevo deposito</div>
    </div>
</div>