<arranque publico="politicas.arranque"></arranque>
<p class="titulo">Politicas</p>
<div class="marcoElasticoRelativo flexVertical gap6">
    <p class="">Bienvenido al centro de politicas de Casa Vitini, aquí podras informarte de nuestras politicas. Queremos
        tengas una experienca transparente y documentada. Si tras leer las nuestras politicas tienen dudas sobre algo
        puedes ponerte en contacto con nosotros presencialemnte o a traves del canal de comunicacion que prefieras. Para
        saber como contactar con nosotros dirige al apartado Contacto del menu global.</p>

    <a class="botonV1 comportamientoBoton areaSinDecoracionPredeterminada" href="/politicas/cancelacion"
        vista="/politicas/cancelacion">Politicas de cancelación</a>
    <a class="botonV1 comportamientoBoton areaSinDecoracionPredeterminada" href="/politicas/privacidad"
        vista="/politicas/privacidad">Politicas de privacidad</a>
    <a class="botonV1 comportamientoBoton areaSinDecoracionPredeterminada" href="/politicas/cuentas"
        vista="/politicas/cuentas">Politicas de cuentas de usuario</a>
</div>