<arranque publico="politicas.arranque"></arranque>
<p class="tituloGris">Politicas</p>
<div class="marcoElasticoRelativo flexVertical gap6">
    <p class="padding14">Bienvenido al centro de políticas de Casa Vitini, aquí podrás informarte de nuestras políticas.
        Queremos que tengas una experiencia transparente y documentada. Si tras leer las nuestras políticas tienen dudas
        sobre algo, puedes ponerte en contacto con nosotros presuntamente o a través del canal de comunicación que
        prefieras. Para saber cómo contactar con nosotros, dirige al apartado Contacto del menú global.</p>
    <div class="gridHorizotnal3C gap10">
        <a class="botonV1 comportamientoBoton" href="/politicas/cancelacion" vista="/politicas/cancelacion">Políticas de
            cancelación</a>
        <a class="botonV1 comportamientoBoton" href="/politicas/privacidad" vista="/politicas/privacidad">Políticas de
            privacidad</a>
        <a class="botonV1 comportamientoBoton" href="/politicas/cuentas" vista="/politicas/cuentas">Políticas de cuentas
            de usuario.</a>
    </div>
</div>