<arranque administracion="clientes.arranque"></arranque>
<p class="titulo">Clientes</p>
<div componente="espacioBuscadorReservas" class="marcoElasticoRelativo">
<div componente="espacioClientes" class="espacioClientes"></div>
</div>
