<arranque administracion="clientes.arranque"></arranque>
<p class="tituloGris">Clientes</p>
<div componente="espacioComportamiento" class="marcoElasticoRelativo">
    <div componente="espacioClientes" class="espacioClientes"></div>
</div>