<arranque publico="miCasa.cuenta.configuracionZonaHoraria.arranque"></arranque>
<p class="titulo">Mi Casa Vitini</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div class="marcoCuenta" componente="marcoCuenta">
            <div class="miCuenta_cambiarClave_contenedor">
                <p class="miCuenta_cambiarClave_testo negrita">Configuración de la zona horaria</p>
                <p class="miCuenta_cambiarClave_testo">Desde aquí puede configurar la zona horaria. Puedes configurar
                    Casa Vitini para que muestre fechas y horas sobre la base de la zona horaria de tu sistema operativo
                    o puedes seleccionar una zona horaria específica y que el servidor te dé la fecha y las horas en esa
                    zona horaria, independientemente de la configuración de tu sistema operativo.</p>
                <input type="text" class="miCuenta_cambiarClave_campoClave" placeholder="Escribe tu nuevo VitiniID"
                    campo="nuevoIDX">
                <div class="miCuenta_cambioClave_contenedorBotones">
                    <div class="miCuenta_cambiarClave_botonV1" componente="botonCambiarIDX">Modificar VitiniID</div>
                </div>

            </div>
        </div>
    </div>
</div>