<arranque administracion="administracion.arranque"></arranque>
<p class="titulo">Administración</p>
<div class="marcoElasticoRelativo">
    <div class="administracion_portada_contenedorContextual">
        <div class="administracion_portada_contenedorContextual_titulo">
            Reservas
        </div>
        <div class="administracion_portada_contenedorContextual_contenedorBotones">
            <a href="/administracion/situacion" Componente="botonAdministracion" vista="/administracion/situacion"
                class="tituloContextoAdministracion">Situación</a>
            <a href="/administracion/reservas/pendientes_de_revision" Componente="botonAdministracion"
                vista="/administracion/reservas/pendientes_de_revision" class="tituloContextoAdministracion">Reservas
                pendientes de revisión</a>
            <a href="/administracion/calendario" Componente="botonAdministracion" vista="/administracion/calendario"
                class="tituloContextoAdministracion">Calendario</a>
            <a href="/administracion/reservas/buscador" Componente="botonAdministracion" vista="/administracion/reservas/buscador"
                class="tituloContextoAdministracion">Buscador de reservas</a>
            <a href="/administracion/reservas/nueva" Componente="botonAdministracion"
                vista="/administracion/reservas/nueva" class="tituloContextoAdministracion">Crear una nueva
                reserva</a>
            <a href="/administracion/enlaces_de_pago" Componente="botonAdministracion"
                vista="/administracion/enlaces_de_pago" class="tituloContextoAdministracion">Enlaces de pago</a>
        </div>
    </div>
    <div class="administracion_portada_contenedorContextual">
        <div class="administracion_portada_contenedorContextual_titulo">
            Clientes
        </div>
        <div class="administracion_portada_contenedorContextual_contenedorBotones">
            <a href="/administracion/clientes" Componente="botonAdministracion" vista="/administracion/clientes"
                class="tituloContextoAdministracion">Buscador de clientes</a>
            <a href="/administracion/clientes/nuevo" Componente="botonAdministracion"
                vista="/administracion/clientes/nuevo" class="tituloContextoAdministracion">Anadir un nuevo cliente</a>
        </div>
    </div>
    <div class="administracion_portada_contenedorContextual">
        <div class="administracion_portada_contenedorContextual_titulo">
            Precios e impuestos
        </div>
        <div class="administracion_portada_contenedorContextual_contenedorBotones">
            <a href="/administracion/precios" Componente="botonAdministracion" vista="/administracion/precios"
                class="tituloContextoAdministracion">Gestión de precios</a>
            <a href="/administracion/impuestos" Componente="botonAdministracion" vista="/administracion/impuestos"
                class="tituloContextoAdministracion">Gestión de impuestos</a>
            <a href="/administracion/gestion_de_ofertas" Componente="botonAdministracion"
                vista="/administracion/gestion_de_ofertas" class="tituloContextoAdministracion">Gestión de ofertas</a>
            <a href="/administracion/comportamiento_de_precios" Componente="botonAdministracion"
                vista="/administracion/comportamiento_de_precios" class="tituloContextoAdministracion">Comportamiento de
                precios</a>
        </div>
    </div>
    <div class="administracion_portada_contenedorContextual">
        <div class="administracion_portada_contenedorContextual_titulo">
            Arquitectura de alojamiento y disponibilidad
        </div>
        <div class="administracion_portada_contenedorContextual_contenedorBotones">
            <a href="/administracion/arquitectura_del_alojamiento" Componente="botonAdministracion"
                vista="/administracion/arquitectura_del_alojamiento" class="tituloContextoAdministracion">Arquitectura
                del
                alojamiento</a>
            <a href="/administracion/gestion_de_bloqueos_temporales" Componente="botonAdministracion"
                vista="/administracion/gestion_de_bloqueos_temporales" class="tituloContextoAdministracion">Gestión de
                bloqueos temporales</a>
        </div>
    </div>
    <div class="administracion_portada_contenedorContextual">
        <div class="administracion_portada_contenedorContextual_titulo">
            Usuarios y administradores
        </div>
        <div class="administracion_portada_contenedorContextual_contenedorBotones">
            <a href="/administracion/usuarios" Componente="botonAdministracion" vista="/administracion/usuarios"
                class="tituloContextoAdministracion">Buscador de usuarios</a>
            <a href="/administracion/usuarios/nuevo" Componente="botonAdministracion"
                vista="/administracion/usuarios/nuevo" class="tituloContextoAdministracion">Crear un nuevo usuario</a>
        </div>
    </div>
    <div class="administracion_portada_contenedorContextual">
        <div class="administracion_portada_contenedorContextual_titulo">
            Configuración global
        </div>
        <div class="administracion_portada_contenedorContextual_contenedorBotones">
            <a href="/administracion/configuracion/zona_horaria" Componente="botonAdministracion"
                vista="/administracion/configuracion/zona_horaria" class="tituloContextoAdministracion">Zona Horaria</a>
            <a href="/administracion/configuracion/horas_de_entrada_y_salida" Componente="botonAdministracion"
                vista="/administracion/configuracion/horas_de_entrada_y_salida"
                class="tituloContextoAdministracion">Hora de entrada y salida</a>
            <a href="/administracion/configuracion/calendarios_sincronizados" Componente="botonAdministracion"
                vista="/administracion/configuracion/calendarios_sincronizados"
                class="tituloContextoAdministracion">Calendarios sincronizados</a>
            <a href="/administracion/configuracion/limites_de_la_reserva_publica" Componente="botonAdministracion"
                vista="/administracion/configuracion/limites_de_la_reserva_publica"
                class="tituloContextoAdministracion">Límites de la reserva pública</a>
            <a href="/administracion/configuracion/interruptores" Componente="botonAdministracion"
                vista="/administracion/configuracion/interruptores"
                class="tituloContextoAdministracion">Interruptores</a>
                <a href="/administracion/configuracion/mensajes_en_portada" Componente="botonAdministracion"
                vista="/administracion/configuracion/mensajes_en_portada"
                class="tituloContextoAdministracion">Mensajes en portada</a>
        </div>
    </div>
</div>