<div class="superContainerIcons">
    <div class="containerIcon">
      <img class="iconoSVG" src="/activos/iconos/sun-svgrepo-com.svg" alt="">
      <!-- <div class="icon1 iconShared"></div> -->
      <!-- Sol -->
    </div>
    <div class="containerIcon">
      <img class="iconoSVG" src="/activos/iconos/surf-svgrepo-com_1.svg" alt="">

      <!-- <div class="icon2 iconShared"></div> -->
      <!-- Surf -->
    </div>
    <div class="containerIcon">
      <img class="iconoSVG" src="/activos/iconos/beach-with-umbrella-svgrepo-com.svg" alt="">

      <!-- <div class="icon3 iconShared"></div> -->
      <!-- Playas -->
    </div>
    <div class="containerIcon">
      <img class="iconoSVG" src="/activos/iconos/restaurant-plate-svgrepo-com.svg" alt="">

      <!-- <div class="icon4 iconShared"></div> -->
      <!-- Cocina -->
    </div>
    <div class="containerIcon">
      <img class="iconoSVG" src="/activos/iconos/swimming-pool-svgrepo-com1.svg" alt="">

      <!-- <div class="icon5 iconShared"></div> -->
      <!-- Piscina -->
    </div>
    <div class="containerIcon">
      <img class="iconoSVG" src="/activos/iconos/air-conditioner-svgrepo-com.svg" alt="">

      <!-- <div class="icon6 iconShared"></div> -->
    <!-- Aire acondicionado -->
    </div>



  </div>