
body {
    background-color: rgb(255 188 0 / 0.05);
}
main * {
    font-family: opensans-variable;
    align-items: flex-start;
    /* margin-bottom: 20px !important; */
}
@media (min-width: 2160px) {
    main{
        padding-left: 80px;
        padding-right: 80px;
    }
    
}
@font-face {
    font-family: lovetheking;
    src: url(/activos/fuentes/love_by_the_king/loved_by_the_King/LovedbytheKing-Regular.ttf) format('truetype');
    font-display: block;


}

@font-face {
    font-family: tradewings;
    src: url(/activos/fuentes/trade_winds/TradeWinds-Regular.ttf) format('truetype');
    font-display: block;


}

.conozcanos_contenedorInterno {

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.contactos_bannerGlobal {
    width: 100%;
    height: 400px;
}

.contactos_bannerTexto {
    font-size: 16px;
    text-align: justify;
    background: white;
    height: fit-content;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
    z-index: 10;
}

.fuentePerso1 {
    font-family: lovetheking !important;
    font-size: 45px;
    position: relative;
    top: -30px;
    transform: rotate(-8deg);
    right: 10px;
    white-space: nowrap;
    color: rgb(255, 133, 11);
}

@media (max-width: 720px) {
    .fuentePerso1 {
        font-size: 8vw;

    }

}



.contactos_bannerTextoInterno {
    font-size: 16px;
    text-align: justify;
    background-color: white;
    height: fit-content;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
}

.contactos_bannerTextoInternoUltimo {
    font-size: 16px;

    text-align: justify;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    height: fit-content;
    padding: 30px;


    margin: 30px;
    border-radius: 20px;
    background: white;
}


.conteactos_posicionadorBannerInterno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.plaza_conozcanos_primerBanner {
    background-image: url("/activos/imagenes/leonciudad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
}

.plaza_conozcanos_segundoBannerPalarax {
    background-image: url("/activos/imagenes/fotos/image00004.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.plaza_conozcanos_segundoBannerPalarax2 {
    background-image: url("/activos/imagenes/fotos/image00016.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.plaza_conozcanos_segundoBannerPalarax3 {
    background-image: url("/activos/imagenes/fotos/image00014.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


[zonaCSS="/conozcanos"] .texto111 {
    transform: translateY(0) translateZ(0) !important;
}

[zonaCSS="/conozcanos"] .fondoInicio {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/activos/imagenes/zonas_comunes/image00009V3.jpeg");
}

[zonaCSS="/conozcanos"] .fondo1 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/activos/imagenes/fotos/zonas_comunes/image00004.jpeg");
}

[zonaCSS="/conozcanos"] .fondo2 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/activos/imagenes/imagen2.jpg");
}

[zonaCSS="/conozcanos"] .fondo3 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/activos/imagenes/fotos/playaagua.jpeg");
}

[zonaCSS="/conozcanos"] .fondo4 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/activos/imagenes/fotos/salinas.jpg");
}

[zonaCSS="/conozcanos"] .fondo5 {
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/activos/imagenes/volcan3.jpg");
}

[zonaCSS="/conozcanos"] .fondo6 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/activos/imagenes/nic.jpeg");
}

[zonaCSS="/conozcanos"] .fondo7 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/activos/imagenes/fotos/image00016.jpeg");
}

[zonaCSS="/conozcanos"] .fondo8 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/activos/imagenes/montana.jpg");
}

[zonaCSS="/conozcanos"] .fondo8 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/activos/imagenes/leonciudad.jpg");
}

[zonaCSS="/conozcanos"] .conozcanos .parallax {

    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
}


[zonaCSS="/conozcanos"] .conozcanos .parallax::-webkit-scrollbar {
    width: 0px;

    height: 0px;
}

[zonaCSS="/conozcanos"] .conozcanos .parallax__group {
    position: relative;
    height: 500px;

    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

[zonaCSS="/conozcanos"] .conozcanos .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    -webkit-transform-origin-x: 100%;
}

[zonaCSS="/conozcanos"] .conozcanos .rojo {

    background: grey;
}

[zonaCSS="/conozcanos"] .conozcanos .azul {
    background: blue;
}

[zonaCSS="/conozcanos"] .conozcanos .turquesa {
    background: turquoise;
}

[zonaCSS="/conozcanos"] .conozcanos .capaFondoFinal {
    background-color: cornflowerblue;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -10;
}

[zonaCSS="/conozcanos"] .conozcanos .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

[zonaCSS="/conozcanos"] .conozcanos .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
    height: 100vh;
    top: 100vh;
    overflow: hidden;
}

[zonaCSS="/conozcanos"] .conozcanos .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}

[zonaCSS="/conozcanos"] .conozcanos .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}

[zonaCSS="/conozcanos"] .conozcanos .title {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 95vw;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 15px;
}

[zonaCSS="/conozcanos"] .conozcanos .textoAnterior {
    top: -50vh;
    color: white;
    font-size: 30px;
}

[zonaCSS="/conozcanos"] .conozcanos .ultimoTexto {
    top: 225vh;
    color: white;
    font-size: 30px;
}

[zonaCSS="/conozcanos"] .conozcanos #group1 {
    z-index: 10;
}

[zonaCSS="/conozcanos"] .conozcanos #group2 {
    z-index: 11;
}

[zonaCSS="/conozcanos"] .conozcanos #group3 {
    z-index: 9;
}

[zonaCSS="/conozcanos"] .conozcanos #group4 {
    z-index: 11;
}

[zonaCSS="/conozcanos"] .conozcanos #group5 {
    z-index: 3;
}

[zonaCSS="/conozcanos"] .conozcanos #group6 {
    z-index: 4;
}

[zonaCSS="/conozcanos"] .conozcanos #group7 {
    z-index: 2;
}

[zonaCSS="/conozcanos"] .conozcanos #group8 {
    z-index: 3;
}

[zonaCSS="/conozcanos"] .conozcanos .transparente {
    background: transparent;
}

[zonaCSS="/conozcanos"] .texto_v2_parallax {
    font-size: 45px;
    font-weight: bold;
    color: rgb(255 255 255 / 85%);
    transform: translateX(-50%, -50%);
    z-index: 10;
    pointer-events: none;
    position: absolute;
    transition: all 500ms linear;
    z-index: 101;
    padding-bottom: 450px;
    overflow: hidden;
    text-align: center;
}
@media (max-width: 1080px){
    .texto_v2_parallax {
        font-size: 8vw !important;
    }
}

[zonaCSS="/conozcanos"] [animacion="contenedorTexto"] {
    view-timeline-name: --text;
    view-timeline-axis: block;
    animation-timeline: --text;
    animation-name: appear;
    animation-range: entry 0% cover 50%;
    animation-fill-mode: both;
}

[zonaCSS="/conozcanos"] .contenedorParalax {
    display: flex;
    flex-direction: column;
    /* max-width: 1480px; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* width: 100%; */
    gap: 80px;
}


@media (max-width: 1080px) {
    [zonaCSS="/conozcanos"] .contenedorParalax {
        max-width: 2160px;
        gap: 80px;

    }

}

.redondeoIzquierda {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.redondeoDerecha {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

@media (min-width: 2160px) {
    .redondeoIzquierda {
        border-radius: 30px;
    }

    .redondeoDerecha {
        border-radius: 30px;
    }
}

@media (max-width: 1080px) {
    .redondeoIzquierda {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .redondeoDerecha {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }


}

[zonaCSS="/conozcanos"] .contenedorParalax .parallax {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

[zonaCSS="/conozcanos"] .contenedorParalax .primera_imagen {
    transition: all 1ms linear;
}

[zonaCSS="/conozcanos"] .contenedorParalax .parallax img {
    max-width: none;
    width: auto;
    height: 100%;

    top: 0;
    left: 50%;
    background-size: cover;
}

[zonaCSS="/conozcanos"] .contenedorParalax .imagenParalaje {
    height: 100% !important;
    width: 100% !important;
    top: 0;
    left: 50%;
    background-size: cover;
}

[zonaCSS="/conozcanos"] .contenedorParalax .parallax_comenzado {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

}

.primerContainerResponsivo {
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 30px !important;

}


@media (max-width: 1080px) {
    .primerContainerResponsivo {
        margin: 0px;
        border-radius: 0px !important;
    }

}


@media (min-width: 2160px) {
    .primerContainerResponsivo {
        border-radius: 30px;
        margin-left: 0px;
        margin-right: 0px;

    }
}

.gridFirstText {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    align-items: center;
    gap: 34px;

}

[zonaCSS="/conozcanos"] .contenedorImagenNecesario {
    overflow: hidden;
    /* border-radius: 0px; */
    z-index: 100;
    height: 100%;
    width: 100%;
}

[zonaCSS="/conozcanos"] .contenedorParalax .texto_animado {
    font-size: 50px;
    font-weight: bold;
    color: white;
    transform: translateX(-50%, -50%);
    z-index: 10;
    position: absolute;
    bottom: 40px;
    pointer-events: none;
    overflow: hidden;
}

[zonaCSS="/conozcanos"] .contenedorParalax .texto {
    padding-left: 50px;
    padding-right: 50px;
    z-index: 2;
    color: #8D6E63;
    font-weight: 550;
    font-size: 15px;
}

[zonaCSS="/conozcanos"] .contenedorParalax .icon-scroll,
[zonaCSS="/conozcanos"] .contenedorParalax .icon-scroll {
    pointer-events: none;
    width: 40px;
    height: 70px;
    bottom: 100px;
    box-shadow: inset 0 0 0 3px #fff;
    border-radius: 25px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    transition: opacity 500ms linear;
    transform: translateY(-50%, -50%);
    -webkit-transform: translateY(-50%, -50%);
    position: absolute;
}

[zonaCSS="/conozcanos"] .contenedorParalax .icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    left: 20px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    z-index: 200;
    position: absolute;
}

.containerFirst {
    display: flex;
    grid-gap: 20px;
    flex-direction: column;

}

.firstSuperContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.textoFirst {
    padding-top: 40px;
    /* padding-bottom: 20px; */
    padding-left: 80px;
    padding-right: 50px;
    color: #2f2622;
    font-weight: 550;
    font-size: 15px;



}

.firstTextContainer {
    height: 400px;
    padding-left: 80px;
    padding-right: 80px;

}

@media (max-width: 920px) {

    .firstTextContainer {
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1080px) {





    .containerFirst {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto;
        grid-gap: 8px;
    }

    .textoFirst {
        padding: 20px;
    }
}

.questions {
    border-radius: 20px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    color: rgb(173, 93, 14);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 550;
}

.lista * {
    font-family: lovetheking !important;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.celda {
    display: flex;
    flex-direction: row;
}

.puntoletras {
    font-family: lovetheking !important;
    font-size: 45px !important;

    font-weight: bold;
    display: flex;
    align-items: center;
    height: 22px;
}

.fuentee {
    font-family: opensans-variable !important;
    font-size: 13px !important;

}

.imagenTest {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 150px;
}



.contenedorImagen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    height: 100vh;
    width: 100%;
    align-items: stretch;

}

@media (max-width: 920px) {
    .contenedorImagen {
        grid-template-columns: 1fr;
        height: auto;

    }

    .imagenTest {
        height: 400px;

    }

}


.textoViaja {
    color: rgb(255 255 255 / 97%) !important;
    padding: 200px !important;

}

.texto_foto2 {
    color: rgb(255 255 255 / 55%) !important;
    font-size: 33px !important;

}

.texto_foto3 {
    color: rgb(255 255 255 / 55%) !important;

}

.marcoParaGoogleMaps {
    overflow: hidden;
    border-radius: 220px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 380px;
    width: 380px;
}

.frameGoogleMaps {
    height: 100%;
    border-radius: 20px;
}


.superContainerActividades {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
}

.tituloActividades {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 60px;
    color: #271f1c;
    font-weight: bold;
    font-family: tradewings;
}
@media (max-width: 920px) {
    .tituloActividades {
        font-size: 7vw;

    }
}
.textoAdrenalinaCompartido {
    text-align: justify;
    font-weight: 550;
    font-size: 15px;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.textaArribaAdrenaliina {


    /* padding-bottom: 40px; */
    /* font-family: tradewings; */
}


.paddingVertical {
    padding-top: 30px;
    padding-bottom: 30px;
}

.gridImagen1 {
    background-image: url(/activos/imagenes/actividades/caballos.jpg);
}

.gridImagen2 {
    background-image: url(/activos/imagenes/actividades/pesca1.jpg);
}

.gridImagen3 {
    background-image: url(/activos/imagenes/actividades/skate.jpg);
}

.gridImagen4 {
    background-image: url(/activos/imagenes/actividades/surf.jpg);
}

.tituloFotoActividades {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    border-radius: 100px;
    display: flex;
    gap: 0px;
    flex-direction: column;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(56, 56, 56, 0.85);
    width: fit-content;
    transition: all 1sease-in-out !important;
}

.tituloFotoGrande {
    font-size: 16px;
    z-index: 105;
    padding-left: 34px;
    padding-right: 34px;
    display: flex;
    align-items: center;
    color: #4e3f39;
    font-weight: 550;
    text-align: justify;
    /* overflow: hidden; */
    /* padding-top: 56px; */
}


.superContainerFotoVertical {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    align-items: center;
    gap: 0px;
}

@media (max-width: 920px) {
    .superContainerFotoVertical {
        grid-template-columns: 1fr;
        gap: 80px;

    }
}

.superContainerFoto {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    gap: 0px;
}

.vertical1 {
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
}

.vertical2 {
    display: flex;
    flex-direction: column;
    gap: 160px;
    align-items: center;
}

@media (max-width: 920px) {
    .vertical2 {
        gap: 80px;

    }
}



.superContainerFotoV2 {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    align-items: center;
    gap: 0px;
    width: 100%;
    height: auto;

}

.superContainerFotoV2>.cell-1 {
    order: 1;
}

.superContainerFotoV2 .cell-2 {
    order: 2;
}

.padingtopv1 {
    padding-top: 40px;
}


@media (max-width: 1080px) {
    .superContainerFoto {
        grid-template-columns: 1fr;
        gap: 80px;
        height: auto;
    }

    .superContainerFotoV2 {
        grid-template-columns: 1fr;
        gap: 80px;

    }


    .superContainerFotoV2>.cell-1 {
        order: 2;
    }

    .superContainerFotoV2>.cell-2 {
        order: 1;
    }

    .padingtopv1 {
        padding-top: 0px;
    }
}

.simpleParallax {
    height: 100%;
    width: 100%;
}

.marginBotton {
    margin-bottom: 80px;
}

@media (max-width: 1080px) {
    .marginBotton {
        margin-bottom: 0px;
    }

}

.containerIconsAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.superContainerIcons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    align-items: stretch;
    padding-left: 80px;
    padding-right: 50px;
    position: relative;
}

@media (max-width: 1080px) {
    .superContainerIcons {
        grid-template-columns: 1fr 1fr;
        padding-left: 20px;
        padding-right: 20px;

    }
}

.containerIcon {
    display: flex;
    flex-direction: row;
    /* background-color: orange; */
    border-radius: 10px;
    /* padding: 10px; */
    gap: 20px;
    align-items: center;
 
}

.iconShared {
    background-position: center center;
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
.iconoSVG {
    height: 44px;
}
.icon1 {
    background-image: url(/activos/iconos/sun-svgrepo-com.svg);
}

.icon2 {
    background-image: url(/activos/iconos/surfing-5-svgrepo-com.svg);
}

.icon3 {
    background-image: url(/activos/iconos/beach-with-umbrella-svgrepo-com.svg);
}

.icon4 {
    background-image: url(/activos/iconos/restaurant-2-svgrepo-com.svg);
}

.icon5 {
    background-image: url(/activos/iconos/volcano-svgrepo-com.svg);
}

.icon6 {
    background-image: url(/activos/iconos/sun-svgrepo-com.svg);
}