<!-- <div class="superContainer">
<div class="voidContainer"></div>

</div> -->


<div class="contenedorParalax sobreControlAnimacionGlobal" contenedor="paralaje" zonaUID="conozcanos">

  <!-- <div class="parallax_comenzado" contenedorParalaje="paralaje">
    <div class="contenedorImagenNecesario primerContainerResponsivo">
      <div class="imagenParalaje fondoInicio" imagenParalaje="imagen" nombre="imagen1">
      </div>
    </div>
  </div> -->

  <div class="firstSuperContainer">
    <div class="superContainerFotoV2 firstTextContainer">
      <div class="containerIconsAndText">

        <h1 class="titulo1 tituloShared">¿QUE ES <span class="tituloShared tituloCV">CASA VITINI?</span></h1>

        <p class="textoFirst" style="text-align: justify;">
          En el corazón de Popoyo nace Casa Vitini, un proyecto nacido del deseo de ofrecer no solo un espacio, sino un
          estilo de vida que refleje la esencia, el amor y la fascinación que sentimos por este lugar tan especial.
          <br>
          Inspirados por la naturaleza y la energía tan singular que aquí se respira, creamos un refugio privado y
          acogedor
          donde conectar contigo mismo y con otros en un ambiente de paz, inspiración y tranquilidad donde vivir en
          armonía
          con la naturaleza, sin renunciar a las comodidades de tu hogar.
          <br>
          ¡Ven y enamórate también!
        </p>


      </div>

      <div class="questions">
        <h2 class="negrita fuentePerso1">¿Por qué elegir Casa Vitini?</h2>
        <ul class="lista">
          <li>
            <div class="celda">
              <div class="puntoletras">·</div>
              <p>
                A SOLO 100 METROS DE LA PLAYA

              </p>
            </div>

          </li>
          <li>
            <div class="celda">
              <div class="puntoletras">·</div>
              <p>
                CERCA DEL FAMOSO SURF BRAKE DE POPOYO
              </p>
            </div>

          </li>
          <li>
            <div class="celda">
              <div class="puntoletras">·</div>
              <p>
                BUENOS RESTARURANTES A PIE
              </p>
            </div>

          </li>
          <li>
            <div class="celda">
              <div class="puntoletras">·</div>
              <p>
                PRECIO COMPETITIVO
              </p>
            </div>

          </li>
          <li>
            <div class="celda">
              <div class="puntoletras">·</div>
              <p>
                LIMPIEZA Y MANTENIMINETO 24/7
              </p>
            </div>

          </li>
          <li>
            <div class="celda">
              <div class="puntoletras">·</div>
              <p>
                SERVICIOS Y ACTIVIDADES ORGANIZADAS!
              </p>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </div>



  <div class="superContainerFoto">
    <div class="tituloFotoGrande cell-1 flexVertical">
      <h3 class="tituloTextoLateral">DESCONECTA, CONECTA</h3>
      <p class="textoLateralFoto">
        Rompe con la rutina, toma un respiro y dedícate ese tiempo que necesitas con
        todas
        aquellas actividades que tenías pendientes de hacer y que te ayudarán a crecer, desarrollarte y redescubrirte en
        cuerpo, salud y mente.
        <br><br>
        Desde paseos al atardecer, yoga, sesiones de dibujo en la playa, tocar la guitarra, meditación…
      </p>


    </div>

    <div class="parallax_comenzado" contenedorParalaje="paralaje">

      <div class="contenedorImagenNecesario redondeoIzquierda">
        <div class="imagenParalaje fondo2 " imagenParalaje="imagen" nombre="imagen2"
          urlImagen="/activos/imagenes/imagen2.jpg">
        </div>
      </div>

      <!-- <p class="texto_v2_parallax texto_foto2" animacion="contenedorTexto">Desconecta, connecta</p> -->
    </div>

  </div>

  <div class="superContainerFotoV2">
    <div class="parallax_comenzado cell-1" contenedorParalaje="paralaje">
      <div class="contenedorImagenNecesario redondeoDerecha">
        <div class="imagenParalaje fondo3" urlImagen="/activos/imagenes/fotos/playaagua.jpeg" imagenParalaje="imagen"
          nombre="imagen3">
        </div>
      </div>

      <!-- <p class="texto_v2_parallax texto_foto3" animacion="contenedorTexto">Enamorate</p> -->
    </div>
    <div class="tituloFotoGrande cell-2 flexVertical">
      <h4 class="tituloTextoLateral">ENAMORATE</h4>

      <p class="textoLateralFoto">
        Escápate a un mundo de paisajes inigualables: atardeceres que llenan de colores el horizonte, senderos que
        serpentean por el bosque y vistas que cautivan el alma. Cada rincón invita a disfrutar de la majestuosidad de la
        naturaleza en su máxima expresión.


      </p>

    </div>

  </div>
  <div class="superContainerActividades">

    <div class="flexVertical gap4 flexAHCentrad">
      <h5 class="tituloActividades">Adrenalina</h5>
      <p class="textaArribaAdrenaliina textoAdrenalinaCompartido">


        Popoyo ofrece un escenario vibrante, repleto de actividades extremas y electrizantes que dispararán tu ritmo
        cardiaco y dejarán huella en tu memoria para siempre. Desde Casa Vitini organizamos y recomendamos las mejores
        opciones de entretenimiento extremo en la zona para que aproveches tu tiempo al máximo.

      </p>

    </div>

    <div class="contenedorImagen">
      <div class="containerFotoActividades">
        <div class="imagenTest gridImagen4" urlImagen="/activos/imagenes/actividades/surf.jpg">
          <!-- <div class="tituloFotoActividades">Titulo</div> -->

        </div>

      </div>

      <div class="containerFotoActividades">
        <div class="imagenTest gridImagen3" urlImagen="/activos/imagenes/actividades/skate.jpg">
          <!-- <div class="tituloFotoActividades">Titulo</div> -->
        </div>

      </div>
      <div class="containerFotoActividades">
        <div class="imagenTest gridImagen2" urlImagen="/activos/imagenes/actividades/pesca1.jpg">
          <!-- <div class="tituloFotoActividades">Tour de pesca con amigos</div> -->

        </div>

      </div>
      <div class="containerFotoActividades">
        <div class="imagenTest gridImagen1" urlImagen="/activos/imagenes/actividades/caballos.jpg">
          <!-- <div class="tituloFotoActividades">Paseos a caballo por la playa</div> -->

        </div>

      </div>




    </div>
    <div class="superContainerFotoV2">
      <div class="parallax_comenzado cell-3" contenedorParalaje="paralaje">
        <div class="contenedorImagenNecesario redondeoDerecha">
          <div class="imagenParalaje fondo7" imagenParalaje="imagen" nombre="imagen5"
            urlImagen="/activos/imagenes/conozcanos/foto1_comprimida.jpg">
          </div>
        </div>

        <!-- <p class="texto_v2_parallax textoViaja" animacion="contenedorTexto">Descubre Nicaragua!</p> -->
      </div>
      <div class="tituloFotoGrande cell-4 flexVertical">
        <h6 class="tituloTextoLateral">COMUNIDAD</h6>

        <p class="textoLateralFoto">
          Popoyo es un refugio ideal donde viajeros de todas partes del mundo se sienten atraídos no solo por sus olas
          sino también por su buen ambiente, cálido y acogedor que reina en cada rincón. Es el sentido de comunidad y la
          conexión auténtica entre las personas lo que lo convierte en un paraíso para conocer gente increíble y hacer
          nuevas amistades.

      </div>


      </p>
    </div>



  </div>
  <div class="superContainerFoto">
    <div class="tituloFotoGrande cell-3 flexVertical">


      <p class="tituloTextoLateral">TRADICIÓN</p>

      <p class="textoLateralFoto">
        Conectados con la comunidad local para conocer historias únicas, eventos culturales, visitas
        a negocios locales... Queremos que cada día sea una aventura y una celebración, llenos de emociones y
        descubrimientos.


      </p>



    </div>
    <div class="parallax_comenzado" contenedorParalaje="paralaje">
      <div class="contenedorImagenNecesario redondeoIzquierda">
        <div class="imagenParalaje fondo4" imagenParalaje="imagen" nombre="imagen4"
          urlImagen="/activos/imagenes/fotos/salinas.jpg">
        </div>
      </div>

      <!-- <p class="texto_v2_parallax" animacion="contenedorTexto">Tradición</p> -->
    </div>
  </div>


  <div class="superContainerFotoV2 marginBotton">
    <div class="parallax_comenzado cell-3" contenedorParalaje="paralaje">
      <div class="contenedorImagenNecesario redondeoDerecha">
        <div class="imagenParalaje fondo5" imagenParalaje="imagen" nombre="imagen5"
          urlImagen="/activos/imagenes/volcan3.jpg">
        </div>
      </div>

      <p class="texto_v2_parallax textoViaja" animacion="contenedorTexto">Vente</p>
    </div>
    <div class="tituloFotoGrande cell-4 flexVertical">
      <p class="tituloTextoLateral">DESCUBRE NICARAGUA!</p>

      <p class="textoLateralFoto">
        Ubicados en un punto de partida perfecto para explorar otros lugares de interés. Estamos cerca de una gran
        variedad
        de atractivos turísticos como Granada, Ometepe, San Juan del sur... Playas ideales para surfear, reservas
        naturales, volcanes o lugares históricos. Ya sea que busques experiencias culturales o activades extremas, aquí
        encontrarás lo que buscas.




    </div>


    </p>
  </div>


</div>