<arranque publico="conozcanos.arranque"></arranque>
<div class="marcoElastico conozcanos">
    <div class="parallax" contenedor="paralaje">
        <div id="group1" class="parallax__group" >
            <div class="parallax__layer parallax__layer--base rojo">
                <div class="title ">
                    ¡Casa Vitini, un refugio paradisíaco en Guasacate, Nicaragua! Sumérgete en la serenidad de este encantador rincón, donde el sol tropical y la cálida brisa del Pacífico te abrazan. Disfruta de un clima inigualable durante todo el año, haciendo de cada día una experiencia única. Nuestro rinconcito es un abrazo a la autenticidad nicaragüense, donde la hospitalidad local y la exuberante naturaleza de Guasacate te harán sentir como en casa. En Casa Vitini, la desconexión es un lujo que ofrecemos con gusto. Relájate en nuestras cómodas instalaciones y descubre un refugio donde el buen clima y la conexión con la naturaleza se entrelazan para crear una experiencia inolvidable.
                    </div>
            </div>
            <div class="parallax__layer parallax__layer--back fondo1">
                <div class="title"></div>
            </div>
        </div>
        <div id="group2" class="parallax__group" >
            <div class="parallax__layer parallax__layer--fore">
                <div class="title textoAnterior">Texto anterior 1</div>
            </div>
            <div class="parallax__layer parallax__layer--base transparente" >
                <div class="title"></div>
            </div>
        </div>
        <div id="group3" class="parallax__group" >
            <div class="parallax__layer parallax__layer--base rojo">
                <div class="title">
                    En Casa Vitini, somos una familia dedicada a hacer cada momento inolvidable. Nuestro personal apasionado se esfuerza por superar tus expectativas, brindando un servicio personalizado desde el primer momento. Nos enorgullece cuidar cada detalle para asegurarnos de que tu experiencia sea plena y relajante. Desde la recepción hasta el equipo de atención al cliente, todos trabajamos para crear un ambiente acogedor. Ya sea en nuestras habitaciones exclusivas o explorando la naturaleza, estamos aquí para hacer tu estancia extraordinaria. En Casa Vitini, te invitamos a sumergirte en una experiencia donde el servicio excepcional es nuestra firma. Estamos comprometidos a hacer de tu estancia un recuerdo imborrable.</div>
            </div>
            <div class="parallax__layer parallax__layer--back  fondo2">
                <div class="title "></div>
            </div>
        </div>
        
        <div id="group4" class="parallax__group" >
            <div class="parallax__layer parallax__layer--fore">
                <div class="title textoAnterior">Texto anterior 2</div>
            </div>
            <div class="parallax__layer parallax__layer--base">
                <div class="title"></div>
            </div>
        </div>
        <div id="group5" class="parallax__group" >
            <div class="parallax__layer parallax__layer--base rojo ">
                <div class="title">En Casa Vitini, te ofrecemos un escenario vibrante lleno de oportunidades de ocio y entretenimiento, tanto dentro como fuera de nuestras instalaciones exclusivas. Podrás relajarte en nuestra piscina o explorar cada rincón pensado para brindarte momentos inolvidables. Además, te conectamos con la comunidad local para experiencias auténticas, desde eventos culturales hasta visitas a mercados locales. Queremos que cada día sea una aventura y una celebración, llenos de emociones y descubrimientos. ¡Te invitamos a vivir la cercanía en Casa Vitini!</div>
            </div>
            <div class="parallax__layer parallax__layer--back fondo3">
                <div class="title"></div>
            </div>
        </div>
        <div id="group6" class="parallax__group" >
            <div class="parallax__layer parallax__layer--fore">
                <div class="title textoAnterior">Texto anterior 3</div>
            </div>
            <div class="parallax__layer parallax__layer--base ">
                <div class="title"></div>
            </div>
        </div>
        <div id="group7" class="parallax__group" >
            <div class="parallax__layer parallax__layer--base rojo">
                <div class="title">En Casa Vitini, te despiertas con la suave brisa y el canto de aves tropicales, listo para un día lleno de posibilidades. Ofrecemos experiencias personalizadas desde el amanecer, con actividades al aire libre emocionantes como recorridos en bicicleta y paseos en tirolina. Nos enorgullece nuestra responsabilidad ambiental y participamos en iniciativas de conservación. Desde nuestras habitaciones hasta las aventuras en la selva, cada momento se convierte en un capítulo inolvidable en tu historia en Casa Vitini. ¡Bienvenido a nuestro paraíso!</div>
            </div>
            <div class="parallax__layer parallax__layer--back fondo4">
                <div class="title"></div>
            </div>
        </div>
        <div id="group8" class="parallax__group" >
            <div class="parallax__layer parallax__layer--fore">
                <div class="title textoAnterior">Texto anterior 4</div>
                <div class="title ultimoTexto">Vente</div>
            </div>
            <div class="parallax__layer parallax__layer--base ">
                <div class="title"></div>
            </div>
        </div>
       
    </div>
   <div class="capaFondoFinal fondo4"></div>
</div>
</div>