<arranque administracion="comportamiento_de_precios.arranque"></arranque>
<p class="titulo">Comportamiento de precios</p>
<div class="marcoElasticoRelativo" componente="espacioComportamiento">
</div>
</div>