.tituloContextoAdministracion, .botonActivado {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 14px;
    text-decoration: none;
    color: black;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    transition: all 250ms linear;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.fondoRojo {
background-color: rgb(255, 125, 125);
}
.fondoVerde {
    background-color: rgb(158, 255, 93);
    }
 .botonActivado:hover {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    transition: all 250ms linear;
}

 .administracion_portada_contenedorContextual {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 0px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

 .contenedorBotones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    grid-auto-rows: minmax(auto, auto);
    padding: 0px;
    justify-content: left;
    gap: 6px;
    padding: 10px;
}

@media (max-width: 1280px) {
     .contenedorBotones {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 720px) {
     .contenedorBotones {
        grid-template-columns: 1fr ;
    }
}

@media (max-width: 480px) {
     .contenedorBotones {
        grid-template-columns: 1fr;
    }
}

 .administracion_portada_contenedorContextual_titulo {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: #00000091;


}