<arranque administracion="arquitectura_del_alojamiento.configuraciones.crearConfiguracion.arranque"></arranque>
<p class="titulo" componente="titulo">Crear configuracíon de alojamiento</p>
<div componente="espacioConfiguracionDelALojamiento" class="marcoElasticoRelativo">
    <div componente="espacioBotonesGlobales" class="espacioBotonesGlobales">
    </div>
    <div componente="configuracionDelAlojamiento" class="espacioBloqueos">
        <div componente="espacioConfiguracionesAlojamiento" class="espacioConfiguracionesAlojamiento">
            <div class="arquitecturaConfCrearConfiguracion_contenedor" componente="zonaCreacion">
                <div class="arquitecturaConfCrearConfiguracion_titulo">Escoge un apartamento como entidad para construir
                    la base de la configuracion. Luego podras llenar este apartamento con habitaciones y asignarles
                    camas. Recuerda que aquí se muestran los apartamentos como entidades que no has usado para construir
                    configuraciones de alojamiento.</div>
            </div>
        </div>
    </div>
</div>