<arranque administracion="configuracion.horaDeEntradaSalida.arranque"></arranque>
<p class="titulo">Hora de entrada y salida de las reservas</p>
<div class="marcoElasticoRelativo" componente="marcoElastico">
</div>
</div>