<div class="flexVertical gap10 padding10">
    <p class="padding10 colorGrisV1 negrita textoCentrado">Situación del inventario</p>

    <div class="globalInfo" contenedor="globalInfo">
        <div class="contenedorIcono" contenedor="icono"></div>
        <div class="flexVertical flextJustificacion_center">
            <p class="negrita fontSize20" data="situacion"></p>
            <p data="descripcion"></p>
        </div>
    </div>
    <div contenedor="alertasPorCantidaddMinima" class="flexVertical gap10">
        <p class="padding20">Los siguientes elementos tienen una cantidad mínima estipulada</p>
    </div>

    <div contenedor="alertasPorPocaCantidad" class="flexVertical gap10">
        <p class="padding20">Los siguientes elementos no tienen una cantidad mínima estipulada pero se están acabando</p>
    </div>


</div>