<arranque administracion="arquitecturaDelAlojamiento.entidades.arranque"></arranque>
<p class="tituloGris textoCentrado" componente="titulo">Entidades de alojamiento</p>
<div componente="espacioConfiguracionDelALojamiento" class="marcoElasticoRelativo">
    <div componente="espacioBotonesGlobales" class="espacioBloqueos">
    </div>
    <div componente="configuracionDelAlojamiento" class="espacioBloqueos">
    </div>
</div>