<arranque administracion="reservas.arranque"></arranque>
<!-- <p class="titulo">Reservas</p> -->
<div class="marcoElasticoRelativo">
    <div class="administracion_portada_contenedorContextual">
        <div class="administracion_portada_contenedorContextual_titulo">
            Reservas
        </div>
        <div class="administracion_portada_contenedorContextual_contenedorBotones">
            <a href="/administracion/reservas/pendientes_de_revision" Componente="botonAdministracion"
                vista="/administracion/reservas/pendientes_de_revision" class="tituloContextoAdministracion">Reservas
                pendientes de revisión</a>
            <a href="/administracion/reservas/buscador" Componente="botonAdministracion" vista="/administracion/reservas/buscador"
                class="tituloContextoAdministracion">Buscador de reservas</a>
            <a href="/administracion/reservas/nueva" Componente="botonAdministracion"
                vista="/administracion/reservas/nueva" class="tituloContextoAdministracion">Crear una nueva
                reserva</a>

        </div>
    </div>
 
</div>