<arranque publico="privacidad.zonas.arranque"></arranque>
<p class="titulo">Política de privacidad</p>

<p class="tituloBloque">1. Identificación</p>
<p class="textoBloque">Casa Vitini<br>
    Domicilio social: Calle guasacate, 1km, Tola, Rivas, Nicaragua<br>
    CIF 00000000000<br>
    Registro Público: Inscrito en el Registro Mercantil de Nicaragua<br>
</p>

<p class="tituloBloque">2. Información y consentimiento</p>
<p class="textoBloque">Mediante la aceptación de la presente Política de Privacidad, el usuario queda informado y presta
    su consentimiento libre, informado, específico e inequívoco para que los datos personales que facilite a través de
    la página web ubicada en la URL www.casavitini.com (en adelante, el “Sitio Web”) sean tratados por Casa Vitini,
    así como los datos derivados de su navegación y aquellos otros datos que pueda facilitar en un futuro a Casa
    Vitini.<br>
    El usuario debe leer con atención esta Política de Privacidad, que ha sido redactada de forma clara y sencilla, para
    facilitar su comprensión, determinando libre y voluntariamente si desea facilitar sus datos personales a Casa
    Vitini.</p>

<p class="tituloBloque">3. OBLIGATORIEDAD DE FACILITAR LOS DATOS</p>
<p class="textoBloque">Los datos solicitados en los formularios del Sitio Web son con carácter general, obligatorios
    (salvo que en el campo requerido se especifique lo contrario) para cumplir con las finalidades establecidas.
    Por lo tanto, si no se facilitan los mismos o no se facilitan correctamente no podrán atenderse las mismas, sin
    perjuicio de que podrá visualizar libremente el contenido del Sitio Web..</p>

<p class="tituloBloque">4. ¿CON QUÉ FINALIDAD TRATARÁ Casa Vitini LOS DATOS PERSONALES DEL USUARIO Y DURANTE CUÁNTO
    TIEMPO?</p>
<p class="textoBloque">Los datos personales facilitados a través del Sitio Web serán tratados por Casa Vitini
    conforme a las siguientes finalidades:<br>

    4.1.Datos facilitados para la realización de reservas tanto de habitación como de salas para la organización de
    eventos en algunos de las diferentes instalaciones de Casa Vitini sin darse de alta como usuario en el Sitio Web, ya
    sea a través del presente Sitio Web como a través del servicio de “contact center” (call center, email o chat) para
    reservas individuales o de grupos:<br>

    Gestionar la realización de las reservas solicitadas por el usuario.
    Enviar la confirmación o documentación de la reserva realizada.<br>
    4.2.Datos facilitados para darse de alta como usuario registrado en Casa Vitini:<br>
    Gestionar su solicitud de alta dentro de la modalidad elegida por el usuario.
    Verificar que el usuario cumple con las exigencias para darse de alta dentro de la modalidad seleccionada, siempre
    que Casa Vitini lo considere conveniente o necesario.
    Trámite y respuesta a las posibles solicitudes de información que realice el usuario.
    Búsqueda de promociones que se ajusten a las necesidades que el usuario seleccione.<br>
    4.3.Datos facilitados a través del formulario de Best Price:<br>
    Gestionar las solicitudes de contacto e información del usuario a través de los canales dispuestos para ello en los
    sitios web de Casa Vitini en relación a mejores precios localizados en otros sitios webs o terceros relacionados
    con Casa Vitini.
    Gestión de la petición planteada.<br>
    4.4.Datos facilitados para publicaciones en el BLOG titularidad de Casa Vitini:<br>
    Gestionar la publicación de sus comentarios en el Sitio Web.
    Gestionar la suscripción y/o baja a la Newsletter del blog.
    En el supuesto de que ello sea necesario, realizar un control del contenido de los comentarios de los usuarios y, en
    su caso, eliminar aquellos cuyo contenido no se adecúe a las condiciones aplicables al presente Sitio Web a criterio
    de Casa Vitini.<br>
    4.5.Datos facilitados para la modificación y cancelación de reservas:<br>
    Gestionar de las solicitudes de modificación o cancelación de su reserva solicitadas por el usuario a Casa Vitini.
    Gestión de las consultas planteada a Casa Vitini en relación la modificación o cancelación de reservas.<br>
    Gestionar el alta en el servicio de comunicaciones comerciales que serán enviadas por Casa Vitini sobre los
    servicios ofertados por las diferentes entidades incluidas en la Cadena NH.<br>
    4.10.Datos proporcionados en los formularios de contacto y página web Corporate:<br>
    Gestionar las solicitudes de contacto e información del usuario a través de los canales dispuestos para ello en los
    sitios web de Casa Vitini.
    Gestión de la petición planteada.<br>
    4.11.Datos proporcionados en el formulario de recuperación de carrito:<br>
    Envío del recordatorio de la reserva no finalizada por el usuario o, en su caso, de las búsquedas realizadas por el
    usuario<br>

<p class="tituloBloque">5. ¿QUÉ DATOS DEL USUARIO TRATARÁ Casa Vitini?</p>
<p class="textoBloque">Casa Vitini tratará las siguientes categorías de datos del usuario:

    5.1.Datos facilitados para la realización de reservas tanto de habitación como de salas para la organización de
    eventos en algunas de las diferentes instalaciones de Cadena Casa Vitini sin darse de alta como usuario en el Sitio Web,
    ya
    sea a través del presente Sitio Web como a través del servicio de “contact center” (call center, email o chat) para
    reservas individuales o de grupos:<br>

    Datos identificativos: nombre, apellidos, nacionalidad.<br>
    Datos de contacto: dirección de correo electrónico, número de teléfono.<br>
    Datos de transacción de bienes y servicios.<br>
    Datos económicos, financieros y de seguros.<br>
    Preferencias de estancia.<br>
    5.2.Datos facilitados para darse de alta como usuario registrado en Casa Vitini:<br>

    Datos identificativos: nombre, apellidos, nacionalidad y dirección.<br>
    Datos de contacto: dirección de correo electrónico, número de teléfono.<br>
    Datos de detalle de empleo: profesión, sector.<br>
    Códigos o claves de identificación de usuario y/o titular.<br>
    5.3.Datos facilitados a través del formulario de Best Price:<br>

    Datos identificativos: nombre, apellidos, nacionalidad y dirección.<br>
    Datos de contacto: dirección de correo electrónico, número de teléfono.<br>
    Datos de transacción de bienes y servicios.<br>
    Datos relativos a mejores precios o de datos facilitados por los propios interesados en los campos abiertos de los
    formularios dispuestos en el Sitio Web o en los documentos adjuntos.<br>
    5.4.Datos facilitados para publicaciones en los BLOGs titularidad de Casa Vitini:<br>

    Datos identificativos: nombre, apellidos, nacionalidad y dirección.<br>
    Datos de contacto: dirección de correo electrónico.<br>
    5.5.Datos facilitados para la modificación y cancelación de reservas:<br>

    Datos identificativos: nombre, apellidos, nacionalidad y dirección.<br>
    Datos de contacto: dirección de correo electrónico.<br>
    Datos de transacciones de bienes y servicios.<br>
    Datos económicos, financieros y de seguros.<br>
    5.6.Datos facilitados para el envío de comunicaciones comerciales personalizadas sobre los diferentes servicios de
    las entidades incluidas en la Cadena NH.<br>

    Datos identificativos: nombre, apellidos, nacionalidad y dirección.<br>
    Datos de contacto: dirección de correo electrónico.<br>
    5.7.Datos facilitados para el envío de comunicaciones comerciales personalizadas sobre los diferentes servicios de
    los Partners de Casa Vitini.<br>

    Datos identificativos: nombre, apellidos, nacionalidad y dirección.<br>
    Datos de contacto: dirección de correo electrónico.<br>
    5.8.Datos facilitados para el envío de Newsletter:<br>

    Datos identificativos: nombre, apellidos, nacionalidad y dirección.<br>
    Datos de contacto: país de residencia, dirección de correo electrónico.<br>
    Datos de características personales: Idioma<br>
 
    5.10Datos proporcionados en los formularios de contacto y página web Corporate:<br>

    Datos identificativos: nombre, apellidos, nacionalidad y dirección.<br>
    Datos de contacto: dirección de correo electrónico, número de teléfono.<br>
    Datos de transacción de bienes y servicios.<br>
    5.11.Datos proporcionados en el formulario de recuperación de carrito:<br>

    Datos de contacto: dirección y dirección de correo electrónico.<br>
    5.12Datos proporcionados a través del formulario de GIFT CARDS y paquetes regalo:<br>

    Datos identificativos: nombre, apellidos.<br>
    Datos de contacto: dirección de correo electrónico, número de teléfono.<br>
    Datos económicos: tarjeta de crédito y/o medios de pago.<br>
    5.13.Datos facilitados para formar parte de los programas de NH+ Business Program;<br>

    Datos identificativos: nombre y apellidos de la persona de contacto.<br>
    Datos profesionales: empresa de trabajo, dirección.<br>
    Datos de contacto: dirección de correo electrónico.<br>
    5.14.Gestionar el reseteo de contraseña de programas de fidelización de terceros en los que participa Casa
    Vitini:<br>

    Datos identificativos: nombre y apellidos de la persona de contacto.<br>
    Códigos o claves de identificación de usuario y/o cliente.<br>


    Datos identificativos: nombre y apellidos de la persona de contacto.<br>
    Códigos o claves de identificación de usuario y/o cliente.<br>
    5.16Gestión de las solicitudes de contacto y peticiones de información planteadas por los usuarios de la página
    web:<br>

    Datos identificativos: nombre y apellidos de la persona de contacto.<br>
    Datos de contacto: dirección de correo electrónico.<br>
    Consulta planteada.<br>
    5.17.Gestión del servicio de FASTPASS:<br>

    Datos identificativos: nombre, apellidos, nacionalidad.<br>
    Datos de contacto: dirección de correo electrónico, número de teléfono.<br>
    Datos de transacción de bienes y servicios.<br>
    Datos económicos: tarjeta de crédito y/o medios de pago.<br>
    Preferencias de estancia.<br>
    5.18.Datos facilitados a través del chat disponible en la Página Web:<br>

    Datos identificativos: nombre y apellidos de la persona de contacto.<br>
    Datos de contacto: dirección de correo electrónico.<br>
    Consulta planteada.<br>
    5.19.Efectuar análisis sobre la utilización del Sitio Web y comprobar las preferencias y comportamiento de los
    usuarios.<br>

    Datos de navegación.<br>
    En caso de que el usuario facilite datos de terceros, manifiesta contar con el consentimiento de los mismos y se
    compromete a trasladarle la información contenida en la Política de Privacidad, eximiendo a Casa Vitini de cualquier
    responsabilidad en este sentido. No obstante, Casa Vitini podrá llevar a cabo las verificaciones periódicas para
    constatar este hecho, adoptando las medidas de diligencia debida que correspondan, conforme a la normativa de
    protección de datos.</p>


<p class="tituloBloque">6. ¿CUÁL ES LA LEGITIMACIÓN DEL TRATAMIENTO DE LOS DATOS DEL USUARIO?</p>
<p class="textoBloque">La legitimación del tratamiento de sus datos personales, serán las siguientes:

    6.1.Datos facilitados para la realización de reservas tanto de habitación como de salas para la organización de
    eventos en algunas de las diferentes instalaciones de Cadena Casa Vitini sin darse de alta como usuario en el Sitio Web,
    ya sea a través del presente Sitio Web como a través del servicio de “contact center” (call center, email o chat)
    para reservas individuales o de grupos y salas: la ejecución del contrato entre las partes.<br>

    6.2.Para la gestión del alta como usuario registrado, el consentimiento solicitado. No obstante, en caso de retirar
    su consentimiento, ello no afectará a la licitud de los tratamientos efectuados con anterioridad.<br>

    6.3.Para el formulario de Best Price en el consentimiento que se le solicita y que puede retirar en cualquier
    momento. No obstante, en caso de retirar su consentimiento, ello no afectará a la licitud de los tratamientos
    efectuados con anterioridad.<br>

    6.4.Para la gestión y publicación de los comentarios o publicaciones enviados por los usuarios en el BLOG, el
    consentimiento prestado por el usuario. En caso de retirar su consentimiento al tratamiento de publicación de los
    comentarios, el mismo será eliminado por Casa Vitini del Sitio Web.<br>

    6.5.Para la modificación y/o cancelación de su reserva, la ejecución del contrato entre las partes.<br>

    6.6.Para el envío de comunicaciones comerciales personalizadas sobre los diferentes servicios de las entidades
    incluidas en la Cadena NH, el consentimiento prestado por el usuario.<br>

    6.7.Para el envío de comunicaciones comerciales personalizadas sobre los diferentes servicios de los Partners de
    Casa Vitini, el consentimiento prestado por el usuario.<br>

    6.8.Para el envío de Newsletter, el consentimiento prestado por el usuario.<br>

    6.9.Por lo que se refiere al alta y gestión como miembro del Programa Discovery, La inscripción en el Programa NH
    Discovery. Este tratamiento está legitimado por la relación contractual establecida entre las partes.
    Envío de comunicaciones comerciales a través de correo electrónico o medio de comunicación electrónica equivalente
    sobre ofertas y servicios relacionados con el Programa, salvo que nos indique lo contrario oponiéndose al
    tratamiento de sus datos con esta finalidad. Este tratamiento está legitimado por el interés legítimo del
    responsable del tratamiento, tratándose de comunicaciones relacionadas con el programa aceptado por las presentes
    condiciones, estando el contenido de estas comunicaciones relacionado con el propio programa. El usuario podrá
    oponerse a este consentimiento enviando un correo electrónico a casavitini@casavitini.com, así como a través del
    procedimiento incluido en cada una de estas comunicaciones comerciales.
    Creación de una cuenta asociada al registro que permite el acceso dentro del sitio web de NH, para permitir la
    gestión de la cuenta del usuario, para comunicarse con el responsable, así como para gestionar la cuenta. Este
    tratamiento está legitimado por la relación contractual establecida entre las partes.
    Envío de comunicaciones relacionadas con su cuenta, incluyendo, entre otras, registro, notificaciones, fallos y/o
    problemas con la cuenta y cualquier otra comunicación que le mantenga informado del estado de su cuenta. Este
    tratamiento está legitimado por la relación contractual establecida entre las partes.
    Medir su grado de satisfacción con el servicio prestado, en aquellos casos en los que se haya alojado en alguno de
    los Hoteles participantes en el programa. Esta finalidad puede incluir el envío de encuestas de calidad y la
    adaptación y personalización de los servicios prestados por NH. Este tratamiento está legitimado por el interés
    legítimo que tiene NH.
    Para satisfacer su interés legítimo de controlar la calidad de sus servicios y evaluar la satisfacción de sus
    clientes, Casa Vitini podrá ponerse en contacto con el usuario para solicitar su valoración de los productos y servicios
    ofrecidos y/o adquiridos y analizar esta información con el fin de mejorar sus servicios.
    Este tratamiento responde a la necesidad de Casa Vitini de adaptar sus operaciones y los productos y servicios ofrecidos a
    las preferencias y expectativas de los usuarios, para lo cual es necesario conocer su opinión. Este tratamiento
    también contribuye a aumentar la calidad de los servicios prestados a los usuarios. Aunque para el análisis de las
    opiniones se recogerán las respuestas de forma individual, su análisis se realizará de forma general, mediante
    estadísticas, sin identificar a usuarios concretos. Los usuarios podrán, en todo caso, negarse a dar su valoración,
    así como comunicar su oposición a ser contactados con esta finalidad.
    Personalización de los servicios ofrecidos a los miembros del Programa, mediante el estudio de su perfil y gustos.
    Este tratamiento está legitimado por el interés legítimo de NH.
    Con el fin de mejorar la receptividad a los productos ofrecidos, Casa Vitini procederá a la elaboración de un perfil basado
    en sus características personales (como las estancias realizadas) y la información obtenida de sus acciones como
    usuario.
    Esta finalidad responde a la necesidad de realizar ofertas personalizadas a cada uno de los miembros del Programa
    (incluso por medios electrónicos, cuando así se autorice), para facilitar la adquisición por su parte de sus
    productos preferidos y alternativas similares, así como para ofrecerle productos que puedan ser de su interés en
    función de su perfil (para ello, se podrán tomar decisiones automatizadas). Por tanto, el usuario se beneficiará de
    ofertas adaptadas a sus preferencias y gustos, expresados a través de su actividad o deducidos en función de las
    características de su perfil. La información relativa a su perfil será tratada de forma segura y confidencial,
    siendo procesada únicamente en sistemas que analizan la información obtenida de forma automatizada. Además, el
    Usuario podrá, en cualquier momento, manifestar su voluntad de no ser objeto de este tratamiento ejerciendo su
    derecho de oposición al mismo.<br>
    6.10.Para el envío de los formularios de contacto y página web Corporate el consentimiento prestado por el
    usuario.<br>

    6.11.Para la recuperación del carrito y su recordatorio el consentimiento prestado por el usuario.<br>

    6.12.Para la compra de las tarjetas GIFT CARDS y paquetes regalos la ejecución del contrato entre las partes.<br>

    6.13.Para la gestión de los programas NH+ Business Program, Proceder al alta a NH+ Business Program. Este
    tratamiento está legitimado por la relación contractual establecida
    entre las partes.
    Envío de comunicaciones comerciales a través de correo electrónico o medio de comunicación electrónica equivalente
    sobre ofertas y servicios relacionados con el Programa, salvo que nos indique lo contrario oponiéndose al
    tratamiento de sus datos con esta finalidad. Este tratamiento está legitimado por el interés legítimo del
    responsable del tratamiento, tratándose de comunicaciones relacionadas con el programa aceptado por las presentes
    condiciones, estando el contenido de estas comunicaciones relacionado con el propio programa. El usuario podrá
    oponerse a este consentimiento enviando un correo electrónico a casavitini@casavitini.com, así como a través del
    procedimiento incluido en cada una de estas comunicaciones comerciales.
    Creación de una cuenta asociada al alta que permite el acceso dentro de la página de NH, para permitir la gestión de
    la cuenta del usuario, poder comunicar con el responsable, así como gestionar la cuenta. Este tratamiento está
    legitimado por la relación contractual establecida entre las partes.
    Remisión de comunicaciones relacionadas con su cuenta, incluyendo, entre otras, el alta, notificaciones, fallos y/o
    problemas con la cuenta y cualquier otra que le mantenga informado del estado de su cuenta. Este tratamiento está
    legitimado por la relación contractual establecida entre las partes.
    Medir su grado de satisfacción con el servicio prestado, en aquellos casos en los que se haya alojado en alguno de
    los Hoteles del Grupo. Esta finalidad puede incluir el envío de encuestas de calidad y la adaptación y
    personalización de los servicios facilitados por NH. Este tratamiento está legitimado por el interés legítimo que
    ostenta NH.
    Para la satisfacción de su interés legítimo en controlar la calidad de los servicios y evaluar la satisfacción de
    sus clientes, Casa Vitini podrá dirigirse al usuario para solicitarle su valoración sobre los productos y servicios ofertados
    y/o adquiridos y la realización de análisis de esta información para la mejora de los servicios.

    Este tratamiento responde a la necesidad de Casa Vitini de adaptar su operativa y los productos y servicios ofertados a las
    preferencias y expectativas de los usuarios, para lo que es necesario conocer su opinión. Este tratamiento
    contribuye igualmente al aumento de la calidad de los servicios prestados a los usuarios. Aunque para el análisis de
    las opiniones se recabarán las respuestas de forma individualizada, su análisis se realizará de manera forma
    general, por medio de estadísticas, sin identificar a usuarios concretos. El usuario podrá, en cualquier caso,
    rechazar dar su valoración, así como comunicar su oposición a ser contactado con esta finalidad.

    Personalización de los servicios ofertados a los miembros del Programa, por medio del estudio de su perfil y gustos.
    Este tratamiento está legitimado por el interés legítimo que ostenta NH.
    Para permitir la mejora en la receptividad a los productos ofertados, Casa Vitini procederá a la elaboración de un perfil
    basado en sus características personales (como estancias realizadas) y la información obtenida de sus acciones como
    usuario.

    Esta finalidad responde la necesidad hacer ofertas personalizadas a cada uno de los miembros del Programa (incluso
    por medios electrónicos, cuando lo haya autorizado), para facilitar la adquisición por su parte de sus productos
    preferidos y alternativas similares, así como ofrecerle productos que se considere que pueden ser de su interés en
    base a su perfil (para ello, podrán adoptarse decisiones automatizadas). Por lo tanto, el usuario se beneficiará de
    ofertas adaptadas a sus preferencias y gustos, manifestados a través de su actividad o deducidos de acuerdo con las
    características de su perfil. La información relativa a su perfil será tratada de forma segura y confidencial,
    siendo procesados únicamente en los sistemas que analizan la información obtenida de forma automatizada. Por otra
    parte, el Usuario podrá, en cualquier momento, manifestar su voluntad de no ser objeto del presente tratamiento,
    ejercitando su derecho de oponerse al mismo.<br>

    6.14.Para la gestión del reseteo de contraseña de programas de fidelización de terceros en los que participa Casa
    Vitini el consentimiento prestado por el usuario.<br>


    6.16.Para la gestión de las solicitudes de contacto y peticiones de información planteadas por los usuarios de la
    página web el consentimiento prestado por el usuario.<br>

    6.17.La gestión del servicio de FASTPASS está legitimada por la relación contractual establecida entre las
    partes.<br>

    6.18.Para el uso del chat disponible en la Página Web el consentimiento prestado por el usuario.<br>

    6.19.Para el análisis sobre la utilización del Sitio Web y comprobar las preferencias y comportamiento de los
    usuarios; el interés legítimo de Casa Vitini. Para la satisfacción de su interés legítimo en controlar la calidad de
    los servicios y evaluar la satisfacción de sus clientes, Casa Vitini podrá hacer uso de los datos de navegación de los
    usuarios en la Página Web para valorar los productos y servicios ofertados y/o adquiridos y la realización de
    análisis de esta información para la mejora de los servicios.<br>

    Este tratamiento responde a la necesidad de Casa Vitini de adaptar su operativa y los productos y servicios ofertados a las
    preferencias y expectativas de los usuarios.

    Los consentimientos obtenidos para las finalidades mencionadas son independientes por lo que el usuario podrá
    revocar solo uno de ellos no afectando a los demás.

    Para revocar dicho consentimiento, el Usuario podrá contactar con Casa Vitini a través de los canales siguientes
    casavitini@casavitini.com.<br>

    7. ¿CON QUÉ DESTINATARIOS SE COMPARTIRÁN LOS DATOS DEL USUARIO?
    Politica Privacidad General


    7.2.Datos facilitados para publicaciones en el BLOG titularidad de Casa Vitini:<br>

    Los datos proporcionados por el usuario serán publicados en el Sitio Web, por lo que serán accesibles por todo aquel
    usuario que acceda al mismo.
    7.3.Datos facilitados para la modificación y cancelación de reservas:<br>

    Empresas del grupo al que pertenece Casa Vitini, únicamente para fines administrativos internos y/o para las
    finalidades anteriormente indicadas.
    Entidad propietaria del hotel en el que el usuario se alojará con el fin de que el mismo conozca las condiciones del
    alojamiento que se hubieran modificado y/o cancelado siendo por lo tanto necesaria la cesión.

    7.5.Datos proporcionados en los formularios de contacto y página web Corporate:<br>

    Empresas del grupo al que pertenece Casa Vitini, únicamente para fines administrativos internos y/o para las
    finalidades anteriormente indicadas.
    7.6.Datos proporcionados a través del formulario de GIFT CARDS y paquetes regalo:<br>

    mpresas del grupo al que pertenece Casa Vitini, únicamente para fines administrativos internos y/o para las
    finalidades anteriormente indicadas.
    En el caso de incluirse productos y/o servicios en los GIFT CARDS y paquetes regalos, productos y/o servicios de
    terceras entidades, a dichas entidades a fin de que el usuario pueda disfrutar de estos productos y/o servicios, por
    lo que esta comunicación de datos se hace necesaria.

    7.8.Datos facilitados para gestionar el reseteo de contraseña de programas de fidelización de terceros en los que
    participa Casa Vitini, a estas entidades terceras.<br>


    7.10. Datos facilitados para la gestión del servicio de FASTPASS:<br>

    Entidad propietaria del hotel en el que el usuario se alojará con el fin de que el mismo conozca las condiciones del
    alojamiento siendo por lo tanto necesaria la cesión.
    Adicionalmente, los datos podrán ser accesibles por proveedores de Casa Vitini, siendo dicho acceso el necesario
    para el adecuado cumplimiento de las obligaciones legales y/o de las finalidades anteriormente indicadas. Dichos
    proveedores no tratarán sus datos para finalidades propias que no hayan sido previamente informadas por Casa Vitini.
</p>




<p class="tituloBloque">9. CONSERVACIÓN DE LOS DATOS</p>
<p class="textoBloque">Sus datos serán conservados durante los siguientes plazos:

    9.1. Datos facilitados para la realización de reservas sin darse de alta como usuario, ya sea a través del Sitio Web
    como contact center (call center, email o chat) para reservas individuales o de grupos y salas: serán conservados
    durante la relación contractual y, una vez finalizada la misma, durante el plazo de prescripción de las acciones
    legales que se puedan derivar de la misma.

    9.2. Datos facilitados para darse de alta como usuario registrado en Casa Vitini: en tanto en cuanto el usuario no
    revoque el consentimiento prestado. No obstante, en caso de retirar su consentimiento, ello no afectará a la licitud
    de los tratamientos efectuados con anterioridad.

    9.3. Datos facilitados a través del formulario de Best Price: durante el plazo necesario para la gestión de su
    solicitud enviada.

    9.4. Datos facilitados para publicaciones en los BLOGs titularidad de Casa Vitini: Los datos serán conservados en
    tanto en cuanto el usuario no revoque el consentimiento otorgado.

    9.5. Datos facilitados para la modificación y cancelación de reservas: serán conservados durante la relación
    contractual y, una vez finalizada la misma, durante el plazo de prescripción de las acciones legales que se puedan
    derivar de la misma.

    9.6. Datos facilitados para el envío de comunicaciones comerciales personalizadas sobre los diferentes servicios de
    las entidades incluidas en la Cadena NH: los datos serán conservados en tanto en cuanto el usuario no revoque el
    consentimiento otorgado o se oponga a la recepción de las comunicaciones.

    9.7. Datos facilitados para el envío de comunicaciones comerciales personalizadas sobre los diferentes servicios de
    los Partners de Casa Vitini: los datos serán conservados en tanto en cuanto el usuario no revoque el consentimiento
    otorgado o se oponga a la recepción de las comunicaciones.

    9.8. Datos facilitados para el envío de Newsletter: serán conservados en tanto en cuanto el usuario no revoque el
    consentimiento prestado al efecto.

    9.9. Datos facilitados para el Programa de Discovery: se conservarán durante la relación contractual y, una vez
    finalizada la misma, durante el plazo de prescripción de las acciones legales que se puedan derivar de la misma.

    9.10. Datos proporcionados en los formularios de contacto y página web Corporate: serán conservados durante el plazo
    necesario para dar trámite y contestación a su solicitud y, una vez finalizado el mismo, durante el plazo de
    prescripción de las acciones legales derivadas de la citada solicitud.

    9.11. Datos proporcionados en el formulario de recuperación de carrito: durante el plazo necesario para la gestión
    de su solicitud enviada.

    9.12. Datos proporcionados a través del formulario de GIFT CARDS: serán conservados durante el plazo necesario para
    dar trámite a la solicitud y, una vez finalizado el mismo, durante el plazo de prescripción de las acciones legales
    derivadas de la citada solicitud.

    9.13. Datos facilitados para formar parte de los programas NH+ Business Program: serán conservados durante la
    relación contractual y, una vez finalizada la misma, durante el plazo de prescripción de las acciones legales que se
    puedan derivar de la misma.

    9.14. Datos facilitados para la gestión del reseteo de contraseña de programas de fidelización de terceros en los
    que participa Casa Vitini: serán conservados hasta la tramitación de la petición.

    9.16. Datos facilitados para la gestión de las solicitudes de contacto y peticiones de información planteadas por
    los usuarios de la página web, hasta la tramitación de la resolución de la consulta. Una vez resuelta, la consulta
    puede ser anonimizada a fin de ser conservada por Casa Vitini con fines histórico-estadísticos.

    9.17. Datos facilitados para la gestión del servicio de FASTPASS: serán conservados durante la relación contractual
    y, una vez finalizada la misma, durante el plazo de prescripción de las acciones legales que se puedan derivar de la
    misma.

    9.18. Datos facilitados a través del chat disponible en el Sitio Web, se mantendrá durante 13 meses para
    posteriormente procederse a su borrado.

    9.19. Efectuar análisis sobre la utilización del Sitio Web y comprobar las preferencias y comportamiento de los
    usuarios, serán conservados durante un año. Una vez llegado este plazo, el análisis puede ser anonimizada a fin de
    ser conservada por Casa Vitini con fines histórico-estadísticos.</p>



<p class="tituloBloque">10. RESPONSABILIDAD DEL USUARIO</p>
<p class="textoBloque">El usuario:

    Garantiza que es mayor de dieciocho (18) años y que los datos que facilita a Casa Vitini son verdaderos, exactos,
    completos y actualizados. A estos efectos, el usuario responde de la veracidad de todos los datos que comunique y
    mantendrá convenientemente actualizada la información facilitada, de tal forma que responda a su situación real.
    Garantiza que ha informado a los terceros de los que facilite sus datos, en caso de hacerlo, de los aspectos
    contenidos en este documento. es señalados. Asimismo, garantiza que ha obtenido su autorización para facilitar sus
    datos a Casa Vitini para los fin.
    Será responsable de las informaciones falsas o inexactas que proporcione a través del Sitio Web y de los daños y
    perjuicios, directos o indirectos, que ello cause a Casa Vitini o a terceros..</p>



<p class="tituloBloque">11. EJERCICIO DE DERECHOS.</p>
<p class="textoBloque">El usuario puede enviar un escrito a Casa Vitini, a la dirección indicada en el encabezado de la
    presente Política, o bien por medio de un correo electrónico a la dirección casavitini@casavitini.com, adjuntando
    fotocopia de su documento de identidad, en cualquier momento y de manera gratuita, para:

    Revocar los consentimientos otorgados.
    Obtener confirmación acerca de si en Casa Vitini se están tratando datos personales que conciernen al usuario o no.
    Acceder a sus datos personales.
    Rectificar los datos inexactos o incompletos.
    Solicitar la supresión de sus datos cuando, entre otros motivos, los datos ya no sean necesarios para los fines que
    fueron recogidos.
    Obtener de Casa Vitini la limitación del tratamiento de los datos cuando se cumpla alguna de las condiciones
    previstas en la normativa de protección de datos.
    Solicitar la portabilidad de los datos facilitados por el Usuario en aquellos casos previstos en la normativa.
    Ponerse en contacto con el DPO de Casa Vitini a través de la siguiente dirección: casavitini@casavitini.com
    Interponer una reclamación relativa a la protección de sus datos personales ante la Agencia Española de Protección
    de Datos en la dirección Calle de Jorge Juan, 6, 28001 Madrid, cuando el interesado considere que Casa Vitini ha
    vulnerado los derechos que le son reconocidos por la normativa aplicable en protección de datos.</p>



<p class="tituloBloque">12. MEDIDAS DE SEGURIDAD</p>
<p class="textoBloque">Casa Vitini tratará los datos del usuario en todo momento de forma absolutamente confidencial y
    guardando el preceptivo deber de secreto respecto de los mismos, de conformidad con lo previsto en la normativa de
    aplicación, adoptando al efecto las medidas de índole técnica y organizativas necesarias que garanticen la seguridad
    de sus datos y eviten su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la
    tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos.</p>