<div class="container">
    <div class="sticky_ui">
        <div class="p">
            <h1 class="titulo">Tour de Surf en Lancha</h1>
            <div class="titulo_responsive">
                <p class="titulo_r1">Tour de Surf</p>
                <p class="titulo_r2">(En lancha)</p>
            </div>
            <br>
            <p class="textoInfo">Precio tour: $130 USD</p>
            <p class="textoInfo">Transporte: $20 USD extra</p>
            <p class="textoInfo">Capacidad máxima: 6 personas</p>
            <p class="textoInfo">Punto de salida: El Astillero</p>
            <br>
            <p class="textoInfo">(El tour no incluye tabla de surf)</p>
        </div>
        <details class="details1">
            <summary class="s">Puntos de surf</summary>
            <div class="c">
                <div>

                    Lances Left (El Peñón)
                    <br>
                    Chacocente
                    <br>
                    Playgrounds (Veracruz)
                </div>
            </div>
        </details>
    </div>
</div>
<div class="fondo1">
</div>

<div class="foto_r_shared foto1_r">
</div>

<div class="foto_r_shared foto2_r">
</div>