<arranque administracion="arquitecturaDelAlojamiento.configuraciones.arranque"></arranque>
<p class="titulo" componente="titulo">Configuraciones</p>
<div componente="espacioConfiguracionDelAlojamiento" class="marcoElasticoRelativo">

</div>