<p class="tituloGris">Cancelación</p>
<div class="marcoElasticoRelativo flexVertical gap6">
    <p>A continuación se describen nuestras políticas de cancelación de reservas. Al realizar una reserva aceptas las políticas de cancelación. Las políticas de cancelación están sujetas a cambios.    </p>
    <p>● Para recibir un reembolso completo deberás cancelar al menos 30 días antes de la llegada.</p>
    <p>● Sí, entre siete y 30 días antes de que empieza la estancia deberás pagar un importe correspondiente al 50% de las noches reservadas.</p>
    <p>● Si cancelas cuando faltan menos de 7 días para que comience la estancia, deberás pagar el 100% de todas las noches.</p>

</div>