TOURS
<!-- 

<div class="tourBoatFishin">

    <div class="tituloContainer">
        <p>Tour de pesca en lancha</p>
        <p>130$</p>


        <p>Duracion: Máximo 4 Horas</p>
        <p>🎣 ¡Vive una auténtica aventura de pesca en la pintoresca comunidad de Astillero! 🌊</p>

        <p>¡Sube a bordo de una lancha local y pesca al estilo nica! Además, con un poco de suerte, tendrás la
            oportunidad de avistar ballenas, tortugas, delfines u otra fauna marina. ¡No te pierdas esta experiencia
            única!</p>


        <div class="incluye">
            <p>Incluye: </p>
            <p>Capitán</p>
            <p>Chalecos salvavidas</p>
            <p>Cañas de pescar</p>
            <p>Viaje de hasta 4 horas</p>
        </div>


        <div class="recuerda">
            <p>Recuerda traer</p>
            <p>Al menos 1,5 litros de agua por persona</p>
            <p>Crema solar</p>
        </div>

        <div class="capacidad">
            <p>Capacidad máxina: 6 personas</p>
        </div>


        <div class="tipoPeces">
            <p>Tipos de peces que puedes pescar</p>
            <p></p>
            <p>Blue Runner (Gurel)</p>
            <p>Mackerel (Macarela)</p>
            <p>Snapper (Pargo)</p>
            <p>Barracuda (Barracuda)</p>
            <p>Tuna (Atún)</p>
            <p>Dorado (Mahi-Mahi)</p>
            <p>Marlin (Aguja)</p>
            <p>Depende de latemporada y el lugar</p>

        </div>


    </div>









</div>


<div class="tourSurf">

    <div class="tituloContainer">
        <p>Tour de Surf en Lancha</p>
        <p>$130 USD </p>


        <p>Transporte – +$20 USD</p>
        <p>Únete a nuestro tour de surf y disfruta de olas perfectas y poco concurridas, para que puedas surfear con
            total libertad. Vive tu pasión al máximo mientras contemplas la impresionante belleza natural de la costa
            pacífica nicaragüense.</p>

        <p>📍 Punto de salida: El Astillero</p>

        <p>🏄‍♂️ Lugares a elegir para surfear: Lances Left (El Peñón), Chacocente, Playgrounds (Veracruz)</p>
        <p>🔹 Recuerda traer: Tu propia tabla, agua y crema solar.
            ⚠️ (El tour no incluye tabla de surf)
        </p>

    </div>

</div>



<div class="tourHorse">

    <div class="tituloContainer">
        <p>Tour a Caballo</p>
        <p>$30/persona</p>


        <p>Duración: 1h 30min / 2 horas
        </p>
        <p>🌅 ¡Vive la magia de Guasacate a caballo! 🐎🌊</p>

        <p>Únete a nuestro Tour a Caballo por la Playa y descubre uno de los rincones más paradisíacos de Nicaragua.
            Siente la brisa del mar y deja que la arena y el océano te acompañen en esta travesía inolvidable.</p>

        <p>Disfruta de vistas espectaculares y momentos de calma mientras cabalgas por las playas vírgenes de Guasacate,
            Popoyo o Playa Sardina.</p>
        <p>El recorrido es guiado por un experto local, quien te dará las instrucciones necesarias para montar y te
            asistirá en todo momento, asegurándose de que vivas una experiencia única y segura.
        </p>

    </div>

</div>


<div class="lavanderiaServicio">
    <div class="superContainerTaxi">
        <p class="tituloTaxi negrita" style="font-size: 15px;">SERVICIO LAVANDERÍA</p>
        <div class="tablaTaxi">
            <div class="nombreDestino">
                Ropa interior
            </div>
            <div class="precioDestino">
                10C$
            </div>

            <div class="nombreDestino">
                Camisetas
            </div>
            <div class="precioDestino">
                20C$
            </div>

            <div class="nombreDestino">
                Camisas
            </div>
            <div class="precioDestino">
                25C$
            </div>
            <div class="nombreDestino">
                Pantalones cortos
            </div>
            <div class="precioDestino">
                20C$
            </div>
            <div class="nombreDestino">
                Pantalones largos
            </div>
            <div class="precioDestino">
                25C$
            </div>
            <div class="nombreDestino">
                Calcetines
            </div>
            <div class="precioDestino">
                5C$
            </div>
            <div class="nombreDestino">
                Ropa para niños (8 años o menos)
            </div>
            <div class="precioDestino">
                10C$
            </div>
            <div class="nombreDestino">
                Toallas pequeñas
            </div>
            <div class="precioDestino">
                15C$
            </div>
            <div class="nombreDestino">
                Toallas medianas
            </div>
            <div class="precioDestino">
                20C$
            </div>
            <div class="nombreDestino">
                Toallas grandes de playa
            </div>
            <div class="precioDestino">
                35C$
            </div>
            <div class="nombreDestino">
                Vestidos largos
            </div>
            <div class="precioDestino">
                25C$
            </div>
        </div>
    </div>
</div>

<div class="qrContainer">
    <div class="container1">
        <img src="/activos/imagenes/logoTransparente.svg" class="logocasavitini" alt="">
    </div>

    <div class="superContainer">
        <p class="text">Escanea este código qr para conocer nuestros productos y servicios</p>
        <img src="/activos/qr/qr2.svg" class="qrlogo" alt="">
        <p class="text">Red WIFI: CV | Contraseña: CasaVitini4</p>

        <div class="superContaienrLogo">
            <div>
            </div>

            <div>
                <div class="logos">
                    <div class="itemLogo">
                        <img src="/activos/iconos/instagram.svg" class="logoinstagram" alt="">
                        <p>@Casa_vitini</p>

                    </div>
                    <div class="itemLogo">
                        <img src="/activos/iconos/facebook.svg" class="logofacebook" alt="">
                        <p>@Casa_vitini_apartaments</p>

                    </div>
                </div>


            </div>

        </div>



    </div>
    <p style="text-align: center;">www.casavitni.com</p>

</div>



<div class="hojaVirtual">
    <div class="qrContainer">
        <div class="container1">
            <img src="/activos/imagenes/logoTransparente.svg" class="logocasavitini" alt="">
        </div>
    
        <div class="superContainer">
            <p class="text">Escanea este código qr para conocer nuestros productos y servicios</p>
            <img src="/activos/qr/qr2.svg" class="qrlogo" alt="">
            <p class="text">Red WIFI: CV | Contraseña: CasaVitini4</p>
    
            <div class="superContaienrLogo">
                <div>
                </div>
    
                <div>
                    <div class="logos">
                        <div class="itemLogo">
                            <img src="/activos/iconos/instagram.svg" class="logoinstagram" alt="">
                            <p>@Casa_vitini</p>
    
                        </div>
                        <div class="itemLogo">
                            <img src="/activos/iconos/facebook.svg" class="logofacebook" alt="">
                            <p>@Casa_vitini_apartaments</p>
    
                        </div>
                    </div>
    
    
                </div>
    
            </div>
    
    
    
        </div>
        <p style="text-align: center;">www.casavitni.com</p>
    
    </div>
    
    <div class="qrContainer">
        <div class="container1">
            <img src="/activos/imagenes/logoTransparente.svg" class="logocasavitini" alt="">
        </div>
    
        <div class="superContainer">
            <p class="text">Escanea este código qr para conocer nuestros productos y servicios</p>
            <img src="/activos/qr/qr2.svg" class="qrlogo" alt="">
            <p class="text">Red WIFI: CV | Contraseña: CasaVitini4</p>
    
            <div class="superContaienrLogo">
                <div>
                </div>
    
                <div>
                    <div class="logos">
                        <div class="itemLogo">
                            <img src="/activos/iconos/instagram.svg" class="logoinstagram" alt="">
                            <p>@Casa_vitini</p>
    
                        </div>
                        <div class="itemLogo">
                            <img src="/activos/iconos/facebook.svg" class="logofacebook" alt="">
                            <p>@Casa_vitini_apartaments</p>
    
                        </div>
                    </div>
    
    
                </div>
    
            </div>
    
    
    
        </div>
        <p style="text-align: center;">www.casavitni.com</p>
    
    </div>
    
    <div class="qrContainer">
        <div class="container1">
            <img src="/activos/imagenes/logoTransparente.svg" class="logocasavitini" alt="">
        </div>
    
        <div class="superContainer">
            <p class="text">Escanea este código qr para conocer nuestros productos y servicios</p>
            <img src="/activos/qr/qr2.svg" class="qrlogo" alt="">
            <p class="text">Red WIFI: CV | Contraseña: CasaVitini4</p>
    
            <div class="superContaienrLogo">
                <div>
                </div>
    
                <div>
                    <div class="logos">
                        <div class="itemLogo">
                            <img src="/activos/iconos/instagram.svg" class="logoinstagram" alt="">
                            <p>@Casa_vitini</p>
    
                        </div>
                        <div class="itemLogo">
                            <img src="/activos/iconos/facebook.svg" class="logofacebook" alt="">
                            <p>@Casa_vitini_apartaments</p>
    
                        </div>
                    </div>
    
    
                </div>
    
            </div>
    
    
    
        </div>
        <p style="text-align: center;">www.casavitni.com</p>
    
    </div>
    
    <div class="qrContainer">
        <div class="container1">
            <img src="/activos/imagenes/logoTransparente.svg" class="logocasavitini" alt="">
        </div>
    
        <div class="superContainer">
            <p class="text">Escanea este código qr para conocer nuestros productos y servicios</p>
            <img src="/activos/qr/qr2.svg" class="qrlogo" alt="">
            <p class="text">Red WIFI: CV | Contraseña: CasaVitini4</p>
    
            <div class="superContaienrLogo">
                <div>
                </div>
    
                <div>
                    <div class="logos">
                        <div class="itemLogo">
                            <img src="/activos/iconos/instagram.svg" class="logoinstagram" alt="">
                            <p>@Casa_vitini</p>
    
                        </div>
                        <div class="itemLogo">
                            <img src="/activos/iconos/facebook.svg" class="logofacebook" alt="">
                            <p>@Casa_vitini_apartaments</p>
    
                        </div>
                    </div>
    
    
                </div>
    
            </div>
    
    
    
        </div>
        <p style="text-align: center;">www.casavitni.com</p>
    
    </div>
    
    <div class="qrContainer">
        <div class="container1">
            <img src="/activos/imagenes/logoTransparente.svg" class="logocasavitini" alt="">
        </div>
    
        <div class="superContainer">
            <p class="text">Escanea este código qr para conocer nuestros productos y servicios</p>
            <img src="/activos/qr/qr2.svg" class="qrlogo" alt="">
            <p class="text">Red WIFI: CV | Contraseña: CasaVitini4</p>
    
            <div class="superContaienrLogo">
                <div>
                </div>
    
                <div>
                    <div class="logos">
                        <div class="itemLogo">
                            <img src="/activos/iconos/instagram.svg" class="logoinstagram" alt="">
                            <p>@Casa_vitini</p>
    
                        </div>
                        <div class="itemLogo">
                            <img src="/activos/iconos/facebook.svg" class="logofacebook" alt="">
                            <p>@Casa_vitini_apartaments</p>
    
                        </div>
                    </div>
    
    
                </div>
    
            </div>
    
    
    
        </div>
        <p style="text-align: center;">www.casavitni.com</p>
    
    </div>
    
    <div class="qrContainer">
        <div class="container1">
            <img src="/activos/imagenes/logoTransparente.svg" class="logocasavitini" alt="">
        </div>
    
        <div class="superContainer">
            <p class="text">Escanea este código qr para conocer nuestros productos y servicios</p>
            <img src="/activos/qr/qr2.svg" class="qrlogo" alt="">
            <p class="text">Red WIFI: CV | Contraseña: CasaVitini4</p>
    
            <div class="superContaienrLogo">
                <div>
                </div>
    
                <div>
                    <div class="logos">
                        <div class="itemLogo">
                            <img src="/activos/iconos/instagram.svg" class="logoinstagram" alt="">
                            <p>@Casa_vitini</p>
    
                        </div>
                        <div class="itemLogo">
                            <img src="/activos/iconos/facebook.svg" class="logofacebook" alt="">
                            <p>@Casa_vitini_apartaments</p>
    
                        </div>
                    </div>
    
    
                </div>
    
            </div>
    
    
    
        </div>
        <p style="text-align: center;">www.casavitni.com</p>
    
    </div>
    
    
</div> -->