<p class="tituloGris">Cuentas</p>
<div class="marcoElasticoRelativo flexVertical gap6">
    <p>A continuación se describen nuestras políticas sobre el uso y gestión de las cuentas de usuario.</p>
    <p class="">● Casa Vitini dispone de un sistema de cuenta de usuario para que los titulares de reservas puedan
        acceder
        a un desglose detallado de su reserva de una manera persistente.</p>
    <p class="">● Casa Vitini cifra tu contraseña de tal manera que ni siquiera nosotros podemos descifrarla, mediante
        el
        uso de cifrado de no retorno basado en funciones de hash. Es por ello que, para recuperar una cuenta, debes usar
        el sistema de recuperación de cuentas. Si tampoco tienes acceso al mail de tu cuenta, puedes ponerte en
        contacto con nosotros para buscar una solución alternativa.</p>
    <p>● Los usuarios de Casa Vitini tienen control total de su cuenta, pueden eliminar su cuenta en el momento que
        quieran y sus datos de usuario serán borrados de nuestra base de datos en el acto. También pueden volver a crear
        una cuenta cuando quieran.</p>
    <p>● Por motivos de seguridad y en referencia a nuestras políticas de contraseñas, Casa Vitini solo permite el uso
        de
        contraseñas con un mínimo de 12 caracteres, donde se incluya como mínimo una mayúscula, un número y un carácter
        alternativo a una letra y un número.</p>
    <p>● Por motivos de seguridad, el sistema de identificación solo permite 10 intentos no exitosos consecutivos. Tras
        estos 10 intentos, su cuenta se bloqueará y, para desbloquearla, será necesario recuperar su cuenta mediante el
        envío de un mail con un código único y temporal para desbloquear su cuenta.</p>
    <p>● Las cuentas en Casa Vitini que no se usen durante 6 meses serán borradas. Siempre puede volver a crear una
        cuenta
        de usuario, pero por motivos de seguridad borraremos las cuentas sin 6 meses de uso.</p>
    <p>● El sistema de gestión de sesiones de Casa Vitini permite ver en qué equipos está su sesión activa y cerrar la
        sesión remotamente.</p>
    <p>● Para ver sus reservas desde su cuenta, es necesario verificar su correo electrónico por motivos de seguridad y
        privacidad. Si una vez verificado su correo electrónico actualiza su dirección de correo electrónico, tendrá que
        volver a verificarlo.</p>
    <p>● Casa Vitini permite el uso de cuentas de usuario en navegadores que permitan HTTPS. No es posible identificarse
        con navegadores desactualizados o que no soporten los protocolos TLS de cifrado de punto a punto por motivos de
        seguridad y privacidad.</p>

</div>