<div class="container">
    <div class="imagen1c">
        <div class="tourBoatFishin1">

            <h1 class="titulo">Tour de pesca en lancha</h1>
            <div class="tituloContainer">
                <p> ¡Vive una auténtica aventura de pesca partiendo desde la pintoresca comunidad de Astillero! ¡Sube a
                    bordo de una lancha local y pesca al estilo nica! Además, con un poco de suerte, tendrás
                    la oportunidad de avistar ballenas, tortugas, delfines u otra fauna marina.
                    ¡No te pierdas esta
                    experiencia
                    única!
                </p>
            </div>
        </div>

        <div class="containerCapacidad">
            <p class="texto1_noResponsive">Capcidad: 6 personas</p>
            <p class="texto1_responsive">Cap: 6 personas</p>
            <p class="texto1_noResponsive">Duracion: Máximo 4 Horas</p>
            <p class="texto1_responsive">Duracion: Max 4h</p>
            <p>Precio: 130$</p>
        </div>

        <div class="containerIncluye">
            <div>
                <p>Incluye: </p>
                <br>
                <p>Capitán</p>
                <p>Chalecos salvavidas</p>
                <p>Cañas de pescar</p>
                <p>Viaje de hasta 4 horas</p>
            </div>

            <div class="recuerda">
                <p>Recuerda traer:</p>
                <div class="texto1_noResponsive">Al menos 1,5 litros de agua por persona</div>
                <div class="texto1_responsive">1,5L de agua p/p</div>
                <p>Crema solar</p>
            </div>

        </div>


        <details class="details1">
            <summary class="s">Especies objetivo: </summary>
            <div class="c">
                <div>
                    <p>Según la temporada</p>
                    <br>

                    <div class="tipoPeces">
                        <p>Blue Runner (Gurel)</p>
                        <p>Mackerel (Macarela)</p>
                        <p>Snapper (Pargo)</p>
                        <p>Barracuda (Barracuda)</p>
                        <p>Tuna (Atún)</p>
                        <p>Dorado (Mahi-Mahi)</p>
                        <p>Marlin (Aguja)</p>
                        <p>Depende de latemporada y el lugar</p>

                    </div>

                </div>
            </div>
        </details>
    </div>

    <div class="containerfotos1">
        <div class="containerfoto1"></div>
        <div class="">
            <div class="containerFotos3">

                <div class="fotov1"></div>
                <div class="fotov2"></div>

            </div>
        </div>
    </div>

</div>
<div class="fotoFS"></div>