<p class="tituloGris">Mi Casa Vitini</p>
<div class="marcoElasticoRelativo">
    <div class="marcoElastico">
        <div class="marcoCuenta" componente="marcoCuenta">
            <div class="flexVertical gap10">
                <p class="colorGris1 negrita textoCentrado">Modificar nombre de usuario</p>
                <p class="padding6">Desde aquí puedes cambiar tu nombre de usuario. El cambio es
                    instantáneo. Cuando cambias tu nombre de usuario por uno nuevo, al anterior pasa a estar disponible
                    para que otro lo adquiera.</p>
                <input type="text" class="botonV1BlancoIzquierda_campo" placeholder="Escribe tu nuevo VitiniID"
                    campo="nuevoIDX">
                <div class="miCuenta_cambioClave_contenedorBotones">
                    <div class="botonV1BlancoIzquierda" componente="botonCambiarIDX">Modificar usuario</div>
                </div>

            </div>
        </div>
    </div>
</div>