<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="/componentes/css/casaVitini.css" />
    <link rel="stylesheet" href="/componentes/css/componentes.css" />
    <link rel="shortcut icon" href="/componentes/imagenes/casaVitini.ico" />
    <script src="/componentes/javascript/casaVitini.js"></script>
    <meta name="description" content="Casa Vitini es un rincon de apartamentos en Nicaragua, conoce el lugar y realiza tu reserva para tener una experienca inolvidable">
    <meta name="robots" content="index,nofollow">
    <title>Casa Vitini</title>
     <!-- PWA -->
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="apple-mobile-web-app-title" content="Casa Vitini">
     <link rel="apple-touch-icon" href="icon-iphone.png">
     <link rel="apple-touch-startup-image" href="splash_iphoneX.png">
     <meta name="apple-mobile-web-app-status-bar-style" content="default">
</head>
<body>
        <header id="uiNavegacion"><%- include(vistaGlobal) %></header>
        <main></main>
</body>
</html>