<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="/componentes/css/casaVitini.css" />
    <link rel="stylesheet" href="/componentes/css/componentes.css" />
    <script src="/componentes/javascript/casaVitini.js"></script>
    <script src="/componentes/javascript/luxon.js"></script>
    <script>
        const DateTime = luxon.DateTime;
    </script>
    <title>Casa Vitini</title>
</head>

<body>
    <header><%- include(vistaGlobal) %></header>
    <section></section>
</body>

</html>