<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

        <link rel="preload" href="/activos/css/casaVitini.css" as="style">
        <link rel="stylesheet" href="/activos/css/casaVitini.css">

        <link rel="preload" href="/activos/css/componentes.css" as="style">
        <link rel="stylesheet" href="/activos/css/componentes.css">

        <link rel="shortcut icon" href="/activos/imagenes/casaVitini.ico" />

        <link rel="preload" href="/activos/javascript/casaVitini.js" as="script">
        <script defer src="/activos/javascript/casaVitini.js"></script>

        <meta name="description"
                content="Casa Vitini es un rincón de apartamentos en Nicaragua. Conoce el lugar y realiza tu reserva para tener una experiencia inolvidable.">
        <meta name="robots" content="index,nofollow,noarchive">
        <title>Casa Vitini</title>
        <!-- PWA -->
        <meta name="apple-mobile-web-app-title" content="Casa Vitini">
        <link rel="apple-touch-icon" href="icon-iphone.png">
        <link rel="apple-touch-startup-image" href="splash_iphoneX.png">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

</head>

<body>
        <header componente="uiNavegacion"><%- include(vistaGlobal) %></header>
        <main></main>
</body>

</html>