<div class="marcoElasticoRelativo" contenedor="marcoElasticoRelativo">
    <p class="tituloGris padding16 textoCentrado">Nuevo grupo de usuarios</p>
    <p class="padding16">Crea un nuevo grupo de usuarios, determina el nombre, luego podrás especificar los usuarios que forman parte del grupo y los permisos del grupo. Los nuevos grupos se crean con todos los permisos en "No permitir" por seguridad.</p>
    <input type="text" placeholder="Escribe el nuevo nombre del grupo" campo="grupoUI">
    <div class="botonV1BlancoIzquierda" boton="crearGrupo">Crear nuevo grupo</div>
</div>