.clientes_contenedorBotones {
    display: flex;
    justify-content: flex-end;
}

.detallesReservaTituloCancelarReserva {
    font-size: 20px;
    font-weight: bold;
    margin: 4px;
    text-align: center;
}

.detallesReservaCancelarReservaBloqueBloqueoApartamentos {
    border-radius: 12px;
    gap: 4px;
    row-gap: 4px;
    column-gap: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.detallesReservaCancelarReservaTituloBloquoApartamentos {
    margin: 0px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detallesReservaCancelarBoton {
    background: #00000036;
    padding: 8px;
    border-radius: 8px;
    border-radius: 8px;
    text-align: center;
}

.espacioClientes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 6px;
}

.detallesClienteUI {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
    justify-content: center;
    padding: 0px;
    gap: 6px;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.detallesClienteBloqueHorizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
    background: #dbdbdb;
    padding: 16px;
    border-radius: 20px;
}

.detallesClienteBloqueHorizontalNotas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    gap: 6px;
    align-content: center;
}

.detallesClienteBloqueVertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    border-radius: 6px;
    gap: 20px;
}

.detallesClienteBloqueDato {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.detallesClienteTituloDato {

    font-weight: bold;
}

.detallesClienteUIBotones {
    display: flex;
    gap: 6px;
    border-radius: 10px;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.contenedorOculto {
    display: none;
}


.detallesClienteUIBotones {
    display: flex;
    gap: 6px;
    border-radius: 10px;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.detallesClienteBloqueHorizontal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
    padding: 12px;
    border-radius: 10px;
}

@media (max-width: 720px) {
    .detallesClienteBloqueHorizontal {
        flex-direction: column;
    }
}


.detallesClienteBloqueDato {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0px;
}

.detallesClienteUI {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
    justify-content: center;
    padding: 0px;
    gap: 6px;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.espacioClientes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 6px;
}

.detallesClienteBloqueVertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    border-radius: 6px;
    gap: 20px;
}

.detallesClienteTituloDato {

    font-weight: bold;
    padding: 6px;
}

.detallesClienteBloqueHorizontalNotas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    gap: 6px;
    align-content: center;
    padding: 12px;
}

.detallesClienteDatoCampo {
    resize: none;
}

.espacioClientes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 6px;
}

.campoBuscadorClientes {
    -webkit-appearance: none;
    appearance: none;
    background: rgb(255 255 255 / 0.3);

    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 0px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}


.campoBuscadorClientes::placeholder {
    color: black;
}


@media (max-width: 1300px) {

    [gridUID="gridClientes"] {
        grid-template-columns: auto auto auto auto !important;
    }

    [gridUID="gridClientes"] [nombreColumna="pasaporte"],
    [gridUID="gridClientes"] [celdaIDV="pasaporte"],
    [gridUID="gridClientes"] [nombreColumna="telefono"],
    [gridUID="gridClientes"] [celdaIDV="telefono"],
    [gridUID="gridClientes"] [nombreColumna="mail"],
    [gridUID="gridClientes"] [celdaIDV="mail"] {
        display: none
    }

    [areaGrid="gridClientes"] [contenedor="filtrosOrden"] {
        grid-template-rows: 1fr;
        padding-bottom: 6px;
    }

}


@media (max-width: 720px) {

    [areaGrid="gridClientes"] [gridUID="gridClientes"] {
        display: none;
    }

    [areaGrid="gridClientes"] [contenedor="tarjetas"] {
        display: flex;
        flex-direction: column;
    }

    [areaGrid="grisReservasDelCliente"] [gridUID="grisReservasDelCliente"] {
        display: none;
    }

    [areaGrid="grisReservasDelCliente"] [contenedor="tarjetas"] {
        display: flex;
        flex-direction: column;
    }

    [areaGrid="grisReservasDelCliente"] [contenedor="filtrosOrden"] {
        grid-template-rows: 1fr;
        padding-bottom: 6px;
    }


}